In [1]:
import pandas as pd
import pickle as pkl
pd.set_option('display.max_rows',1000)

In [2]:
stations = ['103 ST', '103 ST-CORONA', '110 ST', '110 ST-CATHEDRL', '110 ST-CPN', '111 ST', '116 ST', '116 ST-COLUMBIA',
            '125 ST', '135 ST', '137 ST CITY COL', '137 ST-CITY COL', '138 ST-3 AVE', '138 ST-GR CONC', '138/GRAND CONC',
            '14 ST', '14 ST-6 AVE', '14 ST-UNION SQ', '145 ST', '148 ST-LENOX', '149 ST-3 AVE', '149 ST-GR CONC',
            '149/GRAND CONC', '14TH STREET', '157 ST', '161 ST-YANKEE', '161/YANKEE STAD', '167 ST', '168 ST',
            '168 ST-BROADWAY', '170 ST', '174 ST', '176 ST', '18 ST', '181 ST', '183 ST', '191 ST', '207 ST', '215 ST',
            '219 ST', '225 ST', '23 ST', '231 ST', '233 ST', '238 ST', '242 ST', '28 ST', '3 AV 138 ST', '3 AV-149 ST',
             '33 ST', '33 ST-RAWSON ST', '33 ST/RAWSON ST', '34 ST-HUDSON YD', '34 ST-PENN STA', '40 ST LOWERY ST',
            '40 ST-LOWERY ST', '42 ST-BRYANT PK', '42 ST-GRD CNTRL', '42 ST-PA BUS TE', '42 ST-PORT AUTH', '42 ST-TIMES SQ',
             '46 ST BLISS ST', '46 ST-BLISS ST', '5 AVE', '5 AVE-BRYANT PK', '50 ST', '51 ST', '52 ST', '52 ST-LINCOLN',
            '59 ST', '59 ST COLUMBUS', '59 ST-COLUMBUS', '6 AV', '6 AVE', '61 ST WOODSIDE', '61 ST/WOODSIDE', '66 ST-LINCOLN',
            '68ST-HUNTER CO', '68ST-HUNTER COL', '69 ST', '69 ST-FISK AVE', '72 ST', '74 ST-BROADWAY', '77 ST', '79 ST',
            '82 ST-JACKSON H', '86 ST', '90 ST-ELMHURST', '96 ST', '9TH STREET', 'ALLERTON AV', 'ALLERTON AVE', 'ASTOR PL',
            'ASTOR PLACE', 'ATL AV-BARCLAY', "B'WAY-LAFAYETTE", 'BARCLAYS CENTER', 'BAYCHESTER AV', 'BAYCHESTER AVE',
            'BEACH 105 ST', 'BEACH 90 ST', 'BEACH 98 ST', 'BEDFORD PARK BL', 'BEDFORD PK BLVD', 'BERGEN ST', 'BEVERLY RD',
             'BEVERLY ROAD', 'BLEECKER ST', 'BOROUGH HALL', 'BOROUGH HALL/CT', 'BOTANIC GARDEN', 'BOWLING GREEN',
            'BROAD CHANNEL', 'BROADWAY/LAFAY', 'BRONX PARK EAST', 'BROOK AV', 'BROOK AVE', 'BROOKLYN BRIDGE',
            'BUHRE AV', 'BUHRE AVE', 'BURKE AV', 'BURKE AVE', 'BURNSIDE AV', 'BURNSIDE AVE', 'CANAL ST', 'CASTLE HILL AV',
            'CASTLE HILL AVE', 'CATHEDRAL PKWY', 'CENTRAL PK N110', 'CHAMBERS ST', 'CHRISTOPHER ST', 'CHURCH AV', 'CHURCH AVE',
            'CITY / BUS', 'CLARK ST', 'CORTLANDT ST', 'COURT SQ', 'CROWN HTS-UTICA', 'CYPRESS AV', 'CYPRESS AVE',
            'DYCKMAN ST', 'DYRE AVE', 'E 143 ST', "E 143/ST MARY'S", 'E 149 ST', 'E 177 ST-PARKCH', 'E 180 ST', 'E TREMONT AVE',
            'EASTCHSTER/DYRE', 'EASTERN PKWY', 'EASTN PKWY-MUSM', 'ELDER AV', 'ELDER AVE', 'EXCHANGE PLACE',
            'FLATBUSH AV-B.C', 'FLATBUSH AVE', 'FLUSHING-MAIN', 'FORDHAM RD', 'FORDHAM ROAD', 'FRANKLIN AV',
            'FRANKLIN AVE', 'FRANKLIN ST', 'FREEMAN ST', 'FULTON ST', 'GRAND ARMY PLAZ', 'GRD CNTRL-42 ST', 'GROVE STREET',
             'GUN HILL RD', 'GUN HILL ROAD', 'HARLEM 148 ST', 'HARRISON', 'HOUSTON ST', 'HOYT ST', 'HUNTERS PT AV',
            'HUNTERS PT AVE', 'HUNTS POINT AV', 'HUNTS POINT AVE', 'INTERVALE AV', 'INTERVALE-163', 'JACKSON AV',
            'JACKSON AVE', 'JKSN HT-ROOSVLT', 'JOURNAL SQUARE', 'JUNCTION BLVD', 'JUNIUS ST', 'KINGSBRIDGE RD',
            'KINGSTON AV', 'KINGSTON AVE', 'LACKAWANNA', 'LEXINGTON AV/53', 'LEXINGTON AVE', 'LEXINGTON-53 ST',
            'LONGWOOD AV', 'LONGWOOD AVE', 'MAIN ST', 'MARBLE HILL-225', 'METS-WILLETS PT', 'MIDDLETOWN RD','MIDDLETOWN ROAD',
             'MORISN AV/SNDVW', 'MORRIS PARK', 'MORRISON AVE', 'MOSHOLU PARKWAY', 'MOSHOLU PKWY', 'MT EDEN AV',
            'MT EDEN AVE', 'NEREID AV', 'NEREID AVE', 'NEVINS ST', 'NEW LOTS AV', 'NEW LOTS AVE', 'NEWARK BM BW',
            'NEWARK C', 'NEWARK HM HE', 'NEWARK HW BMEBE', 'NEWKIRK AV', 'NEWKIRK AVE', 'NOSTRAND AV', 'NOSTRAND AVE',
            'ORCHARD BEACH', 'PARK PLACE', 'PARKCHESTER', 'PATH NEW WTC', 'PATH WTC', 'PATH WTC 2', 'PAVONIA/NEWPORT',
            'PELHAM BAY PARK', 'PELHAM PARKWAY', 'PELHAM PKWY', 'PENNSYLVANIA AV', 'PRESIDENT ST', 'PROSPECT AV', 'PROSPECT AVE',
            'PROSPECT PARK', 'QUEENSBORO PLZ', 'RECTOR ST', 'ROCKAWAY AV', 'ROCKAWAY AVE', 'ROCKAWAY PARK B', 'ROCKAWAY PK 116',
             'ROOSEVELT AVE', 'SARATOGA AV', 'SARATOGA AVE', 'SIMPSON ST', 'SOUTH FERRY', 'SPRING ST', 'ST LAWRENCE AV',
            'ST LAWRENCE AVE', 'ST. GEORGE', 'STERLING ST', 'SUTTER AV-RUTLD', 'SUTTER AVE', 'THIRTY ST', 'THIRTY THIRD ST',
            'TIMES SQ-42 ST', 'TOMPKINSVILLE', 'TWENTY THIRD ST', 'V.CORTLANDT PK', 'VAN SICLEN AV', 'VAN SICLEN AVE',
            'VERNON-JACKSON', 'VERNON/JACKSON', 'WAKEFIELD-241', 'WAKEFIELD/241', 'WALL ST', 'WEST FARMS SQ', 'WESTCHESTER SQ',
             'WHITEHALL S-FRY', 'WHITEHALL ST', 'WHITLOCK AV', 'WHITLOCK AVE', 'WINTHROP ST', 'WOODLAWN', 'WOODLAWN ROAD',
            'WORLD TRADE CTR', 'WTC-CORTLANDT', 'ZEREGA AV', 'ZEREGA AVE']

In [3]:
with open('../get_data/turnstiles.pkl','rb') as f:
    df = pkl.load(f)

In [4]:
df = df.loc[~(df['division']=='PTH')&~(df['division']=='SRT')&~(df['division']=='RIT')]
df

,control_area,unit,scp,station,train_lines,division,desc,entries,exits,datetime
0,A060,R001,00-00-00,WHITEHALL ST,R1,BMT,REGULAR,805439,1141080,2014-10-11 01:00:00
1,A060,R001,00-00-00,WHITEHALL ST,R1,BMT,REGULAR,805459,1141141,2014-10-11 05:00:00
2,A060,R001,00-00-00,WHITEHALL ST,R1,BMT,REGULAR,805589,1141257,2014-10-11 09:00:00
3,A060,R001,00-00-00,WHITEHALL ST,R1,BMT,REGULAR,805834,1141512,2014-10-11 13:00:00
4,A060,R001,00-00-00,WHITEHALL ST,R1,BMT,REGULAR,806150,1141903,2014-10-11 17:00:00
...,...,...,...,...,...,...,...,...,...,...
72804707,R730,R431,00-00-04,EASTCHSTER/DYRE,5,IRT,REGULAR,1559793580,1728258395,2021-10-08 05:00:00
72804708,R730,R431,00-00-04,EASTCHSTER/DYRE,5,IRT,REGULAR,1559793463,1728258434,2021-10-08 09:00:00
72804709,R730,R431,00-00-04,EASTCHSTER/DYRE,5,IRT,REGULAR,1559793445,1728258446,2021-10-08 13:00:00
72804710,R730,R431,00-00-04,EASTCHSTER/DYRE,5,IRT,REGULAR,1559793395,1728258511,2021-10-08 17:00:00
72804711,R730,R431,00-00-04,EASTCHSTER/DYRE,5,IRT,REGULAR,1559793360,1728258559,2021-10-08 21:00:00

In [5]:
check = sorted(df['station'].value_counts().index)

In [6]:
len(check)

549

In [7]:
df.drop(['control_area','scp','desc','unit'],axis=1,inplace=True)
df.rename({'datetime':'date','train_lines':'lines'},axis=1,inplace=True)

In [8]:
irt_df = df.loc[df['lines'].str.contains('1|2|3|4|5|6|7|S')]

In [17]:
irt_df

,station,lines,division,entries,exits,date
0,WHITEHALL ST,R1,BMT,805439,1141080,2014-10-11 01:00:00
1,WHITEHALL ST,R1,BMT,805459,1141141,2014-10-11 05:00:00
2,WHITEHALL ST,R1,BMT,805589,1141257,2014-10-11 09:00:00
3,WHITEHALL ST,R1,BMT,805834,1141512,2014-10-11 13:00:00
4,WHITEHALL ST,R1,BMT,806150,1141903,2014-10-11 17:00:00
...,...,...,...,...,...,...
72804707,EASTCHSTER/DYRE,5,IRT,1559793580,1728258395,2021-10-08 05:00:00
72804708,EASTCHSTER/DYRE,5,IRT,1559793463,1728258434,2021-10-08 09:00:00
72804709,EASTCHSTER/DYRE,5,IRT,1559793445,1728258446,2021-10-08 13:00:00
72804710,EASTCHSTER/DYRE,5,IRT,1559793395,1728258511,2021-10-08 17:00:00
72804711,EASTCHSTER/DYRE,5,IRT,1559793360,1728258559,2021-10-08 21:00:00

In [18]:
with open('data/turnstile_irt.pkl','wb') as f:
    pkl.dump(irt_df, f)

In [9]:
irt_df.loc[irt_df['station']=="5 AVE"]

         station  lines division  entries    exits                date
12066826   5 AVE  7BDFM      IRT   295613  2017798 2015-12-26 03:00:00
12066827   5 AVE  7BDFM      IRT   295615  2017861 2015-12-26 07:00:00
12066828   5 AVE  7BDFM      IRT   295635  2018191 2015-12-26 11:00:00
12066829   5 AVE  7BDFM      IRT   295732  2018975 2015-12-26 15:00:00
12066830   5 AVE  7BDFM      IRT   295993  2019767 2015-12-26 19:00:00
...          ...    ...      ...      ...      ...                 ...
72782225   5 AVE  7BDFM      IRT   397236     1555 2021-10-08 04:00:00
72782226   5 AVE  7BDFM      IRT   397253     1589 2021-10-08 08:00:00
72782227   5 AVE  7BDFM      IRT   397364     1697 2021-10-08 12:00:00
72782228   5 AVE  7BDFM      IRT   397640     1842 2021-10-08 16:00:00
72782229   5 AVE  7BDFM      IRT   398113     1957 2021-10-08 20:00:00

[127546 rows x 6 columns]

In [10]:
sorted(df['station'].value_counts().index)

['1 AV',
 '1 AVE',
 '103 ST',
 '103 ST-CORONA',
 '104 ST',
 '110 ST',
 '110 ST-CATHEDRL',
 '110 ST-CPN',
 '111 ST',
 '116 ST',
 '116 ST-COLUMBIA',
 '121 ST',
 '125 ST',
 '135 ST',
 '137 ST CITY COL',
 '137 ST-CITY COL',
 '138 ST-3 AVE',
 '138 ST-GR CONC',
 '138/GRAND CONC',
 '14 ST',
 '14 ST-6 AVE',
 '14 ST-UNION SQ',
 '145 ST',
 '148 ST-LENOX',
 '149 ST-3 AVE',
 '149 ST-GR CONC',
 '149/GRAND CONC',
 '15 ST-PROSPECT',
 '155 ST',
 '157 ST',
 '161 ST-YANKEE',
 '161/YANKEE STAD',
 '163 ST-AMSTERDM',
 '167 ST',
 '168 ST',
 '168 ST-BROADWAY',
 '169 ST',
 '170 ST',
 '174 ST',
 '174-175 ST',
 '174-175 STS',
 '175 ST',
 '176 ST',
 '18 AV',
 '18 AVE',
 '18 ST',
 '181 ST',
 '182-183 ST',
 '182-183 STS',
 '183 ST',
 '190 ST',
 '191 ST',
 '2 AV',
 '2 AVE',
 '20 AV',
 '20 AVE',
 '207 ST',
 '21 ST',
 '21 ST-QNSBRIDGE',
 '215 ST',
 '219 ST',
 '22 AVE-BAY PKY',
 '225 ST',
 '23 ST',
 '23 ST-5 AVE',
 '23 ST-6 AVE',
 '231 ST',
 '233 ST',
 '238 ST',
 '242 ST',
 '25 AV',
 '25 AVE',
 '25 ST',
 '28 ST',
 '28 ST-BROADWAY',
 '3 AV',
 '3 AV 138 ST',
 '3 AV-149 ST',
 '3 AVE',
 '30 AV',
 '33 ST',
 '33 ST-RAWSON ST',
 '33 ST/RAWSON ST',
 '34 ST-HERALD SQ',
 '34 ST-HUDSON YD',
 '34 ST-PENN STA',
 '36 AV',
 '36 ST',
 '39 AV',
 '4 AV-9 ST',
 '4 AVE',
 '40 ST LOWERY ST',
 '40 ST-LOWERY ST',
 '42 ST-BRYANT PK',
 '42 ST-GRD CNTRL',
 '42 ST-PA BUS TE',
 '42 ST-PORT AUTH',
 '42 ST-TIMES SQ',
 '45 ST',
 '46 ST',
 '46 ST BLISS ST',
 '46 ST-BLISS ST',
 '47-50 ST-ROCK',
 '47-50 STS ROCK',
 '49 ST',
 '49 ST-7 AVE',
 '4AV-9 ST',
 '5 AV/53 ST',
 '5 AV/59 ST',
 '5 AVE',
 '5 AVE-53 ST',
 '5 AVE-59 ST',
 '5 AVE-BRYANT PK',
 '50 ST',
 '51 ST',
 '52 ST',
 '52 ST-LINCOLN',
 '53 ST',
 '55 ST',
 '57 ST',
 '57 ST-7 AV',
 '57 ST-7 AVE',
 '59 ST',
 '59 ST COLUMBUS',
 '59 ST-COLUMBUS',
 '6 AV',
 '6 AVE',
 '61 ST WOODSIDE',
 '61 ST/WOODSIDE',
 '63 DR-REGO PARK',
 '65 ST',
 '66 ST-LINCOLN',
 '67 AV',
 '67 AVE',
 '68ST-HUNTER CO',
 '68ST-HUNTER COL',
 '69 ST',
 '69 ST-FISK AVE',
 '7 AV',
 '7 AV-PARK SLOPE',
 '7 AVE',
 '7 AVE-53 ST',
 '71 ST',
 '72 ST',
 '72 ST-2 AVE',
 '74 ST-BROADWAY',
 '75 AV',
 '75 AVE',
 '75 ST-ELDERTS',
 '77 ST',
 '79 ST',
 '8 AV',
 '8 AVE',
 "8 ST-B'WAY NYU",
 '8 ST-NYU',
 '80 ST',
 '81 ST-MUSEUM',
 '82 ST-JACKSON H',
 '85 ST-FOREST PK',
 '86 ST',
 '86 ST-2 AVE',
 '88 ST',
 '9 AV',
 '9 AVE',
 '9 ST',
 '90 ST-ELMHURST',
 '96 ST',
 '96 ST-2 AVE',
 'ALABAMA AV',
 'ALABAMA AVE',
 'ALLERTON AV',
 'ALLERTON AVE',
 'AQUEDUCT N.COND',
 'AQUEDUCT RACETR',
 'AQUEDUCT TRACK',
 'AQUEDUCT-N CNDT',
 'ASTOR PL',
 'ASTOR PLACE',
 'ASTORIA BLVD',
 'ASTORIA DITMARS',
 'ATL AV-BARCLAY',
 'ATLANTIC AV',
 'ATLANTIC AVE',
 'AVE H',
 'AVE I',
 'AVE J',
 'AVE M',
 'AVE N',
 'AVE P',
 'AVE U',
 'AVE X',
 'AVENUE H',
 'AVENUE I',
 'AVENUE J',
 'AVENUE M',
 'AVENUE N',
 'AVENUE P',
 'AVENUE U',
 'AVENUE X',
 "B'WAY-LAFAYETTE",
 'BARCLAYS CENTER',
 'BAY 50 ST',
 'BAY PARKWAY',
 'BAY PKWY',
 'BAY PKY-22 AVE',
 'BAY RIDGE AV',
 'BAY RIDGE AVE',
 'BAY RIDGE-95 ST',
 'BAYCHESTER AV',
 'BAYCHESTER AVE',
 'BEACH 105 ST',
 'BEACH 25 ST',
 'BEACH 36 ST',
 'BEACH 44 ST',
 'BEACH 60 ST',
 'BEACH 67 ST',
 'BEACH 90 ST',
 'BEACH 98 ST',
 'BEDFORD AV',
 'BEDFORD AVE',
 'BEDFORD PARK BL',
 'BEDFORD PK BLVD',
 'BEDFORD-NOSTRAN',
 'BEDFORD/NOSTRAN',
 'BEEBE-39 AVE',
 'BERGEN ST',
 'BEVERLEY ROAD',
 'BEVERLY RD',
 'BEVERLY ROAD',
 'BLEECKER ST',
 'BOROUGH HALL',
 'BOROUGH HALL/CT',
 'BOTANIC GARDEN',
 'BOWERY',
 'BOWLING GREEN',
 'BOYD-88 ST',
 'BRIARWOOD',
 'BRIGHTON BEACH',
 'BROAD CHANNEL',
 'BROAD ST',
 'BROADWAY',
 'BROADWAY JCT',
 'BROADWAY-31 ST',
 'BROADWAY-ENY',
 'BROADWAY/LAFAY',
 'BRONX PARK EAST',
 'BROOK AV',
 'BROOK AVE',
 'BROOKLYN BRIDGE',
 'BUHRE AV',
 'BUHRE AVE',
 'BURKE AV',
 'BURKE AVE',
 'BURNSIDE AV',
 'BURNSIDE AVE',
 'BUSHWICK AV',
 'BUSHWICK AVE',
 'CANAL ST',
 'CANARSIE-ROCKAW',
 'CARROLL ST',
 'CASTLE HILL AV',
 'CASTLE HILL AVE',
 'CATHEDRAL PKWY',
 'CATHEDRL-110 ST',
 'CENTRAL AV',
 'CENTRAL AVE',
 'CENTRAL PK N110',
 'CHAMBERS ST',
 'CHAUNCEY ST',
 'CHRISTOPHER ST',
 'CHURCH AV',
 'CHURCH AVE',
 'CITY HALL',
 'CLARK ST',
 'CLASSON AV',
 'CLASSON AVE',
 'CLEVELAND ST',
 'CLINTON-WASH AV',
 'CONEY IS-STILLW',
 'CORTELYOU RD',
 'CORTELYOU ROAD',
 'CORTLANDT ST',
 'COURT SQ',
 'COURT SQ-23 ST',
 'CRESCENT ST',
 'CROWN HTS-UTICA',
 'CYPRESS AV',
 'CYPRESS AVE',
 'CYPRESS HILLS',
 'DEKALB AV',
 'DEKALB AVE',
 'DELANCEY ST',
 'DELANCEY/ESSEX',
 'DITMARS BL-31 S',
 'DITMAS AV',
 'DITMAS AVE',
 'DYCKMAN ST',
 'DYCKMAN-200 ST',
 'DYRE AVE',
 'E 143 ST',
 "E 143/ST MARY'S",
 'E 149 ST',
 'E 177 ST-PARKCH',
 'E 180 ST',
 'E TREMONT AVE',
 'EAST 105 ST',
 'EAST BROADWAY',
 'EASTCHSTER/DYRE',
 'EASTERN PKWY',
 'EASTN PKWY-MUSM',
 'ELDER AV',
 'ELDER AVE',
 'ELDERTS LANE',
 'ELMHURST AV',
 'ELMHURST AVE',
 'ESSEX ST',
 'EUCLID AV',
 'EUCLID AVE',
 'FAR ROCKAWAY',
 'FLATBUSH AV-B.C',
 'FLATBUSH AVE',
 'FLUSHING AV',
 'FLUSHING AVE',
 'FLUSHING-MAIN',
 'FORDHAM RD',
 'FORDHAM ROAD',
 'FOREST AVE',
 'FOREST HILLS 71',
 'FOREST HILLS-71',
 'FOREST PARKWAY',
 'FRANKLIN AV',
 'FRANKLIN AVE',
 'FRANKLIN ST',
 'FREEMAN ST',
 'FRESH POND RD',
 'FRESH POND ROAD',
 'FT HAMILTON PKY',
 'FULTON ST',
 'GATES AV',
 'GATES AVE',
 'GRAHAM AV',
 'GRAHAM AVE',
 'GRAND ARMY PLAZ',
 'GRAND AV-NEWTON',
 'GRAND ST',
 'GRAND-30 AVE',
 'GRAND-NEWTOWN',
 'GRANT AV',
 'GRANT AVE',
 'GRD CNTRL-42 ST',
 'GREENPOINT AV',
 'GREENPOINT AVE',
 'GREENWOOD-111',
 'GUN HILL RD',
 'GUN HILL ROAD',
 'HALSEY ST',
 'HARLEM 148 ST',
 'HEWES ST',
 'HIGH ST',
 'HOUSTON ST',
 'HOWARD BCH JFK',
 'HOWARD BCH-JFK',
 'HOYT ST',
 'HOYT ST-ASTORIA',
 'HOYT-SCHER',
 'HOYT/SCHERMER',
 'HUDSON-80 ST',
 'HUNTERS PT AV',
 'HUNTERS PT AVE',
 'HUNTS POINT AV',
 'HUNTS POINT AVE',
 'INTERVALE AV',
 'INTERVALE-163',
 'INWOOD-207 ST',
 'JACKSON AV',
 'JACKSON AVE',
 'JAMAICA 179 ST',
 'JAMAICA CENTER',
 'JAMAICA VAN WK',
 'JAMAICA-179 ST',
 'JAMAICA-VAN WYC',
 'JAY ST-METROTEC',
 'JEFFERSON ST',
 'JFK HOWARD BCH',
 'JFK JAMAICA CT1',
 'JKSN HT-ROOSVLT',
 'JUNCTION BLVD',
 'JUNIUS ST',
 'KEW GARDENS',
 'KINGS HIGHWAY',
 'KINGS HWY',
 'KINGSBRIDGE RD',
 'KINGSTON AV',
 'KINGSTON AVE',
 'KINGSTON-THROOP',
 'KNICKERBOCKER',
 'KOSCIUSZKO ST',
 'LAFAYETTE AV',
 'LAFAYETTE AVE',
 'LEFFERTS BLVD',
 'LEXINGTON AV/53',
 'LEXINGTON AV/63',
 'LEXINGTON AVE',
 'LEXINGTON-53 ST',
 'LIBERTY AV',
 'LIBERTY AVE',
 'LIVONIA AV',
 'LIVONIA AVE',
 'LONGWOOD AV',
 'LONGWOOD AVE',
 'LORIMER ST',
 'MAIN ST',
 'MARBLE HILL-225',
 'MARCY AV',
 'MARCY AVE',
 'METROPOLITAN AV',
 'METS-WILLETS PT',
 'MIDDLETOWN RD',
 'MIDDLETOWN ROAD',
 'MONTROSE AV',
 'MONTROSE AVE',
 'MORGAN AV',
 'MORGAN AVE',
 'MORISN AV/SNDVW',
 'MORRIS PARK',
 'MORRISON AVE',
 'MOSHOLU PARKWAY',
 'MOSHOLU PKWY',
 'MT EDEN AV',
 'MT EDEN AVE',
 'MYRTLE AV',
 'MYRTLE AVE',
 'MYRTLE-WILLOUGH',
 'MYRTLE-WYCKOFF',
 'NASSAU AV',
 'NASSAU ST',
 'NECK RD',
 'NECK ROAD',
 'NEPTUNE AV',
 'NEPTUNE AVE',
 'NEREID AV',
 'NEREID AVE',
 'NEVINS ST',
 'NEW LOTS',
 'NEW LOTS AV',
 'NEW LOTS AVE',
 'NEW UTRECHT AV',
 'NEW UTRECHT AVE',
 'NEWKIRK AV',
 'NEWKIRK AVE',
 'NEWKIRK PLAZA',
 'NORTHERN BLVD',
 'NORWOOD 205 ST',
 'NORWOOD AV',
 'NORWOOD AVE',
 'NORWOOD-205 ST',
 'NOSTRAND AV',
 'NOSTRAND AVE',
 'OCEAN PARKWAY',
 'OCEAN PKWY',
 'ORCHARD BEACH',
 'OXFORD-104 ST',
 'OZONE PK LEFFRT',
 'PARK PLACE',
 'PARKCHESTER',
 'PARKSIDE AV',
 'PARKSIDE AVE',
 'PARSONS BLVD',
 'PELHAM BAY PARK',
 'PELHAM PARKWAY',
 'PELHAM PKWY',
 'PENNSYLVANIA AV',
 'PRESIDENT ST',
 'PRINCE ST',
 "PRINCE ST-B'WAY",
 'PROSPECT AV',
 'PROSPECT AVE',
 'PROSPECT PARK',
 'QUEENS PLAZA',
 'QUEENSBORO PLZ',
 'RALPH AV',
 'RALPH AVE',
 'RECTOR ST',
 'ROCKAWAY AV',
 'ROCKAWAY AVE',
 'ROCKAWAY BLVD',
 'ROCKAWAY PARK B',
 'ROCKAWAY PK 116',
 'ROCKAWAY PKY',
 'ROOSEVELT AVE',
 'ROOSEVELT IS',
 'ROOSEVELT ISLND',
 'SARATOGA AV',
 'SARATOGA AVE',
 'SENECA AVE',
 'SHEEPSHEAD BAY',
 'SHEPHERD AV',
 'SHEPHERD AVE',
 'SIMPSON ST',
 'SMITH-9 ST',
 'SOUTH FERRY',
 'SPRING ST',
 'ST LAWRENCE AV',
 'ST LAWRENCE AVE',
 'STEINWAY ST',
 'STERLING ST',
 'STILLWELL AVE',
 'SUTPHIN BLVD',
 'SUTPHIN-ARCHER',
 'SUTTER AV',
 'SUTTER AV-RUTLD',
 'SUTTER AVE',
 'TIMES SQ-42 ST',
 'TREMONT AV',
 'TREMONT AVE',
 'UNION ST',
 'UNION TPK-KEW G',
 'UTICA AV',
 'UTICA AVE',
 'V.CORTLANDT PK',
 'VAN ALSTON-21ST',
 'VAN SICLEN AV',
 'VAN SICLEN AVE',
 'VAN WYCK BLVD',
 'VERNON-JACKSON',
 'VERNON/JACKSON',
 'W 4 ST-WASH SQ',
 'W 8 ST-AQUARIUM',
 'WAKEFIELD-241',
 'WAKEFIELD/241',
 'WALL ST',
 'WASHINGTON-36 A',
 'WEST FARMS SQ',
 'WESTCHESTER SQ',
 'WHITEHALL S-FRY',
 'WHITEHALL ST',
 'WHITLOCK AV',
 'WHITLOCK AVE',
 'WILSON AV',
 'WILSON AVE',
 'WINTHROP ST',
 'WOODHAVEN BLVD',
 'WOODLAWN',
 'WOODLAWN ROAD',
 'WORLD TRADE CTR',
 'WTC-CORTLANDT',
 'YORK ST',
 'ZEREGA AV',
 'ZEREGA AVE']

In [11]:
stations = ['103 ST', '103 ST-CORONA', '110 ST', '110 ST-CATHEDRL', '110 ST-CPN', '111 ST', '116 ST', '116 ST-COLUMBIA',
            '125 ST', '135 ST', '137 ST CITY COL', '137 ST-CITY COL', '138 ST-3 AVE', '138 ST-GR CONC', '138/GRAND CONC',
            '14 ST', '14 ST-6 AVE', '14 ST-UNION SQ', '145 ST', '148 ST-LENOX', '149 ST-3 AVE', '149 ST-GR CONC',
            '149/GRAND CONC', '14TH STREET', '157 ST', '161 ST-YANKEE', '161/YANKEE STAD', '167 ST', '168 ST',
            '168 ST-BROADWAY', '170 ST', '174 ST', '176 ST', '18 ST', '181 ST', '183 ST', '191 ST', '207 ST', '215 ST',
            '219 ST', '225 ST', '23 ST', '231 ST', '233 ST', '238 ST', '242 ST', '28 ST', '3 AV 138 ST', '3 AV-149 ST',
             '33 ST', '33 ST-RAWSON ST', '33 ST/RAWSON ST', '34 ST-HUDSON YD', '34 ST-PENN STA', '40 ST LOWERY ST',
            '40 ST-LOWERY ST', '42 ST-BRYANT PK', '42 ST-GRD CNTRL',
             '46 ST BLISS ST', '46 ST-BLISS ST', '5 AVE', '5 AVE-BRYANT PK', '50 ST', '51 ST', '52 ST', '52 ST-LINCOLN',
            '59 ST', '59 ST COLUMBUS', '59 ST-COLUMBUS', '6 AV', '6 AVE', '61 ST WOODSIDE', '61 ST/WOODSIDE', '66 ST-LINCOLN',
            '68ST-HUNTER CO', '68ST-HUNTER COL', '69 ST', '69 ST-FISK AVE', '72 ST', '74 ST-BROADWAY', '77 ST', '79 ST',
            '82 ST-JACKSON H', '86 ST', '90 ST-ELMHURST', '96 ST', '9TH STREET', 'ALLERTON AV', 'ALLERTON AVE', 'ASTOR PL',
            'ASTOR PLACE', 'ATL AV-BARCLAY', "B'WAY-LAFAYETTE", 'BARCLAYS CENTER', 'BAYCHESTER AV', 'BAYCHESTER AVE',
            'BEACH 105 ST', 'BEACH 90 ST', 'BEACH 98 ST', 'BEDFORD PARK BL', 'BEDFORD PK BLVD', 'BERGEN ST', 'BEVERLY RD',
             'BEVERLY ROAD', 'BLEECKER ST', 'BOROUGH HALL', 'BOROUGH HALL/CT', 'BOTANIC GARDEN', 'BOWLING GREEN',
            'BROAD CHANNEL', 'BROADWAY/LAFAY', 'BRONX PARK EAST', 'BROOK AV', 'BROOK AVE', 'BROOKLYN BRIDGE',
            'BUHRE AV', 'BUHRE AVE', 'BURKE AV', 'BURKE AVE', 'BURNSIDE AV', 'BURNSIDE AVE', 'CANAL ST', 'CASTLE HILL AV',
            'CASTLE HILL AVE', 'CATHEDRAL PKWY', 'CENTRAL PK N110', 'CHAMBERS ST', 'CHRISTOPHER ST', 'CHURCH AV', 'CHURCH AVE',
            'CITY / BUS', 'CLARK ST', 'CORTLANDT ST', 'COURT SQ', 'CROWN HTS-UTICA', 'CYPRESS AV', 'CYPRESS AVE',
            'DYCKMAN ST', 'DYRE AVE', 'E 143 ST', "E 143/ST MARY'S", 'E 149 ST', 'E 177 ST-PARKCH', 'E 180 ST', 'E TREMONT AVE',
            'EASTCHSTER/DYRE', 'EASTERN PKWY', 'EASTN PKWY-MUSM', 'ELDER AV', 'ELDER AVE', 'EXCHANGE PLACE',
            'FLATBUSH AV-B.C', 'FLATBUSH AVE', 'FLUSHING-MAIN', 'FORDHAM RD', 'FORDHAM ROAD', 'FRANKLIN AV',
            'FRANKLIN AVE', 'FRANKLIN ST', 'FREEMAN ST', 'FULTON ST', 'GRAND ARMY PLAZ', 'GRD CNTRL-42 ST', 'GROVE STREET',
             'GUN HILL RD', 'GUN HILL ROAD', 'HARLEM 148 ST', 'HARRISON', 'HOUSTON ST', 'HOYT ST', 'HUNTERS PT AV',
            'HUNTERS PT AVE', 'HUNTS POINT AV', 'HUNTS POINT AVE', 'INTERVALE AV', 'INTERVALE-163', 'JACKSON AV',
            'JACKSON AVE', 'JKSN HT-ROOSVLT', 'JOURNAL SQUARE', 'JUNCTION BLVD', 'JUNIUS ST', 'KINGSBRIDGE RD',
            'KINGSTON AV', 'KINGSTON AVE', 'LACKAWANNA', 'LEXINGTON AV/53', 'LEXINGTON AVE', 'LEXINGTON-53 ST',
            'LONGWOOD AV', 'LONGWOOD AVE', 'MAIN ST', 'MARBLE HILL-225', 'METS-WILLETS PT', 'MIDDLETOWN RD','MIDDLETOWN ROAD',
             'MORISN AV/SNDVW', 'MORRIS PARK', 'MORRISON AVE', 'MOSHOLU PARKWAY', 'MOSHOLU PKWY', 'MT EDEN AV',
            'MT EDEN AVE', 'NEREID AV', 'NEREID AVE', 'NEVINS ST', 'NEW LOTS AV', 'NEW LOTS AVE', 'NEWARK BM BW',
            'NEWARK C', 'NEWARK HM HE', 'NEWARK HW BMEBE', 'NEWKIRK AV', 'NEWKIRK AVE', 'NOSTRAND AV', 'NOSTRAND AVE',
            'ORCHARD BEACH', 'PARK PLACE', 'PARKCHESTER', 'PATH NEW WTC', 'PATH WTC', 'PATH WTC 2', 'PAVONIA/NEWPORT',
            'PELHAM BAY PARK', 'PELHAM PARKWAY', 'PELHAM PKWY', 'PENNSYLVANIA AV', 'PRESIDENT ST', 'PROSPECT AV', 'PROSPECT AVE',
            'PROSPECT PARK', 'QUEENSBORO PLZ', 'RECTOR ST', 'ROCKAWAY AV', 'ROCKAWAY AVE', 'ROCKAWAY PARK B', 'ROCKAWAY PK 116',
             'ROOSEVELT AVE', 'SARATOGA AV', 'SARATOGA AVE', 'SIMPSON ST', 'SOUTH FERRY', 'SPRING ST', 'ST LAWRENCE AV',
            'ST LAWRENCE AVE', 'ST. GEORGE', 'STERLING ST', 'SUTTER AV-RUTLD', 'SUTTER AVE', 'THIRTY ST', 'THIRTY THIRD ST',
            'TOMPKINSVILLE', 'TWENTY THIRD ST', 'V.CORTLANDT PK', 'VAN SICLEN AV', 'VAN SICLEN AVE',
            'VERNON-JACKSON', 'VERNON/JACKSON', 'WAKEFIELD-241', 'WAKEFIELD/241', 'WALL ST', 'WEST FARMS SQ', 'WESTCHESTER SQ',
             'WHITEHALL S-FRY', 'WHITEHALL ST', 'WHITLOCK AV', 'WHITLOCK AVE', 'WINTHROP ST', 'WOODLAWN', 'WOODLAWN ROAD',
            'WORLD TRADE CTR', 'WTC-CORTLANDT', 'ZEREGA AV', 'ZEREGA AVE']

In [12]:
times_sq = df.loc[(df['station']=='42 ST-PORT AUTH')|(df['station']== '42 ST-PA BUS TE')|
                  (df['station']=='42 ST-TIMES SQ')|(df['station']=='TIMES SQ-42 ST')]

In [13]:
times_sq.set_index('date',inplace=True)

In [14]:
times_sq['station']='times sq-42 st'

<ipython-input-14-963ac772abcb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  times_sq['station']='times sq-42 st'