# Import Libraries/Data

In [1]:
import pandas as pd
import pickle as pkl
import warnings
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',600)

In [2]:
with open('data/backup_data.pkl','rb') as f:
    df = pkl.load(f)
df_r = pd.read_csv('data/ridership.csv')

In [3]:
df['message_lower'] = df['message_lower'].str.replace('.','', regex=True)

In [4]:
df['message_lower'] = df['message_lower'].str.replace(' ave ',' av ',regex=True)

In [5]:
def add_str(list, str):
    str += '{0}'
    list = [str.format(i) for i in list]
    return list

def get_one(value):
    if value is True:
        return 1
    else:
        return 0
    
def become_one(one):
    if one >= 1:
        return 1
    else:
        return 0

In [6]:
df_r.drop('Unnamed: 0', axis=1,inplace=True)

# Set stations for each line

In [7]:
stations_1 = ['van cortlandt','cortlandt','242','238','231','225','marble hill','215','207','dyckman',
              '191','181','168','157 st','145 st','137','125','116 st','columbia u',
              '110','cathedral pk','cathedral park','103','96','86','79','72','66','59', 'columbus',
              '50','times sq','42','34','penn sta','28 st','23 st','18 st','14 st','christopher st','houston st',
              'canal','franklin st','chambers st','wtc','rector st','south f']

"""
Van Cortlandt and 242 St are the same

225 st and marble hill are the same

116 st and columbia u are the same

110 st, cathedral pk and cathedral park are the same

59 st and columbus are the same

times sq and 42 st are the same

34 st and penn sta are the same

ferry, south f and south ferry are the same
"""

'\nVan Cortlandt and 242 St are the same\n\n225 st and marble hill are the same\n\n116 st and columbia u are the same\n\n110 st, cathedral pk and cathedral park are the same\n\n59 st and columbus are the same\n\ntimes sq and 42 st are the same\n\n34 st and penn sta are the same\n\nferry, south f and south ferry are the same\n'

In [8]:
stations_2 = ['241','wakefield', 'nereid','233','225','219','gun hill','burke av','allerton av','pelham p','bx park e',
              'e 180','174','freeman','simpson','intervale av','prospect av','jackson','west farms', 'e tremont',
              'grand co','149 st-grand c', '149 st - grand c', '149 st grand c',
              '135','125','116','central p', '110','96','72','times sq','42','34', '3 av-', '3 av -',
              'penn sta','14 st','chambers','park pl','fulton','wall st','clark','borough hall','hoyt','nevins','atlantic av',
              'bergen st','grand army','eastern p','museum', 'franklin av', 'president st','sterling st',
              'winthrop st','church','beverly','newkirk av','flatbush av']

"""
241 st and wakefield are the same

west farms sq and e tremont are the same

3 av- and 3 av - are same (3 av-149 st)

149 st-grand c, 149 st - grand c, 149 st grand c, and grand co are the same

central p and 110 st are the same

times sq and 42 st are the same

34 st and penn sta are the same

eastern p and museum are the same

flatbush av and brooklyn c are the same

"""

'\n241 st and wakefield are the same\n\nwest farms sq and e tremont are the same\n\n3 av- and 3 av - are same (3 av-149 st)\n\n149 st-grand c, 149 st - grand c, 149 st grand c, and grand co are the same\n\ncentral p and 110 st are the same\n\ntimes sq and 42 st are the same\n\n34 st and penn sta are the same\n\neastern p and museum are the same\n\nflatbush av and brooklyn c are the same\n\n'

In [9]:
stations_3 = ['148', 'harlem','145','135','125','116','central p', '110 st','96','72','times sq','42',
              '34','penn sta','14 st','chambers','park pl','fulton','wall st','clark','borough hall',
              'hoyt','nevins','atlantic av', 'bergen st','grand army','eastern p', 'museum','franklin av',
              'nostrand av','kingston av','crown heights','sutter av','utica av',
             'saratoga av','rockaway av','junius st','pennsylvania av','van siclen','new lots']

"""
148 st and harlem are the same

central p and 110 st are the same

times sq and 42 st are the same

34 st and penn sta are the same

eastern p and museum are the same

crown heights, crown hts and utica av are the same

"""

'\n148 st and harlem are the same\n\ncentral p and 110 st are the same\n\ntimes sq and 42 st are the same\n\n34 st and penn sta are the same\n\neastern p and museum are the same\n\ncrown heights, crown hts and utica av are the same\n\n'

In [10]:
stations_4 = ['woodlawn','moshulu','bedford p', 'kingsbridge','fordham','183','burnside','176',
             'mt eden', 'mount eden', '170','167','161','125','86','59','grand central','utica av',
              '42', '14 st','union sq','bklyn br','fulton','wall st','149','138','brooklyn br', 'city h',
              'bowling green','borough hall','nevins','atlantic av','franklin av','crown heights','lexington']

"""
mt eden and mount eden are same

138 st-grand concourse and 138 st - grand concourse are same

grand central and 42 st are the same

14 st and union sq are the same

crown heights, crown hts and utica av are same

brooklyn br, city h, and bklyn br are the same

"""

'\nmt eden and mount eden are same\n\n138 st-grand concourse and 138 st - grand concourse are same\n\ngrand central and 42 st are the same\n\n14 st and union sq are the same\n\ncrown heights, crown hts and utica av are same\n\nbrooklyn br, city h, and bklyn br are the same\n\n'

In [11]:
stations_5 = ['eastchester','baychester','morris p','e 180','west farms','e tremont','174','freeman',
             'simpson','intervale av','prospect av','jackson','3 av-149','nereid','233',
              '149 st-grand c', '149 st - grand c', '149 st grand c','brooklyn br', 'city h',
              '225','219','burke av','allerton av','bronx p','138','138 st-grand c', '138 st - grand c',
             '125','86 st','59','grand central','42 st','14 st','union sq','bklyn br','fulton','wall st',
             'bowling green','borough hall','nevins','atlantic av','franklin av','president st',
              'sterling','winthrop','church','beverly','newkirk av','flatbush av','lexington']

"""
west farms and e tremont are the same

3 av- and 3 av - are same (3 av-149 st)

149 st-grand concourse, 149 st - grand concourse, 149 st grand concourse are same

138 st, 138 st-grand concourse and 138 st - grand concourse are the same

grand central and 42 st are the same

atlantic av and barclays are same

4/5/6 59 st is different from 1 59 st columbus circle

flatbush av and brooklyn c are the same

gun hill rd and pelham pkwy have to be done separately

brooklyn br, city h, and bklyn br are the same

"""

'\nwest farms and e tremont are the same\n\n3 av- and 3 av - are same (3 av-149 st)\n\n149 st-grand concourse, 149 st - grand concourse, 149 st grand concourse are same\n\n138 st, 138 st-grand concourse and 138 st - grand concourse are the same\n\ngrand central and 42 st are the same\n\natlantic av and barclays are same\n\n4/5/6 59 st is different from 1 59 st columbus circle\n\nflatbush av and brooklyn c are the same\n\ngun hill rd and pelham pkwy have to be done separately\n\nbrooklyn br, city h, and bklyn br are the same\n\n'

In [12]:
stations_25 = ['gun hill','pelham p']
stations_5n2 = ['gun hill','pelham p']

In [13]:
stations_6 = ['pelham b','buhre','middletown','westchester','e tremont','east tremont','zerega','castle hill','parkchester',
              'st lawrence','morrison','elder','whitlock','hunts p','longwood av','east 149','e 149','brooklyn br', 'city h',
              'east 143','e 143','cypress','brook', '3 av-138','3 av 138','125','116','110', '103','96','42',
              '86 st','77','68','59','bleecker','broadway','lafay','bway','grand central','33','28 st',
              '23 st','14 st','union sq','astor','bleeker','spring st','canal','bklyn br']

"""
westchester and e tremont are the same

3 av 138 st,3 av-138 st, 3 av - 138 st, 3 av- 138 st, and 3 av -138 st are same

14 st and union sq are the same

different 96 from 1/2/3

different 86 from 1

different 28 from 1

different 23 from 1

different canal from 1

e tremont and east tremont are the same

e 143 and east 143 are the same

e 149 and east 149 are the same

51 st in stations_em6

brooklyn br, city h, and bklyn br are the same
"""

'\nwestchester and e tremont are the same\n\n3 av 138 st,3 av-138 st, 3 av - 138 st, 3 av- 138 st, and 3 av -138 st are same\n\n14 st and union sq are the same\n\ndifferent 96 from 1/2/3\n\ndifferent 86 from 1\n\ndifferent 28 from 1\n\ndifferent 23 from 1\n\ndifferent canal from 1\n\ne tremont and east tremont are the same\n\ne 143 and east 143 are the same\n\ne 149 and east 149 are the same\n\n51 st in stations_em6\n\nbrooklyn br, city h, and bklyn br are the same\n'

In [14]:
stations_7 = ['flushing', 'mets','111','103','junction b', '90','82','74','69',
             '61','52','46','40','33','rawson','qnsboro pl','queensboro pl','34 st h','34 st-h','34 st- h', 'jackson h',
              '34 st - h','hunters p','vernon b','grand central','42','5 av','times sq','bryant','jackson av','roosevelt']

"""
42, bryant and 5 av are the same

42 and grand central are the same

42 and times sq are the same

34 st h, 34 st-h, 34 st- h, 34 st - h are the same

40 st and 40 lowery st are the same

33 st and rawson are the same

qnsboro pl and queensboro pl are the same

court sq will be in stations_egm7
"""

'\n42, bryant and 5 av are the same\n\n42 and grand central are the same\n\n42 and times sq are the same\n\n34 st h, 34 st-h, 34 st- h, 34 st - h are the same\n\n40 st and 40 lowery st are the same\n\n33 st and rawson are the same\n\nqnsboro pl and queensboro pl are the same\n\ncourt sq will be in stations_egm7\n'

In [15]:
stations_42 = ['times sq','grand central','42 st']

"""
Both 42 st
"""

'\nBoth 42 st\n'

In [16]:
stations_a = ['inwood','207', 'dyckman','200', '190','181','175','168','145','125','59','columbus','port auth','42',
             '34','penn sta','14 st','w 4','wash sq','west 4','washington sq','canal','chambers','fulton','high',
             'jay','hoyt','nostrand','utica','bdwy j','brdwy j','jctn','junction','broadway j','bwy','euclid','grant',
             '80','88','rockaway b','104','111','ozone p','lefferts b','aqueduct r','aqueduct n','conduit','howard b',
             'jfk a','broad ch','beach 67','beach 60','beach 44','beach 36','beach 25','far rockaway','mott av',
             'beach 90','beach 98','beach 105','rockaway p','beach 116']

"""
Inwood and 207 are the same

Dyckman and 200 are the same

Columbus and 59 are the same

Port Auth and 42 are the same

w 4, west 4, wash sq, and washington sq are the same

bwy, bdwy j, brdwy j, jctn, junction, and broadway j are the same

ozone p and lefferts b are the same

aqueduct n and conduit are the same

howard b and jfk a are the same

far rockaway and mott av are the same

rockaway p and beach 116 are the same
"""

'\nInwood and 207 are the same\n\nDyckman and 200 are the same\n\nColumbus and 59 are the same\n\nPort Auth and 42 are the same\n\nw 4, west 4, wash sq, and washington sq are the same\n\nbwy, bdwy j, brdwy j, jctn, junction, and broadway j are the same\n\nozone p and lefferts b are the same\n\naqueduct n and conduit are the same\n\nhoward b and jfk a are the same\n\nfar rockaway and mott av are the same\n\nrockaway p and beach 116 are the same\n'

In [17]:
stations_b = ['bedford','kingsbridge','fordham','182','183','tremont','174','175','170','167','161','155','145','135',
             '125','116','110','cathedral pk','cathedral park','103','96','86','81','museum','72','59','columbus',
             '47-50','47','42','bryant','5 av','34','herald sq','w 4','wash sq','west 4','washington sq',
             'bway l','brdwy l','broadway l','bdwy l','grand st','dekalb','atlantic','prospect','church','newkirk',
             'kings','sheepshead','brighton']

"""
182 and 183 are the same

174 and 175 are the same

110 st, cathedral pk and cathedral park are the same

81 and museum are the same

59 and columbus are the same

47 and 47-50 are the same

42, bryant and 5 av are the same

34 and herald sq are the same

w 4, west 4, wash sq, and washington sq are the same

bway l, brdwy l, broadway l, and bdwy l are the same

7 av (bk) contained in stations_bq

7 av (manh) contained in stations_bde
"""

'\n182 and 183 are the same\n\n174 and 175 are the same\n\n110 st, cathedral pk and cathedral park are the same\n\n81 and museum are the same\n\n59 and columbus are the same\n\n47 and 47-50 are the same\n\n42, bryant and 5 av are the same\n\n34 and herald sq are the same\n\nw 4, west 4, wash sq, and washington sq are the same\n\nbway l, brdwy l, broadway l, and bdwy l are the same\n\n7 av (bk) contained in stations_bq\n\n7 av (manh) contained in stations_bde\n'

In [18]:
stations_c = ['168','163','amsterdam','155','145','135','125','116','110','cathedral pk','cathedral park','103',
             '96','86','81','museum','72','59','columbus','50','port auth','42','34','penn sta','14 st',
              'w 4','wash sq','west 4','washington sq','spring','canal','chambers','fulton','high','jay','hoyt',
             'lafayette av','clinton w','franklin av','nostrand','kingston','utica','ralph','rockaway',
             'bdwy j','brdwy j','jctn','junction','broadway j','bwy','liberty','van siclen','shepherd','euclid']

"""
163 and amsterdam are the same

110 st, cathedral pk and cathedral park are the same

81 and museum are the same

59 and columbus are the same

42 and Port Auth are the same

34 and penn sta are the same

w 4, west 4, wash sq, and washington sq are the same

bwy, bdwy j, brdwy j, jctn, junction, and broadway j are the same

23 st in stations_ce
"""

'\n163 and amsterdam are the same\n\n110 st, cathedral pk and cathedral park are the same\n\n81 and museum are the same\n\n59 and columbus are the same\n\n42 and Port Auth are the same\n\n34 and penn sta are the same\n\nw 4, west 4, wash sq, and washington sq are the same\n\nbwy, bdwy j, brdwy j, jctn, junction, and broadway j are the same\n\n23 st in stations_ce\n'

In [19]:
stations_d = ['norwood','205','bedford','kingsbridge','fordham','182','183','tremont','174','175','170','167',
             '161','155','145','125','59','columbus', '47-50','47','42','bryant','5 av','34','herald sq','w 4',
              'wash sq','west 4','washington sq','bway l','brdwy l','broadway l','bdwy l','grand st','atlantic','36',
             '9 av','fort ham','50','55','62','71','79','18 av','20 av','bay pk','bay park','25 av','bay 50',
              'ft ham','coney','stillwell']

"""
205 and norwood are the same

183 and 182 are the same

175 and 174 are the same

59 and columbus are the same

47 and 47-50 are the same

42, bryant and 5 av are the same

34 and herald sq are the same

w 4, west 4, wash sq, and washington sq are the same

bway l, brdwy l, broadway l, and bdwy l are the same

bay pk and bay park are the same

coney and stillwell are the same

fort ham and ft ham are the same
"""

'\n205 and norwood are the same\n\n183 and 182 are the same\n\n175 and 174 are the same\n\n59 and columbus are the same\n\n47 and 47-50 are the same\n\n42, bryant and 5 av are the same\n\n34 and herald sq are the same\n\nw 4, west 4, wash sq, and washington sq are the same\n\nbway l, brdwy l, broadway l, and bdwy l are the same\n\nbay pk and bay park are the same\n\nconey and stillwell are the same\n\nfort ham and ft ham are the same\n'

In [20]:
stations_e = ['jamaica c','parsons','sutphin','jfk a','jamaica v','briarwood','kew gardens','75 av','forest h','71',
             'jackson h','roosevelt av','queens pl','qns pl',
             'lexington av','50','port auth','42','34','penn sta','14 st','w 4','wash sq','west 4',
              'washington sq','spring','canal','wtc','world trade center']

"""
jamaica c and parsons are the same

sutphin and jfk a are the same

forest h and 71 are the same

queens plaza, qns plz, qns plaza and queens plz are the same

court sq will be in stations_egm7 23 st

42 and port auth are the same

34 and penn sta are the same

w4, wash sq, west 4, and washington sq are the same

wtc and world trade center are the same

5 av in stations_em6
"""

'\njamaica c and parsons are the same\n\nsutphin and jfk a are the same\n\nforest h and 71 are the same\n\nqueens plaza, qns plz, qns plaza and queens plz are the same\n\ncourt sq will be in stations_egm7 23 st\n\n42 and port auth are the same\n\n34 and penn sta are the same\n\nw4, wash sq, west 4, and washington sq are the same\n\nwtc and world trade center are the same\n\n5 av in stations_em6\n'

In [21]:
stations_bde = ['7 av']
stations_ce = ['23 st']

In [22]:
stations_f = ['jamaica','169','parsons','sutphin','briarwood','kew gardens','75 av','forest h','71',
              'jackson h','roosevelt av','21 st', 'queensbr','qnsbr','roosevelt i','lexington av',
              '63','57','47-50','47','42','bryant','5 av','34','herald sq','23 st','14 st','w 4','wash sq',
              'west 4','washington sq','bway l','brdwy l','broadway l','bdwy l','2 av','delancey','essex',
              'east br','e br','york','jay','bergen','carroll','7 av','15 st','prospect p',
             'fort ham','ft ham','church','ditmas','18 av','avenue i','av i', 'bay p', 'avenue n', 'av n','avenue p',
             'av p','kings h','avenue u','av u','avenue x','av x','neptune','west 8','w 8','aquarium','coney','stillwell']

"""
forest h and 71 are the same

21 st, queensbr and qnsbr are the same

lexington av and 63 are the same

47-50 and 47 are the same

42, bryant and 5 av are the same

34 st and herald sq are the same

w 4, west 4, wash sq, and washington sq are the same

bway l, brdwy l, broadway l, and bdwy l are the same

delancey and essex are the same

east br and e br are the same

15 st and prospect p are the same

fort ham and ft ham are the same

avenue i and av i are the same

avenue n and av n are the same

avenue p and av p are the same

avenue u and av u are the same

avenue x and av x are the same

west 8, w 8 and aquarium are the same

coney and stillwell are the same

smith in stations_fg

4 av 9 st are in stations_fgr
"""

'\nforest h and 71 are the same\n\n21 st, queensbr and qnsbr are the same\n\nlexington av and 63 are the same\n\n47-50 and 47 are the same\n\n42, bryant and 5 av are the same\n\n34 st and herald sq are the same\n\nw 4, west 4, wash sq, and washington sq are the same\n\nbway l, brdwy l, broadway l, and bdwy l are the same\n\ndelancey and essex are the same\n\neast br and e br are the same\n\n15 st and prospect p are the same\n\nfort ham and ft ham are the same\n\navenue i and av i are the same\n\navenue n and av n are the same\n\navenue p and av p are the same\n\navenue u and av u are the same\n\navenue x and av x are the same\n\nwest 8, w 8 and aquarium are the same\n\nconey and stillwell are the same\n\nsmith in stations_fg\n\n4 av 9 st are in stations_fgr\n'

In [23]:
stations_g = ['21 st','greenpoint','nassau','metropolitan','broadway','flushing','myrtle','willoughby',
             'bedford','nostrand','classon','clinton','washington','fulton','hoyt','bergen','carroll',
             '7 av','15 st','prospect p','fort ham','ft ham','church']

"""
court sq is in stations_egm7

myrtle and willoughby are the same

bedford and nostrand are the same

clinton and washington are the same

smith and 9 st are in stations_fg

4 av 9 st are in stations_fgr

15 st and prospect p are the same

fort ham and ft ham are the same
"""

'\ncourt sq is in stations_egm7\n\nmyrtle and willoughby are the same\n\nbedford and nostrand are the same\n\nclinton and washington are the same\n\nsmith and 9 st are in stations_fg\n\n4 av 9 st are in stations_fgr\n\n15 st and prospect p are the same\n\nfort ham and ft ham are the same\n'

In [24]:
stations_fg = ['smith','9 st']

In [25]:
stations_j = ['jamaica','parsons','sutphin','jfk','121','111','104','woodhaven','85','forest p','75','elderts',
             'cypress','crescent','norwood','cleveland','van s','alabama','bdwy j','brdwy j','jctn','junction',
              'broadway j','bwy','chauncey','halsey','gates','kosciuszko','myrtle','flushing','lorimer',
             'hewes','marcy','delancey','essex','bowery','canal','chambers','fulton','broad st']

"""
jamaica and parsons are the same

sutphin and jfk are the same

85 and forest p are the same

75 and elderts are the same

bwy, bdwy j, brdwy j, jctn, junction, and broadway j are the same

delancey and essex are the same
"""

'\njamaica and parsons are the same\n\nsutphin and jfk are the same\n\n85 and forest p are the same\n\n75 and elderts are the same\n\nbwy, bdwy j, brdwy j, jctn, junction, and broadway j are the same\n\ndelancey and essex are the same\n'

In [26]:
stations_l = ['8 av','6 av','14 st','union sq','3 av','1 av','bedford','lorimer','graham','grand','montrose',
             'morgan','jefferson','dekalb','myrtle','wyckoff','halsey','wilson','bushwick','aberdeen',
             'bdwy j','brdwy j','jctn','junction','broadway j','bwy','atlantic','sutter','livonia','new lots',
             'e 105','east 105','canarsie','rockaway p']

"""
14 st and union sq are the same

myrtle and wyckoff are the same

bushwick and aberdeen are the same

bwy, bdwy j, brdwy j, jctn, junction, and broadway j are the same

e 105 and east 105 are the same

canarsie and rockaway p are the same
"""

'\n14 st and union sq are the same\n\nmyrtle and wyckoff are the same\n\nbushwick and aberdeen are the same\n\nbwy, bdwy j, brdwy j, jctn, junction, and broadway j are the same\n\ne 105 and east 105 are the same\n\ncanarsie and rockaway p are the same\n'

In [27]:
stations_m = ['forest h','71','67','63','rego','woodhaven','grand','newtown','elmhurst','jackson h',
              'roosevelt av','65','northern blvd','46','steinway','36','queens pl','qns pl',
              'lexington av','47-50','47','42','bryant','34','herald sq','23 st',
             '14 st','w 4','wash sq','west 4','washington sq','bway l','brdwy l','broadway l','bdwy l',
             'delancey','essex','marcy','hewes','lorimer','flushing','myrtle av','central','knickerbocker',
             'wyckoff','seneca','forest av','fresh pond','middle v','metropolitan']

"""
forest h and 71 are the same

63 and rego are the same

grand and newtown are the same

queens plaza, qns plz, qns plaza and queens plz are the same

court sq is in stations_egm7

47-50 and 47 are the same

42, bryant and 5 av are the same

34 and herald sq are the same

w 4, wash sq, west 4, and washington sq are the same

bway l, brdwy l, broadway l, and bdwy l are the same

delancey and essex are the same

middle v and metropolitan are the same
"""

'\nforest h and 71 are the same\n\n63 and rego are the same\n\ngrand and newtown are the same\n\nqueens plaza, qns plz, qns plaza and queens plz are the same\n\ncourt sq is in stations_egm7\n\n47-50 and 47 are the same\n\n42, bryant and 5 av are the same\n\n34 and herald sq are the same\n\nw 4, wash sq, west 4, and washington sq are the same\n\nbway l, brdwy l, broadway l, and bdwy l are the same\n\ndelancey and essex are the same\n\nmiddle v and metropolitan are the same\n'

In [28]:
stations_em = ['5 av','53']
stations_em6 = ['lexington','53','51']
stations_egm7 = ['court sq','23 st']

In [29]:
stations_n = ['ditmars','astoria b','30','broadway','36 av','39','qnsboro pl','queensboro pl','lexington','5 av',
             '57','49','times sq','42','34','herald sq','14 st','union sq','canal','atlantic','36 st','8 av','fort ham',
             'ft ham','new utrecht','18 av','20 av','bay p','kings h','avenue u','av u','86','coney','stillwell']

"""
qnsboro pl and queensboro pl are the same

times sq and 42 are the same

34 and herald sq are the same

14 st and union sq are the same

59 st (bk) in stations_nr

fort ham and ft ham are the same

avenue u and av u are the same

coney and stillwell are the same
"""

'\nqnsboro pl and queensboro pl are the same\n\ntimes sq and 42 are the same\n\n34 and herald sq are the same\n\n14 st and union sq are the same\n\n59 st (bk) in stations_nr\n\nfort ham and ft ham are the same\n\navenue u and av u are the same\n\nconey and stillwell are the same\n'

In [30]:
stations_q = ['96','86','72','lexington','63','57','times sq','42','34','herald sq','14 st','union sq','canal',
             'dekalb','atlantic','prospect p','parkside','church','beverly','cortelyou','newkirk','avenue h','av h',
             'avenue j','av j','avenue m','av m','kings h','avenue u','av u','neck','sheepshead','brighton','ocean',
             'west 8', 'w 8','aquarium','coney','stillwell']

"""
lexington and 63 are the same

times sq and 42 are the same

34 and herald sq are the same

14 st and union sq are the same

7 av in stations_bq

avenue h and av h are the same

avenue j and av j are the same

avenue m and av m are the same

avenue u and av u are the same

west 8, w 8 and aquarium are the same

coney and stillwell are the same
"""

'\nlexington and 63 are the same\n\ntimes sq and 42 are the same\n\n34 and herald sq are the same\n\n14 st and union sq are the same\n\n7 av in stations_bq\n\navenue h and av h are the same\n\navenue j and av j are the same\n\navenue m and av m are the same\n\navenue u and av u are the same\n\nwest 8, w 8 and aquarium are the same\n\nconey and stillwell are the same\n'

In [31]:
stations_bq = ['7 av']

In [32]:
stations_r = ['forest h','71','67','63','rego','woodhaven','grand','elmhurst','jackson h',
             'roosevelt av','65','northern b','46','steinway','36','queens pl','qns pl','95',
             'lexington','5 av','57','7 av','49','times sq','42','34','herald sq','28','23 st','14 st','union sq',
             '8 st','nyu','prince','canal','city h','cortlandt','rector','whitehall','south f','court st','jay',
             'dekalb','atlantic','union st','4 av','9 st','prospect','25 st','36','45','53','bay ridge av','77',
             '86','bay ridge 95 st']

"""
forest h and 71 are the same

63 and rego are the same

queens plaza, qns plz, qns plaza and queens plz are the same

57 and 7 av are the same

times sq and 42

34 and herald sq are the same

14 st and union sq

8 st and nyu are the same

whitehall and south f are the same

4 av

9 st

59 st (bk) is in stations_nr
"""

'\nforest h and 71 are the same\n\n63 and rego are the same\n\nqueens plaza, qns plz, qns plaza and queens plz are the same\n\n57 and 7 av are the same\n\ntimes sq and 42\n\n34 and herald sq are the same\n\n14 st and union sq\n\n8 st and nyu are the same\n\nwhitehall and south f are the same\n\n4 av\n\n9 st\n\n59 st (bk) is in stations_nr\n'

In [33]:
stations_fgr = ['4 av','9 st']
stations_nr = ['59 st']

In [34]:
stations_w = ['ditmars','astoria b','30','broadway','36 av','39','qnsboro pl','queensboro pl','lexington','5 av',
             '57','49','times sq','42','34','herald sq','14 st','union sq','8 st','nyu','prince','canal','city h',
             'cortlandt','rector','whitehall','south f']

"""
qnsboro pl and queensboro pl are the same

times sq and 42 are the same

34 and herald sq are the same

14 st and union sq are the same

8 st and nyu are the same

whitehall and south f are the same
"""

'\nqnsboro pl and queensboro pl are the same\n\ntimes sq and 42 are the same\n\n34 and herald sq are the same\n\n14 st and union sq are the same\n\n8 st and nyu are the same\n\nwhitehall and south f are the same\n'

In [35]:
stations_z = ['jamaica','parsons','sutphin','jfk','121','104','woodhaven','75','elderts','crescent','norwood',
             'van siclen','alabama','bdwy j','brdwy j','jctn','junction','broadway j','bwy','chauncey','gates',
             'myrtle','marcy','delancey','essex','bowery','canal','chambers','fulton','broad']

"""
jamaica and parsons are the same

sutphin and jfk are the same

75 and elderts are the same

bdwy j, brdwy j, jctn, junction, broadway j, and bwy are the same

delancey and essex are the same
"""

'\njamaica and parsons are the same\n\nsutphin and jfk are the same\n\n75 and elderts are the same\n\nbdwy j, brdwy j, jctn, junction, broadway j, and bwy are the same\n\ndelancey and essex are the same\n'

In [36]:
stations_frnk = ['franklin av','park p','botanic g','prospect p']

In [37]:
stations_rck = ['broad ch','beach 90','beach 98','beach 105','rockaway p','beach 116']

"""
rockaway p and beach 116 are the same 
"""

'\nrockaway p and beach 116 are the same \n'

# Creating station delay column

In [38]:
station_lookup = (stations_1 + stations_2 + stations_3 + stations_4 + stations_5 + stations_6 + stations_7
                  + stations_42 + stations_a + stations_b + stations_c + stations_d + stations_e + stations_f
                  + stations_g + stations_j + stations_l + stations_m + stations_n + stations_q + stations_r
                  + stations_w + stations_z + stations_frnk + stations_rck + stations_bde + stations_ce
                 + stations_egm7 + stations_bq + stations_nr + stations_fgr + stations_em6 + stations_fg)

In [39]:
station_lookup_at = add_str(station_lookup,'at ')
station_lookup_by = add_str(station_lookup,'by ')
station_lookup_of = add_str(station_lookup,'of ')
station_lookup_near = add_str(station_lookup,'near ')
station_lookup_el = add_str(station_lookup,'entering/leaving ')

station_lookup_pre = (station_lookup_at+station_lookup_by+station_lookup_of+station_lookup_near+station_lookup_el)

In [40]:
station_lookup_bw = add_str(station_lookup,'between ')
station_lookup_and = add_str(station_lookup, ' and ')
station_lookup_to = add_str(station_lookup, ' to ')
station_lookup_amp = add_str(station_lookup, ' & ')
station_lookup_suf = (station_lookup_and + station_lookup_to + station_lookup_amp)

In [41]:
df['delayed_stations'] = df['message_lower'].str.extract('({0})'.format('|'.join(station_lookup_pre)))
df['delayed_stations'] = df['delayed_stations'].str.replace('of ','')
df['delayed_stations'] = df['delayed_stations'].str.replace('at ','')
df['delayed_stations'] = df['delayed_stations'].str.replace('by ','')
df['delayed_stations'] = df['delayed_stations'].str.replace('near ','')
df['delayed_stations'] = df['delayed_stations'].str.replace('entering/leaving ','')

## Creating for between stations (not sure on use yet)

The problem with the between stations is, it's extremely ambiguous. The way I set them out, they will only be used on rows that do not already have a delayed_station from the previous section, however this doesn't guarantee that it's capturing tunnel delays (and I'm really not about to check 1000 records either).

I believe what I will do is take any of the delays in tunnels that occur over x amount of times (5?) and then manually impute on each station, ie from Queens Plaza to Forest Hills, though this itself runs into other issues - for example, those are express stations with local stations between.

There's a lot to think about with this "between_stations" column, and I intend to figure out what. It might only be ~1000 in a dataset of ~80,000 but who knows the effect it might have.

In [42]:
df['between_stations_1'] = df['message_lower'].str.extract('({0})'.format('|'.join(station_lookup_bw)))

In [43]:
df['between_stations_2'] = df['message_lower'].str.extract('({0})'.format('|'.join(station_lookup_suf)))

In [44]:
df['between_stations'] = (df['between_stations_1'] + df['between_stations_2'])
df['between_stations']

0                              NaN
1        between dekalb and church
2                              NaN
3                              NaN
4                              NaN
                   ...
79924                          NaN
79925                          NaN
79926                          NaN
79927                          NaN
79928                          NaN
Name: between_stations, Length: 79929, dtype: object

In [45]:
ind = df.loc[~df['delayed_stations'].isna()].index

In [46]:
df.loc[ind, 'between_stations'] = None

In [47]:
df.drop(['between_stations_1','between_stations_2'],axis=1,inplace=True)

# Station Location Indexation

In [48]:
st_1 = df.loc[df['subject'].str.contains(' 1 ')].index
st_2 = df.loc[df['subject'].str.contains(' 2 ')].index
st_3 = df.loc[df['subject'].str.contains(' 3 ')].index
st_4 = df.loc[df['subject'].str.contains(' 4 ')].index
st_5 = df.loc[df['subject'].str.contains(' 5 ')].index
st_6 = df.loc[df['subject'].str.contains(' 6 ')].index
st_7 = df.loc[df['subject'].str.contains(' 7 ')].index
st_42 = df.loc[df['subj_lower'].str.contains('42 st s|42 street s')].index
st_a = df.loc[df['subject'].str.contains(' A ')].index
st_b = df.loc[df['subject'].str.contains(' B ')].index
st_c = df.loc[df['subject'].str.contains(' C ')].index
st_d = df.loc[df['subject'].str.contains(' D ')].index
st_e = df.loc[df['subject'].str.contains(' E ')].index
st_f = df.loc[df['subject'].str.contains(' F ')].index
st_g = df.loc[df['subject'].str.contains(' G ')].index
st_j = df.loc[df['subject'].str.contains(' J ')].index
st_l = df.loc[df['subject'].str.contains(' L ')].index
st_m = df.loc[df['subject'].str.contains(' M ')].index
st_n = df.loc[df['subject'].str.contains(' N ')].index
st_q = df.loc[df['subject'].str.contains(' Q ')].index
st_r = df.loc[df['subject'].str.contains(' R ')].index
st_w = df.loc[df['subject'].str.contains(' W ')].index
st_z = df.loc[df['subject'].str.contains(' Z ')].index
st_frnk = df.loc[df['subj_lower'].str.contains('franklin av s')].index
st_rck = df.loc[df['subj_lower'].str.contains('rockaway park s')].index

st_25 = df.loc[(df['subject'].str.contains(' 2 '))&(df['subject'].str.contains(' 5 '))].index

st_5n2 = df.loc[~df['subject'].str.contains(' 2 ')]
st_5n2 = st_5n2.loc[st_5n2['subject'].str.contains(' 5 ')].index

st_bde = df.loc[(df['subject'].str.contains(' B ')) & (df['subject'].str.contains(' D '))
                & (df['subject'].str.contains(' E '))].index

st_ce = df.loc[(df['subject'].str.contains(' C ')) & (df['subject'].str.contains(' E '))].index

st_egm7 = df.loc[(df['subject'].str.contains(' E ')) & (df['subject'].str.contains(' G '))
                 &(df['subject'].str.contains(' M ')) & (df['subj_lower'].str.contains(' 7 '))].index

st_bq = df.loc[(df['subject'].str.contains(' B ')) & (df['subject'].str.contains(' Q '))].index
st_nr = df.loc[~(df['subject'].str.contains(' 4 ')|(df['subject'].str.contains(' 5 '))|
                                                   (df['subject'].str.contains(' 6 ')))]
st_nr = df.loc[(df['subject'].str.contains(' N ')) & (df['subject'].str.contains(' R '))].index
st_fg = df.loc[(df['subject'].str.contains(' F ')) & (df['subject'].str.contains(' G '))].index
st_fgr = df.loc[(df['subject'].str.contains(' F ')) & (df['subject'].str.contains(' G '))
                      & (df['subject'].str.contains(' R '))].index

st_em = df.loc[~df['subject'].str.contains(' 6 ')]
st_em = st_em.loc[(st_em['subject'].str.contains(' E '))&(st_em['subject'].str.contains(' M '))].index

st_em6 = df.loc[(df['subject'].str.contains(' E ')) & (df['subject'].str.contains(' M '))
                & (df['subj_lower'].str.contains(' 6 '))].index

In [49]:
stations = df_r['station']
stations = list(stations)

In [50]:
for i in stations:
    df.insert(0,i,0)
warnings.filterwarnings('ignore')

C:\Users\sethk\anaconda3\envs\mta_env\lib\site-packages\IPython\core\interactiveshell.py:3361: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if (await self.run_code(code, result,  async_=asy)):

# Train Lines

This part is simple yet very, very repetitive. I might move it to another notebook if it takes up too much RAM.

Anyways, here's a step-by-step breakdown of what's about to happen for each line in the system, starting with the IRT:

1. Run a for-loop on the above station lists which were used to create the delayed_stations.
       1a. This for-loop will take each instance of the station as it occurs in df['delayed_stations'] and create it as a 
       new column with a "1" imputed wherever it occurs.
       
       
2. Using our conventional station names list from the MTA ridership info, which has been fully inserted as columns to our df, we will locate each instance of whichever line we are looking at and print it out for an easy copy-paste (I will hash out the for-loop here once I've used it).


3. Here comes the not-fun part. I have a sorted list of each station name that was used to create delayed_stations on another otherwise-blank notebook. We go through each and input it into its proper station.


4. Once we've done this for every station, we will drop all of the listed stations.


5. This is where it gets a little tricky. Once we get passed the 1 train, there will be repeaters, such as Times Square. They will have to add themselves, plus 42 + times sq + etc. again.
   
   5a. We will apply become_one to every station once we have finished all of the lines.
    
    
This whole process is going to take a while, but the final result will be a detailed account of about 70k station delays in a dataframe of 80k.

I will also be "diverting" in certain subgroups that aren't straight-forward. For example, the nightmares that are Gun Hill Road on the 5 line and 7 Av on the B line, both of which occur twice on each line as different stations with the exact same name, for some inexplicable reason.

Anyways, without any further hesitation, here is my masterpiece:

## 1 Train (IRT)

In [51]:
for s in stations_1:
    delayed = df.loc[st_1]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [52]:
line = df_r.loc[df_r['station'].str.contains('\(1\)|1/|/1')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [53]:
df['WTC Cortlandt (1)'] = df.loc[:, ['cortlandt','wtc']].sum(axis=1)
df['Van Cortlandt Park-242 St (1)'] = (df['van cortlandt'] + df['242'])
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] = df.loc[:,['times sq','42']].sum(axis=1)
df['South Ferry (1)/Whitehall St (R/W)'] = df['south f']
df['Rector St (1)'] = df['rector st']
df['Marble Hill-225 St (1)'] = df.loc[:, ['marble hill','225']].sum(axis=1)
df['Houston St (1)'] = df['houston st']
df['Franklin St (1)'] = df['franklin st']
df['Dyckman St (1)'] = df['dyckman']
df['Christopher St-Sheridan Sq (1)'] = df['christopher st']
df['Chambers St (1/2/3)'] = df['chambers st']
df['Cathedral Pkwy-110 St (1)'] = df.loc[:, ['cathedral park','cathedral pk','110']].sum(axis=1)
df['Canal St (1)'] = df['canal']
df['96 St (1/2/3)'] = df['96']
df['86 St (1)'] = df['86']
df['79 St (1)'] = df['79']
df['72 St (1/2/3)'] = df['72']
df['66 St-Lincoln Center (1)'] = df['66']
df['59 St-Columbus Circle (A/B/C/D/1)'] = df.loc[:, ['59','columbus']].sum(axis=1)
df['50 St (1)'] = df['50']
df['34 St-Penn Station (1/2/3)'] = df.loc[:, ['34','penn sta']].sum(axis=1)
df['28 St (1)'] = df['28 st']
df['238 St (1)'] = df['238']
df['231 St (1)'] = df['231']
df['23 St (1)'] = df['23 st']
df['215 St (1)'] = df['215']
df['207 St (1)'] = df['207']
df['191 St (1)'] = df['191']
df['181 St (1)'] = df['181']
df['18 St (1)'] = df['18 st']
df['168 St (A/C/1)'] = df['168']
df['157 St (1)'] = df['157 st']
df['145 St (1)'] = df['145 st']
df['14 St (F/M/1/2/3)/6 Av (L)'] = df['14 st']
df['137 St-City College (1)'] = df['137']
df['125 St (1)'] = df['125']
df['116 St-Columbia University (1)'] = df.loc[:, ['116 st','columbia u']].sum(axis=1)
df['103 St (1)'] = df['103']

In [54]:
for col in stations_1:
    df.drop(col,axis=1,inplace=True)

## 2 Train (IRT)

In [55]:
for s in stations_2:
    delayed = df.loc[st_2]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [56]:
line = df_r.loc[df_r['station'].str.contains('\(2\)|2/|/2')]
line = list(line['station'])
# for line in line_2:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [57]:
df['116 St (2/3)'] = df['116']
df['125 St (2/3)'] = df['125']
df['135 St (2/3)'] = df['135']
df['14 St (F/M/1/2/3)/6 Av (L)'] = df['14 st']
df['149 St-Grand Concourse (2/4/5)'] = df.loc[:, ['149 st-grand c','149 st grand c',
                                                  '149 st - grand c']].sum(axis=1)
df['174 St (2/5)'] = df['174']
df['219 St (2/5)'] = df['219']
df['225 St (2/5)'] = df['225']
df['233 St (2/5)'] = df['233']
df['3 Av-149 St (2/5)'] = df.loc[:, ['3 av-','3 av -']].sum(axis=1)
df['34 St-Penn Station (1/2/3)'] = df.loc[:, ['34 St-Penn Station (1/2/3)','penn sta','34']].sum(axis=1)
df['72 St (1/2/3)'] = df['72']
df['96 St (1/2/3)'] = df['96']
df['Allerton Av (2/5)'] = df['allerton av']
df['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)'] = df['atlantic av']
df['Bergen St (2/3)'] = df['bergen st']
df['Beverly Rd (2/5)'] = df['beverly']
df['Bronx Park East (2/5)'] = df['bx park e']
df['Burke Av (2/5)'] = df['burke av']
df['Central Park North-110 St (2/3)'] = df.loc[:, ['central p','110']].sum(axis=1)
df['Chambers St (1/2/3)'] = df.loc[:, ['Chambers St (1/2/3)','chambers']].sum(axis=1)
df['Chambers St (A/C)/WTC (E)/Park Pl (2/3)/Cortlandt (R/W)'] = df['park pl']
df['Church Av (2/5)'] = df['church']
df['Clark St (2/3)'] = df['clark']
df['Court St (R)/Borough Hall (2/3/4/5)'] = df['borough hall']
df['East 180 St (2/5)'] = df['e 180']
df['Eastern Pkwy-Brooklyn Museum (2/3)'] = df.loc[:, ['museum','eastern p']].sum(axis=1)
df['Flatbush Av-Brooklyn College (2/5)'] = df['flatbush av']
df['Franklin Av (2/3/4/5)/Botanic Garden (S)'] = df['franklin av']
df['Freeman St (2/5)'] = df['freeman']
df['Fulton St (A/C/J/Z/2/3/4/5)'] = df['fulton']
df['Grand Army Plaza (2/3)'] = df['grand army']
df['Gun Hill Rd (2/5)'] = df['gun hill']
df['Hoyt St (2/3)'] = df['hoyt']
df['Intervale Av (2/5)'] = df['intervale av']
df['Jackson Av (2/5)'] = df['jackson']
df['Nereid Av (2/5)'] = df['nereid']
df['Nevins St (2/3/4/5)'] = df['nevins']
df['Newkirk Av (2/5)'] = df['newkirk av']
df['Pelham Pkwy (2/5)'] = df['pelham p']
df['President St (2/5)'] = df['president st']
df['Prospect Av (2/5)'] = df['prospect av']
df['Simpson St (2/5)'] = df['simpson']
df['Sterling St (2/5)'] = df['sterling st']
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] = df.loc[:, ['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)',
                                                                    'times sq','42']].sum(axis=1)
df['Wakefield-241 St (2)'] = df.loc[:, ['wakefield','241']].sum(axis=1)
df['Wall St (2/3)'] = df['wall st']
df['West Farms Sq-East Tremont Av (2/5)'] = df.loc[:, ['west farms','e tremont']].sum(axis=1)
df['Winthrop St (2/5)'] = df['winthrop st']

In [58]:
for col in stations_2:
    df.drop(col,axis=1,inplace=True)

## 3 Train (IRT)

In [59]:
for s in stations_3:
    delayed = df.loc[st_3]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [60]:
line = df_r.loc[df_r['station'].str.contains('\(3\)|3/|/3')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [61]:
df['116 St (2/3)'] = df.loc[:, ['116 St (2/3)','116']].sum(axis=1)
df['125 St (2/3)'] = df.loc[:,['125 St (2/3)','125']].sum(axis=1)
df['135 St (2/3)'] = df.loc[:,['135 St (2/3)','135']].sum(axis=1)
df['14 St (F/M/1/2/3)/6 Av (L)'] = df.loc[:, ['14 St (F/M/1/2/3)/6 Av (L)','14 st']].sum(axis=1)
df['145 St (3)'] = df['145']
df['34 St-Penn Station (1/2/3)'] = df.loc[:, ['34 St-Penn Station (1/2/3)','penn sta','34']].sum(axis=1)
df['72 St (1/2/3)'] = df.loc[:,['72 St (1/2/3)','72']].sum(axis=1)
df['96 St (1/2/3)'] = df.loc[:,['96 St (1/2/3)','96']].sum(axis=1)
df['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)'] = df.loc[:, ['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)',
                                                                'atlantic av']].sum(axis=1)
df['Bergen St (2/3)'] = df.loc[:, ['Bergen St (2/3)','bergen st']].sum(axis=1)
df['Central Park North-110 St (2/3)'] = df.loc[:,['Central Park North-110 St (2/3)','central p','110 st']].sum(axis=1)
df['Chambers St (1/2/3)'] = df.loc[:, ['Chambers St (1/2/3)','chambers']].sum(axis=1)
df['Chambers St (A/C)/WTC (E)/Park Pl (2/3)/Cortlandt (R/W)'] = df.loc[:, 
                                                                       ['Chambers St (A/C)/WTC (E)/Park Pl (2/3)/Cortlandt (R/W)',
                                                                        'park pl']].sum(axis=1)
df['Clark St (2/3)'] = df.loc[:, ['Clark St (2/3)','clark']].sum(axis=1)
df['Court St (R)/Borough Hall (2/3/4/5)'] = df.loc[:, ['Court St (R)/Borough Hall (2/3/4/5)','borough hall']].sum(axis=1)
df['Crown Heights-Utica Av (3/4)'] = df.loc[:,['crown heights','utica av']].sum(axis=1)
df['Eastern Pkwy-Brooklyn Museum (2/3)'] = df.loc[:, ['Eastern Pkwy-Brooklyn Museum (2/3)','eastern p','museum']].sum(axis=1)
df['Franklin Av (2/3/4/5)/Botanic Garden (S)'] = df.loc[:, ['Franklin Av (2/3/4/5)/Botanic Garden (S)',
                                                            'franklin av']].sum(axis=1)
df['Fulton St (A/C/J/Z/2/3/4/5)'] = df.loc[:,['Fulton St (A/C/J/Z/2/3/4/5)','fulton']].sum(axis=1)
df['Grand Army Plaza (2/3)'] = df.loc[:,['Grand Army Plaza (2/3)','grand army']].sum(axis=1)
df['Harlem-148 St (3)'] = df.loc[:,['harlem','148']].sum(axis=1)
df['Hoyt St (2/3)'] = df.loc[:, ['Hoyt St (2/3)','hoyt']].sum(axis=1)
df['Junius St (3)'] = df['junius st']
df['Kingston Av (3)'] = df['kingston av']
df['Nevins St (2/3/4/5)'] = df.loc[:,['Nevins St (2/3/4/5)','nevins']].sum(axis=1)
df['New Lots Av (3)'] = df['new lots']
df['Nostrand Av (3)'] = df['nostrand av']
df['Pennsylvania Av (3)'] = df['pennsylvania av']
df['Rockaway Av (3)'] = df['rockaway av']
df['Saratoga Av (3)'] = df['saratoga av']
df['Sutter Av-Rutland Rd (3)'] =  df['sutter av']
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] = df.loc[:, ['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)',
                                                                    'times sq','42']].sum(axis=1)
df['Van Siclen Av (3)'] = df['van siclen']
df['Wall St (2/3)'] = df.loc[:,['Wall St (2/3)','wall st']].sum(axis=1)

In [62]:
for col in stations_3:
    df.drop(col,axis=1,inplace=True)

## 4 Train (IRT)

In [63]:
for s in stations_4:
    delayed = df.loc[st_4]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [64]:
line = df_r.loc[df_r['station'].str.contains('\(4\)|4/|/4')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [65]:
df['125 St (4/5/6)'] = df['125']
df['138 St-Grand Concourse (4/5)'] = df['138']
df['14 St-Union Sq (L/N/Q/R/W/4/5/6)'] = df.loc[:,['union sq','14 st']].sum(axis=1)
df['149 St-Grand Concourse (2/4/5)'] = df['149']
df['161 St-Yankee Stadium (B/D/4)'] = df['161']
df['167 St (4)'] = df['167']
df['170 St (4)'] = df['170']
df['176 St (4)'] = df['176']
df['183 St (4)'] = df['183']
df['86 St (4/5/6)'] = df['86']
df['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)'] = df.loc[:, ['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)',
                                                                'atlantic av']].sum(axis=1)
df['Bedford Park Blvd-Lehman College (4)'] = df['bedford p']
df['Bowling Green (4/5)'] = df['bowling green']
df['Brooklyn Bridge-City Hall (4/5/6)/Chambers St (J/Z)'] = df.loc[:,['bklyn br','brooklyn br','city h']].sum(axis=1)
df['Burnside Av (4)'] = df['burnside']
df['Court St (R)/Borough Hall (2/3/4/5)'] = df.loc[:,['Court St (R)/Borough Hall (2/3/4/5)','borough hall']].sum(axis=1)
df['Crown Heights-Utica Av (3/4)'] = df.loc[:,['Crown Heights-Utica Av (3/4)','crown heights','utica av']].sum(axis=1)
df['Fordham Rd (4)'] = df['fordham']
df['Franklin Av (2/3/4/5)/Botanic Garden (S)'] = df.loc[:, ['Franklin Av (2/3/4/5)/Botanic Garden (S)',
                                                            'franklin av']].sum(axis=1)
df['Fulton St (A/C/J/Z/2/3/4/5)'] = df.loc[:,['Fulton St (A/C/J/Z/2/3/4/5)','fulton']].sum(axis=1)
df['Grand Central-42 St (S/4/5/6/7)'] = df.loc[:,['grand central','42']].sum(axis=1)
df['Kingsbridge Rd (4)'] = df['kingsbridge']
df['Lexington Av (N/R/W)/59 St (4/5/6)'] = df.loc[:,['lexington','59']].sum(axis=1)
df['Mosholu Pkwy (4)'] = df['moshulu']
df['Mt Eden Av (4)'] = df['mt eden']
df['Nevins St (2/3/4/5)'] = df.loc[:,['Nevins St (2/3/4/5)','nevins']].sum(axis=1)
df['Wall St (4/5)'] = df['wall st']
df['Woodlawn (4)'] = df['woodlawn']

In [66]:
for col in stations_4:
    df.drop(col,axis=1,inplace=True)

## 5 Train (IRT)

In [67]:
for s in stations_5:
    delayed = df.loc[st_5]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [68]:
line = df_r.loc[df_r['station'].str.contains('\(5\)|5/|/5')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [69]:
df['125 St (4/5/6)'] = df.loc[:,['125 St (4/5/6)','125']].sum(axis=1)
df['138 St-Grand Concourse (4/5)'] = df.loc[:, ['138 St-Grand Concourse (4/5)', '138 st-grand c',
                                               '138']].sum(axis=1)
df['14 St-Union Sq (L/N/Q/R/W/4/5/6)'] = df.loc[:,['14 St-Union Sq (L/N/Q/R/W/4/5/6)','union sq','14 st']].sum(axis=1)
df['149 St-Grand Concourse (2/4/5)'] = df.loc[:,['149 St-Grand Concourse (2/4/5)','149 st-grand c',
                                                '149 st grand c','149 st - grand c']].sum(axis=1)
df['174 St (2/5)'] = df.loc[:,['174 St (2/5)','174']].sum(axis=1)
df['219 St (2/5)'] = df.loc[:,['219 St (2/5)','219']].sum(axis=1)
df['225 St (2/5)'] = df.loc[:,['225 St (2/5)','225']].sum(axis=1)
df['233 St (2/5)'] = df.loc[:,['233 St (2/5)','233']].sum(axis=1)
df['3 Av-149 St (2/5)'] = df.loc[:,['3 Av-149 St (2/5)','3 av-149']].sum(axis=1)
df['86 St (4/5/6)'] = df.loc[:, ['86 St (4/5/6)','86 st']].sum(axis=1)
df['Allerton Av (2/5)'] = df.loc[:,['Allerton Av (2/5)','allerton av']].sum(axis=1)
df['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)'] = df.loc[:,['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)',
                                                               'atlantic av']].sum(axis=1)
df['Baychester Av (5)'] = df['baychester']
df['Beverly Rd (2/5)'] = df.loc[:,['Beverly Rd (2/5)','beverly']].sum(axis=1)
df['Bowling Green (4/5)'] = df.loc[:,['Bowling Green (4/5)','bowling green']].sum(axis=1)
df['Bronx Park East (2/5)'] = df.loc[:, ['Bronx Park East (2/5)','bronx p']].sum(axis=1)
df['Brooklyn Bridge-City Hall (4/5/6)/Chambers St (J/Z)'] = df.loc[:, ['Brooklyn Bridge-City Hall (4/5/6)/Chambers St (J/Z)',
                                                                      'bklyn br','brooklyn br','city h']].sum(axis=1)
df['Burke Av (2/5)'] = df.loc[:,['church','Church Av (2/5)']].sum(axis=1)
df['Church Av (2/5)'] = df.loc[:,['church','Church Av (2/5)']].sum(axis=1)
df['Court St (R)/Borough Hall (2/3/4/5)'] = df.loc[:,['Court St (R)/Borough Hall (2/3/4/5)','borough hall']].sum(axis=1)
df['East 180 St (2/5)'] = df.loc[:, ['East 180 St (2/5)','e 180']].sum(axis=1)
df['Eastchester-Dyre Av (5)'] = df['eastchester']
df['Flatbush Av-Brooklyn College (2/5)'] = df.loc[:,['Flatbush Av-Brooklyn College (2/5)','flatbush av']].sum(axis=1)
df['Franklin Av (2/3/4/5)/Botanic Garden (S)'] = df.loc[:, ['Franklin Av (2/3/4/5)/Botanic Garden (S)',
                                                            'franklin av']].sum(axis=1)
df['Freeman St (2/5)'] = df.loc[:,['Freeman St (2/5)','freeman']].sum(axis=1)
df['Fulton St (A/C/J/Z/2/3/4/5)'] = df.loc[:,['Fulton St (A/C/J/Z/2/3/4/5)','fulton']].sum(axis=1)
df['Grand Central-42 St (S/4/5/6/7)'] = df.loc[:,['Grand Central-42 St (S/4/5/6/7)','grand central','42 st']].sum(axis=1)
df['Intervale Av (2/5)'] = df.loc[:, ['Intervale Av (2/5)','intervale av']].sum(axis=1)
df['Jackson Av (2/5)'] = df.loc[:, ['Jackson Av (2/5)','jackson']].sum(axis=1)
df['Lexington Av (N/R/W)/59 St (4/5/6)'] = df.loc[:,['Lexington Av (N/R/W)/59 St (4/5/6)','lexington','59']].sum(axis=1)
df['Morris Park (5)'] = df['morris p']
df['Nereid Av (2/5)'] = df.loc[:, ['Nereid Av (2/5)','nereid']].sum(axis=1)
df['Nevins St (2/3/4/5)'] = df.loc[:,['Nevins St (2/3/4/5)','nevins']].sum(axis=1)
df['Newkirk Av (2/5)'] = df.loc[:, ['Newkirk Av (2/5)','newkirk av']].sum(axis=1)
df['President St (2/5)'] = df.loc[:, ['President St (2/5)','president st']].sum(axis=1)
df['Prospect Av (2/5)'] = df.loc[:, ['Prospect Av (2/5)','prospect av']].sum(axis=1)
df['Simpson St (2/5)'] = df.loc[:, ['Simpson St (2/5)','simpson']].sum(axis=1)
df['Sterling St (2/5)'] = df.loc[:, ['Sterling St (2/5)','sterling']].sum(axis=1)
df['Wall St (4/5)'] = df.loc[:, ['Wall St (4/5)','wall st']].sum(axis=1)
df['West Farms Sq-East Tremont Av (2/5)'] = df.loc[:, ['West Farms Sq-East Tremont Av (2/5)',
                                                       'west farms','e tremont']].sum(axis=1)
df['Winthrop St (2/5)'] = df.loc[:, ['Winthrop St (2/5)','winthrop']].sum(axis=1)

In [70]:
for col in stations_5:
    df.drop(col,axis=1,inplace=True)

### Gun Hill Road & Pelham Pkwy (2/5)

In [71]:
for s in stations_25:
    delayed = df.loc[st_25]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [72]:
line = df_r.loc[df_r['station'].str.contains('Gun Hill|Pelham P')]
line = list(line['station'])
for l in line:
    print("df["+"'"+"{}".format(l)+"'"+"] = ")

df['Gun Hill Rd (2/5)'] =
df['Gun Hill Rd (5)'] =
df['Pelham Pkwy (2/5)'] =
df['Pelham Pkwy (5)'] =

In [73]:
df['Gun Hill Rd (2/5)'] = df.loc[:,['Gun Hill Rd (2/5)','gun hill']].sum(axis=1)
df['Pelham Pkwy (2/5)'] = df.loc[:, ['Pelham Pkwy (2/5)','pelham p']].sum(axis=1)

In [74]:
for col in stations_25:
    df.drop(col,axis=1,inplace=True)

### Gun Hill Road & Pelham Pkwy (5)

In [75]:
for s in stations_5n2:
    delayed = df.loc[st_5n2]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [76]:
df['Gun Hill Rd (5)'] = df['gun hill']
df['Pelham Pkwy (5)'] = df['pelham p']

In [77]:
for col in stations_5n2:
    df.drop(col,axis=1,inplace=True)

## 6 Train (IRT)

In [78]:
for s in stations_6:
    delayed = df.loc[st_6]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [79]:
line = df_r.loc[df_r['station'].str.contains('\(6\)|6/|/6')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [80]:
df['103 St (6)'] = df['103']
df['110 St (6)'] = df['110']
df['116 St (6)'] = df['116']
df['125 St (4/5/6)'] = df.loc[:,['125 St (4/5/6)','125']].sum(axis=1)
df['14 St-Union Sq (L/N/Q/R/W/4/5/6)'] = df.loc[:,['14 St-Union Sq (L/N/Q/R/W/4/5/6)','union sq','14 st']].sum(axis=1)
df['23 St (6)'] = df['23 st']
df['28 St (6)'] = df['28 st']
df['3 Av-138 St (6)'] = df.loc[:,['3 av 138','3 av-138']].sum(axis=1)
df['33 St (6)'] = df['33']
df['68 St-Hunter College (6)'] = df['68']
df['77 St (6)'] = df['77']
df['86 St (4/5/6)'] = df.loc[:, ['86 St (4/5/6)','86 st']].sum(axis=1)
df['96 St (6)'] = df['96']
df['Astor Place (6)'] = df['astor']
df['Broadway-Lafayette St (B/D/F/M)/Bleecker St (6)'] = df.loc[:,['broadway','lafay']].sum(axis=1)
df['Brook Av (6)'] = df['brook']
df['Brooklyn Bridge-City Hall (4/5/6)/Chambers St (J/Z)'] = df.loc[:, ['Brooklyn Bridge-City Hall (4/5/6)/Chambers St (J/Z)',
                                                                      'bklyn br','brooklyn br','city h']].sum(axis=1)
df['Buhre Av (6)'] = df['buhre']
df['Canal St (J/N/Q/R/W/Z/6)'] = df['canal']
df['Castle Hill Av (6)'] = df['castle hill']
df['Cypress Av (6)'] = df['cypress']
df["East 143 St-St Mary's St (6)"] = df.loc[:,["east 143","e 143"]].sum(axis=1)
df['East 149 St (6)'] = df.loc[:,['east 149','e 149']].sum(axis=1)
df['Elder Av (6)'] = df['elder']
df['Grand Central-42 St (S/4/5/6/7)'] = df.loc[:,['Grand Central-42 St (S/4/5/6/7)','grand central','42']].sum(axis=1)
df['Hunts Point Av (6)'] = df['hunts p']
df['Lexington Av (N/R/W)/59 St (4/5/6)'] = df.loc[:,['Lexington Av (N/R/W)/59 St (4/5/6)','59']].sum(axis=1)
df['Longwood Av (6)'] = df['longwood av']
df['Middletown Rd (6)'] = df['middletown']
df['Morrison Av-Soundview (6)'] = df['morrison']
df['Parkchester (6)'] = df['parkchester']
df['Pelham Bay Park (6)'] = df['pelham b']
df['Spring St (6)'] = df['spring st']
df['St Lawrence Av (6)'] = df['st lawrence']
df['Westchester Sq-East Tremont Av (6)'] = df.loc[:,['westchester','e tremont']].sum(axis=1)
df['Whitlock Av (6)'] = df['whitlock']
df['Zerega Av (6)'] = df['zerega']

In [81]:
for col in stations_6:
    df.drop(col,axis=1,inplace=True)

## 7 Train (IRT)

In [82]:
for s in stations_7:
    delayed = df.loc[st_7]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [83]:
line = df_r.loc[df_r['station'].str.contains('\(7\)|7/|/7')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [84]:
df['103 St-Corona Plaza (7)'] = df['103']
df['111 St (7)'] = df['111']
df['33 St-Rawson St (7)'] = df['33']
df['34 St-Hudson Yards (7)'] = df.loc[:,['34 st - h','34 st h','34 st- h','34 st-h']].sum(axis=1)
df['40 St-Lowery St (7)'] = df['40']
df['42 St-Bryant Pk (B/D/F/M)/5 Av (7)'] = df.loc[:,['bryant','5 av']].sum(axis=1)
df['46 St-Bliss St (7)'] = df['46']
df['52 St (7)'] = df['52']
df['69 St (7)'] = df['69']
df['74-Broadway (7)/Jackson Hts-Roosevelt Av (E/F/M/R)'] = df.loc[:,['jackson h','74']].sum(axis=1)
df['82 St-Jackson Hts (7)'] = df['82']
df['90 St-Elmhurst Av (7)'] = df['90']
df['Flushing-Main St (7)'] = df['flushing']
df['Grand Central-42 St (S/4/5/6/7)'] = df.loc[:,['Grand Central-42 St (S/4/5/6/7)','grand central']].sum(axis=1)
df['Hunters Point Av (7)'] = df['hunters p']
df['Junction Blvd (7)'] = df['junction b']
df['Mets-Willets Point (7)'] = df['mets']
df['Queensboro Plaza (N/W/7)'] = df.loc[:,['queensboro pl','qnsboro pl']].sum(axis=1)
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] = df.loc[:,['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)',
                                                                  'times sq']].sum(axis=1)
df['Vernon Blvd-Jackson Av (7)'] = df.loc[:,['jackson av','vernon b']].sum(axis=1)
df['Woodside-61 St (7)'] = df['61']

In [85]:
for col in stations_7:
    df.drop(col,axis=1,inplace=True)

## 42 St Shuttle (IRT)

In [86]:
for s in stations_42:
    delayed = df.loc[st_42]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [87]:
line = df_r.loc[df_r['station'].str.contains('\(S\)|S/|/S')]
line = list(line['station'])
for l in line:
    print("df["+"'"+"{}".format(l)+"'"+"] = ")

df['Beach 105 St (A/S)'] =
df['Beach 90 St (A/S)'] =
df['Beach 98 St (A/S)'] =
df['Broad Channel (A/S)'] =
df['Franklin Av (2/3/4/5)/Botanic Garden (S)'] =
df['Franklin Av (C/S)'] =
df['Grand Central-42 St (S/4/5/6/7)'] =
df['Park Pl (S)'] =
df['Prospect Park (B/Q/S)'] =
df['Rockaway Park-Beach 116 St (A/S)'] =
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] =

In [88]:
df['Grand Central-42 St (S/4/5/6/7)'] = df['times sq']
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] = df['grand central']

In [89]:
for col in stations_42:
    df.drop(col,axis=1,inplace=True)

## A Train (IND)

In [90]:
for s in stations_a:
    delayed = df.loc[st_a]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [91]:
line = df_r.loc[df_r['station'].str.contains('\(A\)|A/|/A')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [92]:
df['104 St (A)'] = df['104']
df['111 St (A)'] = df['111']
df['125 St (A/B/C/D)'] = df['125']
df['14 St (A/C/E)/8 Av (L)'] = df['14 st']
df['145 St (A/B/C/D)'] = df['145']
df['168 St (A/C/1)'] = df.loc[:,['168 St (A/C/1)','168']].sum(axis=1)
df['175 St (A)'] = df['175']
df['181 St (A)'] = df['181']
df['190 St (A)'] = df['190']
df['34 St-Penn Station (A/C/E)'] = df.loc[:,['penn sta','34']].sum(axis=1)
df['59 St-Columbus Circle (A/B/C/D/1)'] = df.loc[:,['59 St-Columbus Circle (A/B/C/D/1)','columbus',
                                                   '59']].sum(axis=1)
df['80 St (A)'] = df['80']
df['88 St (A)'] = df['88']
df['Aqueduct Racetrack (A)'] = df['aqueduct r']
df['Aqueduct-North Conduit Av (A)'] = df.loc[:,['conduit','aqueduct n']].sum(axis=1)
df['Beach 105 St (A/S)'] = df['beach 105']
df['Beach 25 St (A)'] = df['beach 25']
df['Beach 36 St (A)'] = df['beach 36']
df['Beach 44 St (A)'] = df['beach 44']
df['Beach 60 St (A)'] = df['beach 60']
df['Beach 67 St-Arverne By The Sea (A)'] = df['beach 67']
df['Beach 90 St (A/S)'] = df['beach 90']
df['Beach 98 St (A/S)'] = df['beach 98']
df['Broad Channel (A/S)'] = df['broad ch']
df['Broadway Junction (A/C/J/L/Z)'] = df.loc[:,['junction','jctn','bwy','broadway j','brdwy j','bdwy j']].sum(axis=1)
df['Canal St (A/C/E)'] = df['canal']
df['Chambers St (A/C)/WTC (E)/Park Pl (2/3)/Cortlandt (R/W)'] = df.loc[:,['Chambers St (A/C)/WTC (E)/Park Pl (2/3)/Cortlandt (R/W)',
                                                                         'chambers']].sum(axis=1)
df['Dyckman St (A)'] = df.loc[:,['dyckman','200']].sum(axis=1)
df['Euclid Av (A/C)'] = df['euclid']
df['Far Rockaway-Mott Av (A)'] = df.loc[:,['mott av','far rockaway']].sum(axis=1)
df['Fulton St (A/C/J/Z/2/3/4/5)'] = df.loc[:,['Fulton St (A/C/J/Z/2/3/4/5)','fulton']].sum(axis=1)
df['Grant Av (A)'] = df['grant']
df['High St (A/C)'] = df['high']
df['Howard Beach-JFK Airport (A)'] = df.loc[:,['jfk a','howard b']].sum(axis=1)
df['Hoyt-Schermerhorn Sts (A/C/G)'] = df['hoyt']
df['Inwood-207 St (A)'] = df.loc[:,['inwood','207']].sum(axis=1)
df['Jay St-MetroTech (A/C/F/R)'] = df['jay']
df['Nostrand Av (A/C)'] = df['nostrand']
df['Ozone Park-Lefferts Blvd (A)'] = df.loc[:,['ozone p','lefferts b']].sum(axis=1)
df['Rockaway Blvd (A)'] = df['rockaway b']
df['Rockaway Park-Beach 116 St (A/S)'] = df['rockaway p']
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] = df.loc[:,['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)',
                                                                  'port auth','42']].sum(axis=1)
df['Utica Av (A/C)'] = df['utica']
df['West 4 St-Washington Sq (A/B/C/D/E/F/M)'] = df.loc[:,['west 4','washington sq','wash sq','w 4']].sum(axis=1)

In [93]:
for col in stations_a:
    df.drop(col,axis=1,inplace=True)

## B Train (IND)

In [94]:
for s in stations_b:
    delayed = df.loc[st_b]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [95]:
line = df_r.loc[df_r['station'].str.contains('\(B\)|B/|/B')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [96]:
df['103 St (B/C)'] = df['103']
df['116 St (B/C)'] = df['116']
df['125 St (A/B/C/D)'] = df.loc[:,['125 St (A/B/C/D)','125']].sum(axis=1)
df['135 St (B/C)'] = df['135']
df['145 St (A/B/C/D)'] = df.loc[:,['145 St (A/B/C/D)','145']].sum(axis=1)
df['155 St (B/D)'] = df['155']
df['161 St-Yankee Stadium (B/D/4)'] = df.loc[:,['161 St-Yankee Stadium (B/D/4)','161']].sum(axis=1)
df['167 St (B/D)'] = df['167']
df['170 St (B/D)'] = df['170']
df['174-175 Sts (B/D)'] = df.loc[:,['174','175']].sum(axis=1)
df['182-183 Sts (B/D)'] = df.loc[:,['182','183']].sum(axis=1)
df['34 St-Herald Sq (B/D/F/M/N/Q/R/W)'] = df.loc[:,['herald sq','34']].sum(axis=1)
df['42 St-Bryant Pk (B/D/F/M)/5 Av (7)'] = df.loc[:,['42 St-Bryant Pk (B/D/F/M)/5 Av (7)', 'bryant','42','5 av']].sum(axis=1)
df['47-50 Sts-Rockefeller Center (B/D/F/M)'] = df.loc[:,['47-50','47']].sum(axis=1)
df['59 St-Columbus Circle (A/B/C/D/1)'] = df.loc[:,['59 St-Columbus Circle (A/B/C/D/1)','columbus',
                                                   '59']].sum(axis=1)
df['72 St (B/C)'] = df['72']
df['81 St-Museum of Natural History (B/C)'] = df.loc[:,['museum','81']].sum(axis=1)
df['86 St (B/C)'] = df['86']
df['96 St (B/C)'] = df['96']
df['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)'] = df.loc[:,['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)',
                                                               'atlantic']].sum(axis=1)
df['Bedford Park Blvd (B/D)'] = df['bedford']
df['Brighton Beach (B/Q)'] = df['brighton']
df['Broadway-Lafayette St (B/D/F/M)/Bleecker St (6)'] = df.loc[:,['Broadway-Lafayette St (B/D/F/M)/Bleecker St (6)',
                                                                  'bway l','broadway l','brdwy l','bdwy l']].sum(axis=1)
df['Cathedral Pkwy-110 St (B/C)'] = df.loc[:,['cathedral pk','cathedral park','110']].sum(axis=1)
df['Church Av (B/Q)'] = df['church']
df['DeKalb Av (B/Q/R)'] = df['dekalb']
df['Fordham Rd (B/D)'] = df['fordham']
df['Grand St (B/D)'] = df['grand st']
df['Kings Hwy (B/Q)'] = df['kings']
df['Kingsbridge Rd (B/D)'] = df['kingsbridge']
df['Newkirk Plaza (B/Q)'] = df['newkirk']
df['Prospect Park (B/Q/S)'] = df['prospect']
df['Sheepshead Bay (B/Q)'] = df['sheepshead']
df['Tremont Av (B/D)'] = df['tremont']
df['West 4 St-Washington Sq (A/B/C/D/E/F/M)'] = df.loc[:,['West 4 St-Washington Sq (A/B/C/D/E/F/M)',
                                                          'west 4','washington sq','wash sq','w 4']].sum(axis=1)

In [97]:
for col in stations_b:
    df.drop(col,axis=1,inplace=True)

## C Train (IND)

In [98]:
for s in stations_c:
    delayed = df.loc[st_c]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [99]:
line = df_r.loc[df_r['station'].str.contains('\(C\)|C/|/C')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [100]:
df['103 St (B/C)'] = df.loc[:,['103 St (B/C)','103']].sum(axis=1)
df['116 St (B/C)'] = df.loc[:,['116 St (B/C)','116']].sum(axis=1)
df['125 St (A/B/C/D)'] = df.loc[:,['125 St (A/B/C/D)','125']].sum(axis=1)
df['135 St (B/C)'] = df.loc[:,['135 St (B/C)','135']].sum(axis=1)
df['14 St (A/C/E)/8 Av (L)'] = df.loc[:,['14 St (A/C/E)/8 Av (L)','14 st']].sum(axis=1)
df['145 St (A/B/C/D)'] = df.loc[:,['145 St (A/B/C/D)','145']].sum(axis=1)
df['155 St (C)'] = df['155']
df['163 St-Amsterdam Av (C)'] = df['163']
df['168 St (A/C/1)'] = df.loc[:,['168 St (A/C/1)','168']].sum(axis=1)
df['34 St-Penn Station (A/C/E)'] = df.loc[:,['penn sta','34']].sum(axis=1)
df['50 St (C/E)'] = df['50']
df['59 St-Columbus Circle (A/B/C/D/1)'] = df.loc[:,['59 St-Columbus Circle (A/B/C/D/1)','columbus',
                                                   '59']].sum(axis=1)
df['72 St (B/C)'] = df.loc[:,['72 St (B/C)','72']].sum(axis=1)
df['81 St-Museum of Natural History (B/C)'] = df.loc[:,['81 St-Museum of Natural History (B/C)','museum']].sum(axis=1)
df['86 St (B/C)'] = df.loc[:,['86 St (B/C)','86']].sum(axis=1)
df['96 St (B/C)'] = df.loc[:,['96 St (B/C)','96']].sum(axis=1)
df['Broadway Junction (A/C/J/L/Z)'] = df.loc[:,['Broadway Junction (A/C/J/L/Z)',
                                                'junction','jctn','bwy','broadway j','brdwy j','bdwy j']].sum(axis=1)
df['Canal St (A/C/E)'] = df.loc[:,['Canal St (A/C/E)','canal']].sum(axis=1)
df['Cathedral Pkwy-110 St (B/C)'] = df.loc[:,['Cathedral Pkwy-110 St (B/C)','cathedral park','cathedral pk','110']].sum(axis=1)
df['Chambers St (A/C)/WTC (E)/Park Pl (2/3)/Cortlandt (R/W)'] = df.loc[:,['Chambers St (A/C)/WTC (E)/Park Pl (2/3)/Cortlandt (R/W)',
                                                                         'chambers']].sum(axis=1)
df['Clinton-Washington Avs (C)'] = df['clinton w']
df['Euclid Av (A/C)'] = df.loc[:,['Euclid Av (A/C)','euclid']].sum(axis=1)
df['Franklin Av (C/S)'] = df['franklin av']
df['Fulton St (A/C/J/Z/2/3/4/5)'] = df.loc[:,['Fulton St (A/C/J/Z/2/3/4/5)','fulton']].sum(axis=1)
df['High St (A/C)'] = df.loc[:,['High St (A/C)','high']].sum(axis=1)
df['Hoyt-Schermerhorn Sts (A/C/G)'] = df.loc[:,['Hoyt-Schermerhorn Sts (A/C/G)','hoyt']].sum(axis=1)
df['Jay St-MetroTech (A/C/F/R)'] = df.loc[:,['Jay St-MetroTech (A/C/F/R)','jay']].sum(axis=1)
df['Kingston-Throop Avs (C)'] = df['kingston']
df['Lafayette Av (C)'] = df['lafayette av']
df['Liberty Av (C)'] = df['liberty']
df['Nostrand Av (A/C)'] = df['nostrand']
df['Ralph Av (C)'] = df['ralph']
df['Rockaway Av (C)'] = df['rockaway']
df['Shepherd Av (C)'] = df['shepherd']
df['Spring St (C/E)'] = df['spring']
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] = df.loc[:,['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)',
                                                                  'port auth','42']].sum(axis=1)
df['Utica Av (A/C)'] = df.loc[:,['Utica Av (A/C)','utica']].sum(axis=1)
df['Van Siclen Av (C)'] = df['van siclen']
df['West 4 St-Washington Sq (A/B/C/D/E/F/M)'] = df.loc[:,['West 4 St-Washington Sq (A/B/C/D/E/F/M)',
                                                          'west 4','washington sq','wash sq','w 4']].sum(axis=1)

In [101]:
for col in stations_c:
    df.drop(col,axis=1,inplace=True)

## D Train (IND)

In [102]:
for s in stations_d:
    delayed = df.loc[st_d]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [103]:
line = df_r.loc[df_r['station'].str.contains('\(D\)|D/|/D')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [104]:
df['125 St (A/B/C/D)'] = df.loc[:,['125 St (A/B/C/D)','125']].sum(axis=1)
df['145 St (A/B/C/D)'] = df.loc[:,['145 St (A/B/C/D)','145']].sum(axis=1)
df['155 St (B/D)'] = df.loc[:,['155 St (B/D)','155']].sum(axis=1)
df['161 St-Yankee Stadium (B/D/4)'] = df.loc[:,['161 St-Yankee Stadium (B/D/4)','161']].sum(axis=1)
df['167 St (B/D)'] = df.loc[:,['167 St (B/D)','167']].sum(axis=1)
df['170 St (B/D)'] = df.loc[:,['170 St (B/D)','170']].sum(axis=1)
df['174-175 Sts (B/D)'] = df.loc[:,['174-175 Sts (B/D)','174','175']].sum(axis=1)
df['18 Av (D)'] = df['18 av']
df['182-183 Sts (B/D)'] = df.loc[:,['182-183 Sts (B/D)','182','183']].sum(axis=1)
df['20 Av (D)'] = df['20 av']
df['25 Av (D)'] = df['25 av']
df['34 St-Herald Sq (B/D/F/M/N/Q/R/W)'] = df.loc[:,['34 St-Herald Sq (B/D/F/M/N/Q/R/W)','herald sq','34']].sum(axis=1)
df['36 St (D/N/R)'] = df['36']
df['42 St-Bryant Pk (B/D/F/M)/5 Av (7)'] = df.loc[:,['42 St-Bryant Pk (B/D/F/M)/5 Av (7)', 'bryant','42','5 av']].sum(axis=1)
df['47-50 Sts-Rockefeller Center (B/D/F/M)'] = df.loc[:,['47-50','47','47-50 Sts-Rockefeller Center (B/D/F/M)']].sum(axis=1)
df['50 St (D)'] = df['50']
df['55 St (D)'] = df['55']
df['59 St-Columbus Circle (A/B/C/D/1)'] = df.loc[:,['59 St-Columbus Circle (A/B/C/D/1)','columbus',
                                                   '59']].sum(axis=1)
df['71 St (D)'] = df['71']
df['79 St (D)'] = df['79']
df['9 Av (D)'] = df['9 av']
df['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)'] = df.loc[:,['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)',
                                                               'atlantic']].sum(axis=1)
df['Bay 50 St (D)'] = df['bay 50']
df['Bay Pkwy (D)'] = df.loc[:,['bay park','bay pk']].sum(axis=1)
df['Bedford Park Blvd (B/D)'] = df.loc[:,['Bedford Park Blvd (B/D)','bedford']].sum(axis=1)
df['Broadway-Lafayette St (B/D/F/M)/Bleecker St (6)'] = df.loc[:,['Broadway-Lafayette St (B/D/F/M)/Bleecker St (6)',
                                                                  'bway l','broadway l','brdwy l','bdwy l']].sum(axis=1)
df['Coney Island-Stillwell Av (D/F/N/Q)'] = df.loc[:,['stillwell','coney']].sum(axis=1)
df['Fordham Rd (B/D)'] = df.loc[:,['Fordham Rd (B/D)','fordham']].sum(axis=1)
df['Fort Hamilton Pkwy (D)'] = df.loc[:,['ft ham','fort ham']].sum(axis=1)
df['Grand St (B/D)'] = df['grand st']
df['Kingsbridge Rd (B/D)'] = df['kingsbridge']
df['New Utrecht Av (N)/62 St (D)'] = df['62']
df['Norwood-205 St (D)'] = df.loc[:,['norwood','205']].sum(axis=1)
df['Tremont Av (B/D)'] = df.loc[:,['tremont','Tremont Av (B/D)']].sum(axis=1)
df['West 4 St-Washington Sq (A/B/C/D/E/F/M)'] = df.loc[:,['West 4 St-Washington Sq (A/B/C/D/E/F/M)',
                                                          'west 4','washington sq','wash sq','w 4']].sum(axis=1)

In [105]:
for col in stations_d:
    df.drop(col,axis=1,inplace=True)

## E Train (IND)

In [106]:
for s in stations_e:
    delayed = df.loc[st_e]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [107]:
line = df_r.loc[df_r['station'].str.contains('\(E\)|E/|/E')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [108]:
df['14 St (A/C/E)/8 Av (L)'] = df.loc[:,['14 St (A/C/E)/8 Av (L)','14 st']].sum(axis=1)
df['34 St-Penn Station (A/C/E)'] = df.loc[:,['penn sta','34']].sum(axis=1)
df['50 St (C/E)'] = df.loc[:,['50 St (C/E)','50']].sum(axis=1)
df['74-Broadway (7)/Jackson Hts-Roosevelt Av (E/F/M/R)'] = df.loc[:,['74-Broadway (7)/Jackson Hts-Roosevelt Av (E/F/M/R)',
                                                                    'jackson h']].sum(axis=1)
df['75 Av (E/F)'] = df['75 av']
df['Briarwood-Van Wyck Blvd (E/F)'] = df['briarwood']
df['Canal St (A/C/E)'] = df.loc[:,['Canal St (A/C/E)','canal']].sum(axis=1)
df['Chambers St (A/C)/WTC (E)/Park Pl (2/3)/Cortlandt (R/W)'] = df.loc[:,['Chambers St (A/C)/WTC (E)/Park Pl (2/3)/Cortlandt (R/W)',
                                                                         'wtc','world trade center']].sum(axis=1)
df['Forest Hills-71 Av (E/F/M/R)'] = df.loc[:,['forest h','71','Forest Hills-71 Av (E/F/M/R)']].sum(axis=1)
df['Jamaica Center-Parsons-Archer (E/J/Z)'] = df['jamaica c']
df['Jamaica-Van Wyck (E)'] = df['jamaica v']
df['Kew Gardens-Union Turnpike (E/F)'] = df['kew gardens']
df['Lexington Av-53 St (E/M)/51 St (6)'] = df.loc[:,['Lexington Av-53 St (E/M)/51 St (6)','lexington av']].sum(axis=1)
df['Queens Plaza (E/M/R)'] = df.loc[:,['queens pl','qns pl']].sum(axis=1)
df['Spring St (C/E)'] = df['spring']
df['Sutphin Blvd-Archer Av-JFK Airport (E/J/Z)'] = df['sutphin']
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] = df.loc[:,['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)',
                                                                  'port auth','42']].sum(axis=1)
df['West 4 St-Washington Sq (A/B/C/D/E/F/M)'] = df.loc[:,['West 4 St-Washington Sq (A/B/C/D/E/F/M)',
                                                          'west 4','washington sq','wash sq','w 4']].sum(axis=1)

In [109]:
for col in stations_e:
    df.drop(col,axis=1,inplace=True)

### 7 Av (B/D/E)

In [110]:
for s in stations_bde:
    delayed = df.loc[st_bde]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [111]:
line = df_r.loc[df_r['station'].str.startswith('7 Av')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

F/G 7 Av will be accounted for on as part of F/G and not separately

In [112]:
df['7 Av (B/D/E)'] = df['7 av']

In [113]:
for col in stations_bde:
    df.drop(col,axis=1,inplace=True)

### 23 st (C/E)

Had to separate this one due to Court Sq-23 St

In [114]:
for s in stations_ce:
    delayed = df.loc[st_ce]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [115]:
line = df_r.loc[df_r['station'].str.contains('23 St')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [116]:
df['23 St (C/E)'] = df['23 st']

In [117]:
for col in stations_ce:
    df.drop(col,axis=1,inplace=True)

## F Train (IND)

In [118]:
for s in stations_f:
    delayed = df.loc[st_f]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [119]:
line = df_r.loc[df_r['station'].str.contains('\(F\)|F/|/F')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [120]:
df['14 St (F/M/1/2/3)/6 Av (L)'] = df.loc[:,['14 St (F/M/1/2/3)/6 Av (L)','14 st']].sum(axis=1)
df['15 St-Prospect Park (F/G)'] = df.loc[:,['prospect p','15 st']].sum(axis=1)
df['169 St (F)'] = df['169']
df['18 Av (F)'] = df['18 av']
df['2 Av (F)'] = df['2 av']
df['21 St-Queensbridge (F)'] = df.loc[:,['21 st','qnsbr','queensbr']].sum(axis=1)
df['23 St (F/M)'] = df['23 st']
df['34 St-Herald Sq (B/D/F/M/N/Q/R/W)'] = df.loc[:,['34 St-Herald Sq (B/D/F/M/N/Q/R/W)','herald sq','34']].sum(axis=1)
df['42 St-Bryant Pk (B/D/F/M)/5 Av (7)'] = df.loc[:,['42 St-Bryant Pk (B/D/F/M)/5 Av (7)', 'bryant','42','5 av']].sum(axis=1)
df['47-50 Sts-Rockefeller Center (B/D/F/M)'] = df.loc[:,['47-50','47','47-50 Sts-Rockefeller Center (B/D/F/M)']].sum(axis=1)
df['57 St (F)'] = df['57']
df['7 Av (F/G)'] = df['7 av']
df['74-Broadway (7)/Jackson Hts-Roosevelt Av (E/F/M/R)'] = df.loc[:,['74-Broadway (7)/Jackson Hts-Roosevelt Av (E/F/M/R)',
                                                                    'jackson h','roosevelt av']].sum(axis=1)
df['75 Av (E/F)'] = df.loc[:,['75 Av (E/F)','75 av']].sum(axis=1)
df['Avenue I (F)'] = df.loc[:,['avenue i','av i']].sum(axis=1)
df['Avenue N (F)'] = df.loc[:,['avenue n','av n']].sum(axis=1)
df['Avenue P (F)'] = df.loc[:,['avenue p','av p']].sum(axis=1)
df['Avenue U (F)'] = df.loc[:,['avenue u','av u']].sum(axis=1)
df['Avenue X (F)'] = df.loc[:,['avenue x','av x']].sum(axis=1)
df['Bay Pkwy (F)'] = df['bay p']
df['Bergen St (F/G)'] = df['bergen']
df['Briarwood-Van Wyck Blvd (E/F)'] = df.loc[:,['briarwood','Briarwood-Van Wyck Blvd (E/F)']].sum(axis=1)
df['Broadway-Lafayette St (B/D/F/M)/Bleecker St (6)'] = df.loc[:,['Broadway-Lafayette St (B/D/F/M)/Bleecker St (6)',
                                                                  'bway l','broadway l','brdwy l','bdwy l']].sum(axis=1)
df['Carroll St (F/G)'] = df['carroll']
df['Church Av (F/G)'] = df['church']
df['Coney Island-Stillwell Av (D/F/N/Q)'] = df.loc[:,['stillwell','Coney Island-Stillwell Av (D/F/N/Q)','coney']].sum(axis=1)
df['Delancey St (F)/Essex St (J/M/Z)'] = df.loc[:,['essex','delancey']].sum(axis=1)
df['Ditmas Av (F)'] = df['ditmas']
df['East Broadway (F)'] = df.loc[:,['east br','e br']].sum(axis=1)
df['Forest Hills-71 Av (E/F/M/R)'] = df.loc[:,['Forest Hills-71 Av (E/F/M/R)','forest h','71']].sum(axis=1)
df['Fort Hamilton Pkwy (F/G)'] = df.loc[:,['fort ham','ft ham']].sum(axis=1)
df['Jamaica-179 St (F)'] = df['jamaica']
df['Jay St-MetroTech (A/C/F/R)'] = df.loc[:,['Jay St-MetroTech (A/C/F/R)','jay']].sum(axis=1)
df['Kew Gardens-Union Turnpike (E/F)'] = df.loc[:,['Kew Gardens-Union Turnpike (E/F)','kew gardens']].sum(axis=1)
df['Kings Hwy (F)'] = df['kings h']
df['Lexington Av-63 St (F/Q)'] = df.loc[:,['lexington av','63']].sum(axis=1)
df['Neptune Av (F)'] = df['neptune']
df['Parsons Blvd (F)'] = df['parsons']
df['Roosevelt Island (F)'] = df['roosevelt i']
df['Sutphin Blvd (F)'] = df['sutphin']
df['West 4 St-Washington Sq (A/B/C/D/E/F/M)'] = df.loc[:,['West 4 St-Washington Sq (A/B/C/D/E/F/M)',
                                                          'west 4','washington sq','wash sq','w 4']].sum(axis=1)
df['West 8 St-New York Aquarium (F/Q)'] = df.loc[:,['west 8','w 8','aquarium']].sum(axis=1)
df['York St (F)'] = df['york']

In [121]:
for col in stations_f:
    df.drop(col,axis=1,inplace=True)

## G Train (IND)

In [122]:
for s in stations_g:
    delayed = df.loc[st_g]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [123]:
line = df_r.loc[df_r['station'].str.contains('\(G\)|G/|/G')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [124]:
df['15 St-Prospect Park (F/G)'] = df.loc[:,['15 St-Prospect Park (F/G)','prospect p']].sum(axis=1)
df['21 St (G)'] = df['21 st']
df['7 Av (F/G)'] = df.loc[:,['7 Av (F/G)','7 av']].sum(axis=1)
df['Bedford-Nostrand Avs (G)'] = df.loc[:,['nostrand','bedford']].sum(axis=1)
df['Bergen St (F/G)'] = df.loc[:,['Bergen St (F/G)','bergen']].sum(axis=1)
df['Broadway (G)'] = df['broadway']
df['Carroll St (F/G)'] = df.loc[:,['Carroll St (F/G)','carroll']].sum(axis=1)
df['Church Av (F/G)'] = df.loc[:,['Church Av (F/G)','church']].sum(axis=1)
df['Classon Av (G)'] = df['classon']
df['Clinton-Washington Avs (G)'] = df.loc[:,['washington','clinton']].sum(axis=1)
df['Flushing Av (G)'] = df['flushing']
df['Fort Hamilton Pkwy (F/G)'] = df.loc[:,['Fort Hamilton Pkwy (F/G)','fort ham','ft ham']].sum(axis=1)
df['Fulton St (G)'] = df['fulton']
df['Greenpoint Av (G)'] = df['greenpoint']
df['Hoyt-Schermerhorn Sts (A/C/G)'] = df.loc[:,['Hoyt-Schermerhorn Sts (A/C/G)','hoyt']].sum(axis=1)
df['Lorimer St (L)/Metropolitan Av (G)'] = df['metropolitan']
df['Myrtle-Willoughby Avs (G)'] = df.loc[:,['willoughby','myrtle']].sum(axis=1)
df['Nassau Av (G)'] = df['nassau']

In [125]:
for col in stations_g:
    df.drop(col,axis=1,inplace=True)

### Smith-9 St (F/G)

In [126]:
for s in stations_fg:
    delayed = df.loc[st_fg]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [127]:
line = df_r.loc[df_r['station'].str.contains('Smith')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [128]:
df['Smith-9 Sts (F/G)'] = df.loc[:,['smith','9 st']].sum(axis=1)

In [129]:
for col in stations_fg:
    df.drop(col,axis=1,inplace=True)

## Rockaway Shuttle (IND)

In [130]:
for s in stations_rck:
    delayed = df.loc[st_rck]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [131]:
line = df_r.loc[df_r['station'].str.contains('\(S\)|S/|/S')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [132]:
df['Beach 105 St (A/S)'] = df['beach 105']
df['Beach 90 St (A/S)'] = df['beach 90']
df['Beach 98 St (A/S)'] = df['beach 98']
df['Broad Channel (A/S)'] = df['broad ch']
df['Rockaway Park-Beach 116 St (A/S)'] = df.loc[:,['rockaway p','beach 116']].sum(axis=1)

In [133]:
for col in stations_rck:
    df.drop(col,axis=1,inplace=True)

## J Train (BMT)

In [134]:
for s in stations_j:
    delayed = df.loc[st_j]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [135]:
line = df_r.loc[df_r['station'].str.contains('\(J\)|J/|/J')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [136]:
df['104 St (J/Z)'] = df['104']
df['111 St (J)'] = df['111']
df['121 St (J/Z)'] = df['121']
df['75 St-Elderts Ln (J/Z)'] = df.loc[:,['75 St-Elderts Ln (J/Z)','elderts','75']].sum(axis=1)
df['85 St-Forest Pkwy (J)'] = df.loc[:,['forest p','85']].sum(axis=1)
df['Alabama Av (J)'] = df['alabama']
df['Bowery (J/Z)'] = df['bowery']
df['Broad St (J/Z)'] = df['broad st']
df['Broadway Junction (A/C/J/L/Z)'] = df.loc[:,['Broadway Junction (A/C/J/L/Z)',
                                                'junction','jctn','bwy','broadway j','brdwy j','bdwy j']].sum(axis=1)
df['Brooklyn Bridge-City Hall (4/5/6)/Chambers St (J/Z)'] = df.loc[:,['Brooklyn Bridge-City Hall (4/5/6)/Chambers St (J/Z)',
                                                                     'chambers']].sum(axis=1)
df['Canal St (J/N/Q/R/W/Z/6)'] = df.loc[:,['Canal St (J/N/Q/R/W/Z/6)','canal']].sum(axis=1)
df['Chauncey St (J/Z)'] = df['chauncey']
df['Cleveland St (J)'] = df['cleveland']
df['Crescent St (J/Z)'] = df['crescent']
df['Cypress Hills (J)'] = df['cypress']
df['Delancey St (F)/Essex St (J/M/Z)'] = df.loc[:,['Delancey St (F)/Essex St (J/M/Z)','essex','delancey']].sum(axis=1)
df['Flushing Av (J/M)'] = df['flushing']
df['Fulton St (A/C/J/Z/2/3/4/5)'] = df.loc[:,['fulton','Fulton St (A/C/J/Z/2/3/4/5)']].sum(axis=1)
df['Gates Av (J/Z)'] = df['gates']
df['Halsey St (J)'] = df['halsey']
df['Hewes St (J/M)'] = df['hewes']
df['Jamaica Center-Parsons-Archer (E/J/Z)'] = df.loc[:,['parsons','jamaica']].sum(axis=1)
df['Kosciuszko St (J)'] = df['kosciuszko']
df['Lorimer St (J/M)'] = df['lorimer']
df['Marcy Av (J/M/Z)'] = df['marcy']
df['Myrtle Av (J/M/Z)'] = df['myrtle']
df['Norwood Av (J/Z)'] = df['norwood']
df['Sutphin Blvd-Archer Av-JFK Airport (E/J/Z)'] = df.loc[:,['Sutphin Blvd-Archer Av-JFK Airport (E/J/Z)',
                                                             'sutphin','jfk']].sum(axis=1)
df['Van Siclen Av (J/Z)'] = df['van s']
df['Woodhaven Blvd (J/Z)'] = df['woodhaven']

KeyboardInterrupt:

In [137]:
for col in stations_j:
    df.drop(col,axis=1,inplace=True)

## L Train (BMT)

In [ ]:
for s in stations_l:
    delayed = df.loc[st_l]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('\(L\)|L/|/L')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
df['1 Av (L)'] = df['1 av']
df['14 St (A/C/E)/8 Av (L)'] = df.loc[:,['14 St (A/C/E)/8 Av (L)','8 av']].sum(axis=1)
df['14 St (F/M/1/2/3)/6 Av (L)'] = df.loc[:,['14 St (F/M/1/2/3)/6 Av (L)','6 av']].sum(axis=1)
df['14 St-Union Sq (L/N/Q/R/W/4/5/6)'] = df.loc[:,['14 St-Union Sq (L/N/Q/R/W/4/5/6)','union sq']].sum(axis=1)
df['3 Av (L)'] = df['3 av']
df['Atlantic Av (L)'] = df['atlantic']
df['Bedford Av (L)'] = df['bedford']
df['Broadway Junction (A/C/J/L/Z)'] = df.loc[:,['Broadway Junction (A/C/J/L/Z)',
                                                'junction','jctn','bwy','broadway j','brdwy j','bdwy j']].sum(axis=1)
df['Bushwick Av-Aberdeen St (L)'] = df.loc[:,['aberdeen','bushwick']].sum(axis=1)
df['Canarsie-Rockaway Pkwy (L)'] = df.loc[:,['rockaway p','canarsie']].sum(axis=1)
df['DeKalb Av (L)'] = df['dekalb']
df['East 105 St (L)'] = df.loc[:,['e 105','east 105']].sum(axis=1)
df['Graham Av (L)'] = df['graham']
df['Grand St (L)'] = df['grand']
df['Halsey St (L)'] = df['halsey']
df['Jefferson St (L)'] = df['jefferson']
df['Livonia Av (L)'] = df['livonia']
df['Lorimer St (L)/Metropolitan Av (G)'] = df.loc[:,['Lorimer St (L)/Metropolitan Av (G)','lorimer']].sum(axis=1)
df['Montrose Av (L)'] = df['montrose']
df['Morgan Av (L)'] = df['morgan']
df['Myrtle-Wyckoff Avs (L/M)'] = df.loc[:,['myrtle','wyckoff']].sum(axis=1)
df['New Lots Av (L)'] = df['new lots']
df['Sutter Av (L)'] = df['sutter']
df['Wilson Av (L)'] = df['wilson']

In [ ]:
for col in stations_l:
    df.drop(col,axis=1,inplace=True)

## M Train (BMT)

In [ ]:
for s in stations_m:
    delayed = df.loc[st_m]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('\(M\)|M/|/M')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
df['14 St (F/M/1/2/3)/6 Av (L)'] = df.loc[:,['14 St (F/M/1/2/3)/6 Av (L)','14 st']].sum(axis=1)
df['23 St (F/M)'] = df.loc[:,['23 St (F/M)','23 st']].sum(axis=1)
df['34 St-Herald Sq (B/D/F/M/N/Q/R/W)'] = df.loc[:,['34 St-Herald Sq (B/D/F/M/N/Q/R/W)','herald sq','34']].sum(axis=1)
df['36 St (M/R)'] = df['36']
df['42 St-Bryant Pk (B/D/F/M)/5 Av (7)'] = df.loc[:,['42 St-Bryant Pk (B/D/F/M)/5 Av (7)', 'bryant','42']].sum(axis=1)
df['46 St (M/R)'] = df['46']
df['47-50 Sts-Rockefeller Center (B/D/F/M)'] = df.loc[:,['47-50','47','47-50 Sts-Rockefeller Center (B/D/F/M)']].sum(axis=1)
df['63 Dr-Rego Park (M/R)'] = df.loc[:,['rego','63']].sum(axis=1)
df['65 St (M/R)'] = df['65']
df['67 Av (M/R)'] = df['67']
df['74-Broadway (7)/Jackson Hts-Roosevelt Av (E/F/M/R)'] = df.loc[:,['74-Broadway (7)/Jackson Hts-Roosevelt Av (E/F/M/R)',
                                                                    'roosevelt av']].sum(axis=1)
df['Broadway-Lafayette St (B/D/F/M)/Bleecker St (6)'] = df.loc[:,['Broadway-Lafayette St (B/D/F/M)/Bleecker St (6)',
                                                                  'bway l','broadway l','brdwy l','bdwy l']].sum(axis=1)
df['Central Av (M)'] = df['central']
df['Delancey St (F)/Essex St (J/M/Z)'] = df.loc[:,['Delancey St (F)/Essex St (J/M/Z)','essex','delancey']].sum(axis=1)
df['Elmhurst Av (M/R)'] = df['elmhurst']
df['Flushing Av (J/M)'] = df.loc[:,['Flushing Av (J/M)','flushing']].sum(axis=1)
df['Forest Av (M)'] = df['forest av']
df['Forest Hills-71 Av (E/F/M/R)'] = df.loc[:,['Forest Hills-71 Av (E/F/M/R)','forest h','71']].sum(axis=1)
df['Fresh Pond Rd (M)'] = df['fresh pond']
df['Grand Av-Newtown (M/R)'] = df.loc[:,['newtown','grand']].sum(axis=1)
df['Hewes St (J/M)'] = df.loc[:,['Hewes St (J/M)','hewes']].sum(axis=1)
df['Knickerbocker Av (M)'] = df['knickerbocker']
df['Lorimer St (J/M)'] = df.loc[:,['Lorimer St (J/M)','lorimer']].sum(axis=1)
df['Marcy Av (J/M/Z)'] = df.loc[:,['Marcy Av (J/M/Z)','marcy']].sum(axis=1)
df['Middle Village-Metropolitan Av (M)'] = df.loc[:,['metropolitan','middle v']].sum(axis=1)
df['Myrtle Av (J/M/Z)'] = df.loc[:,['Myrtle Av (J/M/Z)','myrtle av']].sum(axis=1)
df['Myrtle-Wyckoff Avs (L/M)'] = df.loc[:,['Myrtle-Wyckoff Avs (L/M)','wyckoff']].sum(axis=1)
df['Northern Blvd (M/R)'] = df['northern blvd']
df['Queens Plaza (E/M/R)'] = df.loc[:,['Queens Plaza (E/M/R)','qns pl','queens pl']].sum(axis=1)
df['Seneca Av (M)'] = df['seneca']
df['Steinway St (M/R)'] = df['steinway']
df['West 4 St-Washington Sq (A/B/C/D/E/F/M)'] = df.loc[:,['West 4 St-Washington Sq (A/B/C/D/E/F/M)',
                                                          'west 4','washington sq','wash sq','w 4']].sum(axis=1)
df['Woodhaven Blvd (M/R)'] = df['woodhaven']

In [ ]:
for col in stations_m:
    df.drop(col,axis=1,inplace=True)

### 5 Av/53 St (E/M)

In [ ]:
for s in stations_em:
    delayed = df.loc[st_em]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('5 Av')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
df['5 Av-53 St (E/M)'] = df.loc[:,['5 av','53']].sum(axis=1)

In [ ]:
for col in stations_em:
    df.drop(col,axis=1,inplace=True)

### Lexington Av - 53 St (E/M)/51 St (6)

In [ ]:
for s in stations_em6:
    delayed = df.loc[st_em6]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('Lexington')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
df['Lexington Av-53 St (E/M)/51 St (6)'] = df.loc[:,['lexington','53','51']].sum(axis=1)

In [ ]:
for col in stations_em6:
    df.drop(col,axis=1,inplace=True)

### Court Sq-23 St (E/G/M/7)

In [ ]:
for s in stations_egm7:
    delayed = df.loc[st_em]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('Court Sq')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
df['Court Sq (E/G/M/7)'] = df.loc[:,['court sq','23 st']].sum(axis=1)

In [ ]:
for col in stations_egm7:
    df.drop(col,axis=1,inplace=True)

## N train (BMT)

In [ ]:
for s in stations_n:
    delayed = df.loc[st_n]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('\(N\)|N/|/N')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
df['14 St-Union Sq (L/N/Q/R/W/4/5/6)'] = df.loc[:,['14 St-Union Sq (L/N/Q/R/W/4/5/6)','union sq','14 st']].sum(axis=1)
df['18 Av (N)'] = df['18 av']
df['20 Av (N)'] = df['20 av']
df['30 Av (N/W)'] = df['30']
df['34 St-Herald Sq (B/D/F/M/N/Q/R/W)'] = df.loc[:,['34 St-Herald Sq (B/D/F/M/N/Q/R/W)','herald sq','34']].sum(axis=1)
df['36 Av (N/W)'] = df['36 av']
df['36 St (D/N/R)'] = df.loc[:,['36 St (D/N/R)','36 st']].sum(axis=1)
df['39 Av-Dutch Kills (N/W)'] = df['39']
df['49 St (N/R/W)'] = df['49']
df['5 Av-59 St (N/R/W)'] = df['5 av']
df['57 St-7 Av (N/Q/R/W)'] = df['57']
df['8 Av (N)'] = df['8 av']
df['86 St (N)'] = df['86']
df['Astoria Blvd (N/W)'] = df['astoria b']
df['Astoria-Ditmars Blvd (N/W)'] = df['ditmars']
df['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)'] = df.loc[:,['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)',
                                                              'atlantic']].sum(axis=1)
df['Avenue U (N)'] = df.loc[:,['avenue u','av u']].sum(axis=1)
df['Bay Pkwy (N)'] = df['bay p']
df['Broadway (N/W)'] = df['broadway']
df['Canal St (J/N/Q/R/W/Z/6)'] = df.loc[:,['Canal St (J/N/Q/R/W/Z/6)','canal']].sum(axis=1)
df['Coney Island-Stillwell Av (D/F/N/Q)'] = df.loc[:,['Coney Island-Stillwell Av (D/F/N/Q)',
                                                      'stillwell','coney']].sum(axis=1)
df['Fort Hamilton Pkwy (N)'] = df.loc[:,['ft ham','fort ham']].sum(axis=1)
df['Kings Hwy (N)'] = df['kings h']
df['Lexington Av (N/R/W)/59 St (4/5/6)'] = df['lexington']
df['New Utrecht Av (N)/62 St (D)'] = df['new utrecht']
df['Queensboro Plaza (N/W/7)'] = df.loc[:,['Queensboro Plaza (N/W/7)','queensboro pl','qnsboro pl']].sum(axis=1)
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] = df.loc[:,['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)',
                                                                  'times sq','42']].sum(axis=1)

In [ ]:
for col in stations_n:
    df.drop(col,axis=1,inplace=True)

## Q Train (BMT)

In [ ]:
for s in stations_q:
    delayed = df.loc[st_q]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('\(Q\)|Q/|/Q')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
df['14 St-Union Sq (L/N/Q/R/W/4/5/6)'] = df.loc[:,['14 St-Union Sq (L/N/Q/R/W/4/5/6)','union sq','14 st']].sum(axis=1)
df['34 St-Herald Sq (B/D/F/M/N/Q/R/W)'] = df.loc[:,['34 St-Herald Sq (B/D/F/M/N/Q/R/W)','herald sq','34']].sum(axis=1)
df['57 St-7 Av (N/Q/R/W)'] = df.loc[:,['57 St-7 Av (N/Q/R/W)','57']].sum(axis=1)
df['72 St (Q)'] = df['72']
df['86 St (Q)'] = df['86']
df['96 St (Q)'] = df['96']
df['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)'] = df.loc[:,['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)',
                                                               'atlantic']].sum(axis=1)
df['Avenue H (Q)'] = df.loc[:,['avenue h','av h']].sum(axis=1)
df['Avenue J (Q)'] = df.loc[:,['avenue j','av j']].sum(axis=1)
df['Avenue M (Q)'] = df.loc[:,['avenue m','av m']].sum(axis=1)
df['Avenue U (Q)'] = df.loc[:,['avenue u','av u']].sum(axis=1)
df['Beverley Rd (Q)'] = df['beverly']
df['Brighton Beach (B/Q)'] = df.loc[:,['Brighton Beach (B/Q)','brighton']].sum(axis=1)
df['Canal St (J/N/Q/R/W/Z/6)'] = df.loc[:,['Canal St (J/N/Q/R/W/Z/6)','canal']].sum(axis=1)
df['Church Av (B/Q)'] = df.loc[:,['church','Church Av (B/Q)']].sum(axis=1)
df['Coney Island-Stillwell Av (D/F/N/Q)'] = df.loc[:,['Coney Island-Stillwell Av (D/F/N/Q)',
                                                      'stillwell','coney']].sum(axis=1)
df['Cortelyou Rd (Q)'] = df['cortelyou']
df['DeKalb Av (B/Q/R)'] = df.loc[:,['DeKalb Av (B/Q/R)','dekalb']].sum(axis=1)
df['Kings Hwy (B/Q)'] = df.loc[:,['Kings Hwy (B/Q)','kings h']].sum(axis=1)
df['Lexington Av-63 St (F/Q)'] = df.loc[:,['Lexington Av-63 St (F/Q)','lexington']].sum(axis=1)
df['Neck Rd (Q)'] = df['neck']
df['Newkirk Plaza (B/Q)'] = df['newkirk']
df['Ocean Pkwy (Q)'] = df['ocean']
df['Parkside Av (Q)'] = df['parkside']
df['Prospect Park (B/Q/S)'] = df.loc[:,['Prospect Park (B/Q/S)','prospect p']].sum(axis=1)
df['Sheepshead Bay (B/Q)'] = df.loc[:,['Sheepshead Bay (B/Q)','sheepshead']].sum(axis=1)
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] = df.loc[:,['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)',
                                                                  'times sq','42']].sum(axis=1)
df['West 8 St-New York Aquarium (F/Q)'] = df.loc[:,['West 8 St-New York Aquarium (F/Q)',
                                                   'west 8','w 8','aquarium']].sum(axis=1)

In [ ]:
for col in stations_q:
    df.drop(col,axis=1,inplace=True)

### 7 Av (B/Q)

In [ ]:
for s in stations_bq:
    delayed = df.loc[st_bq]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('7 Av')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
df['7 Av (B/Q)'] = df['7 av']

In [ ]:
for col in stations_bq:
    df.drop(col,axis=1,inplace=True)

## R Train (BMT)

In [138]:
for s in stations_r:
    delayed = df.loc[st_r]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [139]:
line = df_r.loc[df_r['station'].str.contains('\(R\)|R/|/R')]
line = list(line['station'])
# for l in line:
#     print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [142]:
df['14 St-Union Sq (L/N/Q/R/W/4/5/6)'] = df.loc[:,['14 St-Union Sq (L/N/Q/R/W/4/5/6)','union sq','14 st']].sum(axis=1)
df['23 St (R/W)'] = df['23 st']
df['25 St (R)'] = df['25 st']
df['28 St (R/W)'] = df['28']
df['34 St-Herald Sq (B/D/F/M/N/Q/R/W)'] = df.loc[:,['34 St-Herald Sq (B/D/F/M/N/Q/R/W)','herald sq','34']].sum(axis=1)
df['45 St (R)'] = df['45']
df['46 St (M/R)'] = df.loc[:,['46 St (M/R)','46']].sum(axis=1)
df['49 St (N/R/W)'] = df.loc[:,['49 St (N/R/W)','49']].sum(axis=1)
df['5 Av-59 St (N/R/W)'] = df.loc[:,['5 Av-59 St (N/R/W)','5 av']].sum(axis=1)
df['53 St (R)'] = df['53']
df['57 St-7 Av (N/Q/R/W)'] = df.loc[:,['57 St-7 Av (N/Q/R/W)','57']].sum(axis=1)
df['63 Dr-Rego Park (M/R)'] = df.loc[:,['63 Dr-Rego Park (M/R)','rego','63']].sum(axis=1)
df['65 St (M/R)'] = df.loc[:,['65 St (M/R)','65']].sum(axis=1)
df['67 Av (M/R)'] = df.loc[:,['67 Av (M/R)','67']].sum(axis=1)
df['74-Broadway (7)/Jackson Hts-Roosevelt Av (E/F/M/R)'] = df.loc[:,['74-Broadway (7)/Jackson Hts-Roosevelt Av (E/F/M/R)',
                                                                    'roosevelt av','jackson h']].sum(axis=1)
df['77 St (R)'] = df['77']
df['8 St-New York University (R/W)'] = df.loc[:,['8 st','nyu']].sum(axis=1)
df['86 St (R)'] = df['86']
df['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)'] = df.loc[:,['Atlantic Av-Barclays Ctr (B/D/N/Q/R/2/3/4/5)',
                                                              'atlantic']].sum(axis=1)
df['Bay Ridge Av (R)'] = df['ba ridge av']
df['Bay Ridge-95 St (R)'] = df['bay ridge 95 st']
df['Canal St (J/N/Q/R/W/Z/6)'] = df.loc[:,['Canal St (J/N/Q/R/W/Z/6)','canal']].sum(axis=1)
df['Chambers St (A/C)/WTC (E)/Park Pl (2/3)/Cortlandt (R/W)'] = df.loc[:,['Chambers St (A/C)/WTC (E)/Park Pl (2/3)/Cortlandt (R/W)',
                                                                         'cortlandt']].sum(axis=1)
df['City Hall (R/W)'] = df['city h']
df['Court St (R)/Borough Hall (2/3/4/5)'] = df.loc[:,['Court St (R)/Borough Hall (2/3/4/5)','court st']].sum(axis=1)
df['DeKalb Av (B/Q/R)'] = df.loc[:,['DeKalb Av (B/Q/R)','dekalb']].sum(axis=1)
df['Elmhurst Av (M/R)'] = df.loc[:,['Elmhurst Av (M/R)','elmhurst']].sum(axis=1)
df['Forest Hills-71 Av (E/F/M/R)'] = df.loc[:,['Forest Hills-71 Av (E/F/M/R)','forest h','71']].sum(axis=1)
df['Grand Av-Newtown (M/R)'] = df.loc[:,['Grand Av-Newtown (M/R)','grand']].sum(axis=1)
df['Jay St-MetroTech (A/C/F/R)'] = df.loc[:,['Jay St-MetroTech (A/C/F/R)','jay']].sum(axis=1)
df['Lexington Av (N/R/W)/59 St (4/5/6)'] = df.loc[:,['Lexington Av (N/R/W)/59 St (4/5/6)','lexington']].sum(axis=1)
df['Northern Blvd (M/R)'] = df.loc[:,['Northern Blvd (M/R)','northern b']].sum(axis=1)
df['Prince St (R/W)'] = df['prince']
df['Prospect Av (R)'] = df['prospect']
df['Queens Plaza (E/M/R)'] = df.loc[:,['Queens Plaza (E/M/R)','queens pl','qns pl']].sum(axis=1)
df['Rector St (R/W)'] = df['rector']
df['South Ferry (1)/Whitehall St (R/W)'] = df.loc[:,['South Ferry (1)/Whitehall St (R/W)','whitehall','south f']].sum(axis=1)
df['Steinway St (M/R)'] = df.loc[:,['Steinway St (M/R)','steinway']].sum(axis=1)
df['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)'] = df.loc[:,['Times Sq-42 St (N/Q/R/W/S/1/2/3/7)/42 St (A/C/E)',
                                                                  'times sq','42']].sum(axis=1)
df['Union St (R)'] = df['union st']
df['Woodhaven Blvd (M/R)'] = df.loc[:,['Woodhaven Blvd (M/R)','woodhaven']].sum(axis=1)

In [ ]:
for col in stations_r:
    df.drop(col,axis=1,inplace=True)

### 4 Av-9 St (F/G/R)

In [ ]:
for s in stations_:
    delayed = df.loc[st_]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('\(2\)|2/|/2')]
line = list(line['station'])
for l in line:
    print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
for col in stations_:
    df.drop(col,axis=1,inplace=True)

### 59 St (N/R)

In [ ]:
for s in stations_nr:
    delayed = df.loc[st_nr]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('\(2\)|2/|/2')]
line = list(line['station'])
for l in line:
    print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
for col in stations_:
    df.drop(col,axis=1,inplace=True)

### 36 St (D/N/R)

In [ ]:
for s in stations_nr:
    delayed = df.loc[st_nr]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('\(2\)|2/|/2')]
line = list(line['station'])
for l in line:
    print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
for col in stations_:
    df.drop(col,axis=1,inplace=True)

### 36 St (M/R)

In [ ]:
for s in stations_nr:
    delayed = df.loc[st_nr]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('\(2\)|2/|/2')]
line = list(line['station'])
for l in line:
    print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
for col in stations_:
    df.drop(col,axis=1,inplace=True)

## W Train (BMT)

In [ ]:
for s in stations_:
    delayed = df.loc[st_]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('\(2\)|2/|/2')]
line = list(line['station'])
for l in line:
    print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
for col in stations_:
    df.drop(col,axis=1,inplace=True)

## Z Train (BMT)

In [ ]:
for s in stations_:
    delayed = df.loc[st_]
    ind = delayed.loc[delayed['delayed_stations']==s].index
    df.loc[ind, '{}'.format(s)] = 1

In [ ]:
line = df_r.loc[df_r['station'].str.contains('\(2\)|2/|/2')]
line = list(line['station'])
for l in line:
    print("df["+"'"+"{}".format(l)+"'"+"] = ")

In [ ]:
for col in stations_:
    df.drop(col,axis=1,inplace=True)