In [ ]:
# df['station'] = df['station'].str.lower()
# df['station'] = df['station'].str.replace('ave','av')
# df['station'] = df['station'].str.replace('place','pl')
# df['station'] = df['station'].str.replace(' road','rd')

In [ ]:
# df.rename({'EXITS                                                               ':'exits'},axis=1,inplace=True)

In [ ]:
# df = df.loc[df['division']=='IRT']
# df

In [ ]:
# df = df.loc[(df['DIVISION']=='BMT')|(df['DIVISION']=='IRT')|(df['DIVISION']=='IND')]

In [ ]:
# with open('../data/turnstile_irt.pkl','rb') as f:
#     df = pkl.load(f)
    
# # df['station'] = df['station'].str.lower()

In [ ]:
# df.rename({'C/A':'ca','UNIT':'unit','SCP':'scp','STATION':'station',
#           'LINENAME':'lines','DIVISION':'division','DATE':'date','TIME':'time',
#           'DESC':'desc','ENTRIES':'entries','EXITS':'exits'},axis=1,inplace=True)

In [ ]:
# df['date'] = pd.to_datetime(df['date'])

In [ ]:
# ts_down = pd.to_datetime('2015-01-01')
# ts_up = pd.to_datetime('2020-01-01')
# stamp = pd.date_range(start=ts_down,end=ts_up)

# df = df.loc[(df['date'] >= stamp[0]) & (df['date'] < stamp[-1])]

In [ ]:
len(list(df['station'].loc[df['division']=='IRT'].value_counts().index))

In [ ]:
# times sq
indices = df.loc[(df['station']=='42 st-port auth')|(df['station']== '42 st-pa bus te')|
                 (df['station']=='42 st-times sq')|(df['station']=='times sq-42 st')].index

df.loc[indices,'station'] = 'times sq-42 st (1/2/3/7/A/C/E/N/Q/R/S/W)'

In [ ]:
# fulton st

indices = df.loc[(df['station']=='fulton st')].index
df.loc[indices, 'station'] = 'fulton st (2/3/4/5/A/C/J/Z)'

In [ ]:
# grand ctrl 42 st

indices = df.loc[(df['station']=='grd cntrl-42 st')|(df['station']=='42 st-grd cntrl')].index
df.loc[indices, 'station'] = 'grand ctl-42 st (4/5/6/7)'

In [ ]:
# 42 st bryant pk - 5 av

indices = df.loc[(df['station']=='42 st-bryant pk')|(df['station']=='5 av')|(df['station']=='5 av-bryant pk')].index
df.loc[indices,'station'] = '42 st bryant pk-5 av (B/D/F/M/7)'

In [ ]:
# atlantic av - barclays ctr

indices = df.loc[(df['station']=='atl av-barclay')|(df['station']=='barclays center')].index
df.loc[indices,'station'] = 'atlantic av-barclays ctr (2/3/4/5/B/D/N/Q/R)'

In [ ]:
# 33 st-rawson st

ind = df.loc[(df['station']=='33 st-rawson st')|(df['station']=='33 st/rawson st')].index
df.loc[ind,'station'] = '33 st-rawson st (7)'

In [ ]:
# the 110 streets

ind_1 = df.loc[(df['station']=='110 st-cathedrl')|(df['station']=='cathedral pkwy')].index
df.loc[ind_1,'station'] = 'cathedral pkwy-110 st (1)'

ind_23 = df.loc[(df['station']=='110 st-cpn')|(df['station']=='central pk n110')].index
df.loc[ind_23,'station'] = 'ctl park n-110 st (2/3)'

ind_6 = df.loc[df['station']=='110 st'].index
df.loc[ind_6,'station'] = '110 st (6)'

In [ ]:
# the 116 streets

ind_1 = df.loc[df['station']=='116 st-columbia'].index
df.loc[ind_1,'station']='116 st-columbia (1)'

ind_23 = df.loc[(df['station']=='116 st')&(df['lines']=='23')].index
df.loc[ind_23,'station']='116 st (2/3)'

ind_6 = df.loc[(df['station']=='116 st')&(df['lines']=='6')].index
df.loc[ind_6,'station']='116 st (6)'

In [ ]:
# 137 st

ind = df.loc[(df['station']=='137 st city col')|(df['station']=='137 st-city col')].index
df.loc[ind,'station']='137 st-city clg (1)'

In [ ]:
# 103 st

ind_1 = df.loc[(df['station']=='103 st')&(df['lines']=='1')].index
df.loc[ind_1,'station']='103 st (1)'

ind_6 = df.loc[(df['station']=='103 st')&(df['lines']=='6')].index
df.loc[ind_6,'station']='103 st (6)'

ind_7 = df.loc[df['station']=='103 st-corona'].index
df.loc[ind_7,'station']='103 st-corona plza (7)'

In [ ]:
# 111 st

ind = df.loc[df['station']=='111 st'].index
df.loc[ind,'station']='111 st (7)'

In [ ]:
# 161 st yankee stdm

ind = df.loc[(df['station']=='161 st-yankee')|(df['station']=='161/yankee stad')].index
df.loc[ind,'station']='161 st-yankee stdm (4/B/D)'

In [ ]:
# 125 st

ind_1 = df.loc[(df['station']=='125 st')&(df['lines']=='1')].index
df.loc[ind_1,'station'] = '125 st (1)'

ind_23 = df.loc[(df['station']=='125 st')&(df['lines']=='23')].index
df.loc[ind_23,'station'] = '125 st (2/3)'

ind_456 = df.loc[(df['station']=='125 st')&(df['lines']=='456')].index
df.loc[ind_456,'station'] = '125 st (4/5/6)'

In [ ]:
# fixing 125 st

ind = df.loc[df['station']=='125 st (4/5/6)'].index
df.loc[ind, 'station'] = '125 st'

In [ ]:
# 138 st

ind = df.loc[(df['station']=='138/grand conc')|(df['station']=='138 st-gr conc')].index
df.loc[ind,'station'] = '138 st-grand concourse (4/5)'

ind_6 = df.loc[(df['station']=='138 st')|(df['station']=='138 st-3 av')|(df['station']=='3 av 138 st')].index
df.loc[ind_6,'station'] = '3 av-138 st (6)'

In [ ]:
# 14 st

ind_123 = df.loc[(df['station']=='14 st')|(df['station']=='14 st-6 av')|
                 (df['station']=='6 av')|(df['station']=='6 av')].index
df.loc[ind_123, 'station'] = '14 st-7 av (1/2/3/F/L/M)'

ind_456 = df.loc[(df['station']=='14 st-union sq')].index
df.loc[ind_456,'station'] = '14 st-union sq (4/5/6/L/N/Q/R/W)'

In [ ]:
# 135 st

ind = df.loc[df['station']=='135 st'].index
df.loc[ind,'station'] = '135 st (2/3)'

In [ ]:
# 145 st

ind_1 = df.loc[(df['station']=='145 st')&(df['lines']=='1')].index
df.loc[ind_1,'station'] = '145 st (1)'

ind_3 = df.loc[(df['station']=='145 st')&(df['lines']=='3')].index
df.loc[ind_3,'station'] = '145 st (3)'

In [ ]:
# 148 st harlem

ind = df.loc[(df['station']=='148 st-lenox')|(df['station']=='harlem 148 st')].index
df.loc[ind,'station'] = 'harlem-148 st (3)'

In [ ]:
# 149 st

ind_245 = df.loc[(df['station']=='149 st-gr conc')|(df['station']=='149/grand conc')].index
df.loc[ind_245,'station'] = '149 st-grand concourse (2/4/5)'

ind_25 = df.loc[(df['station']=='3 av-149 st')|(df['station']=='149 st-3 av')].index
df.loc[ind_25,'station'] = '3 av-149 st'

ind_6 = df.loc[df['station']=='e 149 st'].index
df.loc[ind_6,'station'] =  'e 149 st (6)'

In [ ]:
# 157 st

ind = df.loc[(df['station']=='157 st')].index
df.loc[ind, 'station'] = '157 st (1)'

In [ ]:
# 167 st

ind = df.loc[df['station']=='167 st'].index
df.loc[ind,'station'] = '167 st (4)'

In [ ]:
# 168 st

ind = df.loc[(df['station']=='168 st')|(df['station']=='168 st-broadway')].index
df.loc[ind,'station'] = '168 st-broadway (1/A/C)'

In [ ]:
# bleeker st - broadway/lafayette

ind = df.loc[(df['station']=='broadway/lafay')|(df['station']=='bleecker st')].index
df.loc[ind,'station']='broadway-lafayette/bleecker st (6/B/D/F/Q)'

In [ ]:
# 170 st

ind = df.loc[(df['station'] == '170 st')].index
df.loc[ind, 'station'] = '170 st (4)'

In [ ]:
# 174 st

ind = df.loc[(df['station'] == '174 st')].index
df.loc[ind, 'station'] = '174 st (2/5)'

In [ ]:
# 176 st

ind = df.loc[df['station']=='176 st'].index
df.loc[ind,'station']='176 st (6)'

In [ ]:
# 18 st

ind = df.loc[df['station']=='18 st'].index
df.loc[ind,'station']='18 st (1)'

In [ ]:
# 181 st

ind = df.loc[df['station']=='181 st'].index
df.loc[ind,'station']='181 st (1)'

In [ ]:
# 183 st

ind = df.loc[df['station']=='183 st'].index
df.loc[ind, 'station']='183 st (4)'

In [ ]:
# 191 st

ind = df.loc[df['station']=='191 st'].index
df.loc[ind, 'station']='191 st (1)'

In [ ]:
# 207 st

ind = df.loc[df['station']=='207 st'].index
df.loc[ind, 'station'] = '207 st (1)'

In [ ]:
# 215 st

ind = df.loc[df['station']=='215 st'].index
df.loc[ind, 'station'] = '215 st (1)'

In [ ]:
# 219 st

ind = df.loc[df['station'] == '219 st'].index
df.loc[ind,'station']='219 st (2/5)'

In [ ]:
# 225 st

ind = df.loc[df['station']=='225 st'].index
df.loc[ind,'station']='225 st (2/5)'

In [ ]:
# 23 st

ind_1 = df.loc[(df['station'] == '23 st')&(df['lines']=='1')].index
df.loc[ind_1,'station'] = '23 st (1)'

ind_6 = df.loc[(df['station'] == '23 st')&(df['lines']=='6')].index
df.loc[ind_6,'station'] = '23 st (6)'

In [ ]:
# 231 st

ind = df.loc[df['station']=='231 st'].index
df.loc[ind,'station'] = '231 st (1)'

In [ ]:
# 233 st

ind = df.loc[df['station']=='233 st'].index
df.loc[ind, 'station'] = '233 st (2/5)'

In [ ]:
# 238 st

ind = df.loc[df['station']=='238 st'].index
df.loc[ind, 'station'] = '238 st (1)'

In [ ]:
# 242 st

ind = df.loc[(df['station']=='242 st')|(df['station']=='v.cortlandt pk')].index
df.loc[ind,'station'] = 'van cortlandt park-242 st (1)'

In [ ]:
# 28 st

ind_1 = df.loc[(df['station'] == '28 st')&(df['lines']=='1')].index
df.loc[ind_1,'station'] = '28 st (1)'

ind_6 = df.loc[(df['station'] == '28 st')&(df['lines']=='6')].index
df.loc[ind_6,'station'] = '28 st (6)'

In [ ]:
# 33 st

ind = df.loc[df['station']=='33 st'].index
df.loc[ind,'station'] = '33 st (6)'

In [ ]:
# 34 streets

ind_1 = df.loc[df['station']=='34 st-penn sta'].index
df.loc[ind_1,'station'] = '34 st-penn sta (1/2/3/A/C/E)'

ind_7 = df.loc[df['station']=='34 st-hudson yd'].index
df.loc[ind_7,'station'] = '34 st-hudson yd (7)'

In [ ]:
# 40 st

ind = df.loc[(df['station']=='40 st lowery st')|(df['station']=='40 st-lowery st')].index
df.loc[ind,'station'] = '40 st-lowery st (7)'

In [ ]:
# 46 st

ind = df.loc[(df['station']=='46 st bliss st')|(df['station']=='46 st-bliss st')].index
df.loc[ind, 'station'] = '46 st-bliss st (7)'

In [ ]:
# 50 st

ind = df.loc[df['station']=='50 st'].index
df.loc[ind, 'station'] = '50 st (1)'

In [ ]:
# 51 st

ind = df.loc[df['station']=='51 st'].index
df.loc[ind, 'station'] = '51 st (6)'

In [ ]:
# 52 st

ind = df.loc[(df['station']=='52 st')|(df['station']=='52 st-lincoln')].index
df.loc[ind, 'station'] = '52 st-lincoln (7)'

In [ ]:
# 59 streets

ind_456 = df.loc[df['station']=='59 st'].index
df.loc[ind_456,'station'] = '59 st (4/5/6/N/Q/R/W)'

ind_1 = df.loc[(df['station']=='59 st columbus')|(df['station']=='59 st-columbus')].index
df.loc[ind_1,'station'] = '59 st-columbus cr (1/A/B/C/D)'

In [ ]:
# 61 st woodside

ind = df.loc[(df['station']=='61 st woodside')|(df['station']=='61 st/woodside')].index
df.loc[ind,'station'] = '61 st-woodside (7)'

In [ ]:
# 66 st

ind = df.loc[df['station']=='66 st-lincoln'].index
df.loc[ind,'station']='66 st-lincoln ctr (1)'

In [ ]:
# 68 st

ind = df.loc[(df['station']=='68st-hunter col')|(df['station']=='68st-hunter co')].index
df.loc[ind, 'station'] = '68 st-hunter clg (6)'

In [ ]:
# 69 st

ind = df.loc[(df['station']=='69 st')|(df['station']=='69 st-fisk av')].index
df.loc[ind, 'station'] = '69 st-fisk av (7)'

In [ ]:
# 72 st

ind = df.loc[df['station']=='72 st'].index
df.loc[ind, 'station'] =  '72 st (1/2/3)'

In [ ]:
# 74 st broadway jackson hts

ind = df.loc[(df['station']=='74 st-broadway')|(df['station']=='jksn ht-roosvlt')].index
df.loc[ind,'station'] = '74 st-broadway (7/E/F/M/R)'

In [ ]:
# 77 st

ind = df.loc[df['station']=='77 st'].index
df.loc[ind, 'station']='77 st (6)'

In [ ]:
# 79 st

ind = df.loc[df['station']=='79 st'].index
df.loc[ind,'station']='79 st (1)'

In [ ]:
# 82 st

ind = df.loc[df['station']=='82 st-jackson h'].index
df.loc[ind,'station'] = '82 st-jackson hts (7)'

In [ ]:
# 86 st

ind_1 = df.loc[(df['station']=='86 st')&(df['lines']=='1')].index
df.loc[ind_1,'station'] = '86 st (1)'

ind_456 = df.loc[(df['station']=='86 st')&(df['lines']=='456')].index
df.loc[ind_456, 'station'] = '86 st (4/5/6)'

In [ ]:
# 90 st

ind = df.loc[df['station']=='90 st-elmhurst'].index
df.loc[ind,'station'] = '90 st-elmhurst (7)'

In [ ]:
# 96 st

ind_123 = df.loc[(df['station']=='96 st')&(df['lines']=='123')].index
df.loc[ind_123,'station'] = '96 st (1/2/3)'

ind_6 = df.loc[(df['station']=='96 st')&(df['lines']=='6')].index
df.loc[ind_6,'station'] = '96 st (6)'

In [ ]:
# allerton av

ind = df.loc[df['station']=='allerton av'].index
df.loc[ind,'station'] = 'allerton av (2/5)'

In [ ]:
# astor pl

ind = df.loc[df['station']=='astor pl'].index
df.loc[ind,'station'] = 'astor pl (6)'

In [ ]:
# missed this one

ind = df.loc[(df['station']=="b'way-lafayette")].index
df.loc[ind,'station']='broadway-lafayette/bleecker st (6/B/D/F/Q)'

In [ ]:
# baychester av

ind = df.loc[df['station']=='baychester av'].index
df.loc[ind, 'station'] = 'baychester av (5)'

In [ ]:
# because of the S train, a few undesireable stations made it on here...

droppers = df.loc[(df['station']=='beach 105 st')|(df['station']=='beach 90 st')
                  |(df['station']=='beach 98 st')|(df['station']=='rockaway pk 116')
                  |((df['station']=='park pl')&(df['lines']=='S'))|(df['station']=='brd channel')
                 |(df['station']=='rockaway park b')|(df['station']=='prospect park')].index

In [ ]:
df.drop(droppers,inplace=True)

In [ ]:
# missed one

dropit = df.loc[(df['station']=='prospect park')].index
df.drop(dropit,inplace=True)

In [ ]:
# bedford park

ind = df.loc[(df['station']=='bedford park bl')|(df['station']=='bedford pk blvd')].index
df.loc[ind,'station'] = 'bedford pk blvd (4)'

In [ ]:
# bergen st

ind = df.loc[df['station']=='bergen st'].index
df.loc[ind,'station'] = 'bergen st (2/3)'

In [ ]:
# beverly rd

ind = df.loc[(df['station']=='beverly rd')|(df['station']=='beverlyrd')].index
df.loc[ind,'station'] = 'beverly rd (2/5)'

In [ ]:
# borough hall

ind = df.loc[(df['station']=='borough hall')|(df['station']=='borough hall/ct')].index
df.loc[ind,'station'] = 'borough hall-court st (2/3/4/5/R)'

In [ ]:
# franklin av/botanic garden

ind = df.loc[(df['station']=='botanic garden')|(df['station']=='franklin av')].index
df.loc[ind,'station'] = 'franklin av (2/3/4/5/S)'

In [ ]:
# messed up bleecker

ind = df.loc[(df['station']=='brdway-lafayette/bleecker st (6/B/D/F/Q)')].index
df.loc[ind,'station'] = 'broadway-lafayette/bleecker st (6/B/D/F/Q)'

In [ ]:
# bowling green

ind = df.loc[df['station'] == 'bowling green'].index
df.loc[ind,'station'] = 'bowling green (4/5)'

In [ ]:
# bronx pk east

ind = df.loc[df['station']=='bronx park east'].index
df.loc[ind,'station'] = 'bronx pk east (2/5)'

In [ ]:
# brook av

ind = df.loc[df['station']=='brook av'].index
df.loc[ind, 'station'] = 'brook av (6)'

In [ ]:
# bk br city hall

ind = df.loc[(df['station']=='brooklyn bridge')|((df['station']=='chambers st')&(df['lines']=='JZ456'))].index
df.loc[ind, 'station'] = 'brooklyn bridge-city hall (4/5/6/J/Z)'

In [ ]:
# buhre av

ind = df.loc[df['station']=='buhre av'].index
df.loc[ind,'station'] = 'buhre av (6)'

In [ ]:
# burke av

ind = df.loc[df['station']=='burke av'].index
df.loc[ind,'station'] = 'burke av (2/5)'

In [ ]:
# burnside av

ind = df.loc[df['station']=='burnside av'].index
df.loc[ind, 'station'] = 'burnside av (4)'

In [43]:
import pandas as pd
import pickle as pkl
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',500)
import warnings

In [56]:
with open('../data/turnstile_irt.pkl', 'rb') as f:
    check = pkl.load(f)

In [59]:
check['lines'].loc[check['station'] == 'CANAL ST'].value_counts()

JNQRZ6W    360046
JNQRZ6     151437
1           91498
Name: lines, dtype: int64

In [44]:
with open('all_turnstiles.pkl','rb') as f:
    df = pkl.load(f)

In [60]:
check['station'] = check['station'].str.lower()

In [63]:
canal

           station   lines division  entries    exits                date
66622     canal st  JNQRZ6      BMT  7850849  5860879 2014-10-11 01:00:00
66623     canal st  JNQRZ6      BMT  7850942  5860912 2014-10-11 05:00:00
66624     canal st  JNQRZ6      BMT  7851026  5861244 2014-10-11 09:00:00
66625     canal st  JNQRZ6      BMT  7851433  5861975 2014-10-11 13:00:00
66626     canal st  JNQRZ6      BMT  7852707  5862484 2014-10-11 17:00:00
...            ...     ...      ...      ...      ...                 ...
72732316  canal st       1      IRT  1483631  8381486 2021-10-08 05:00:00
72732317  canal st       1      IRT  1483634  8381633 2021-10-08 09:00:00
72732318  canal st       1      IRT  1483653  8381763 2021-10-08 13:00:00
72732319  canal st       1      IRT  1483686  8381887 2021-10-08 17:00:00
72732320  canal st       1      IRT  1483713  8382008 2021-10-08 21:00:00

[602981 rows x 6 columns]

In [66]:
canal = check.loc[check['station']=='canal st']

In [69]:
canal['lines'].value_counts()

JNQRZ6W    360046
JNQRZ6     151437
1           91498
Name: lines, dtype: int64

In [70]:
ind_1 = canal.loc[canal['lines']=='1'].index
canal.loc[ind_1, 'station'] = 'canal st (1)'

ind_6 = canal.loc[canal['lines'].str.contains('6')].index
canal.loc[ind_6, 'station'] = 'canal st (6/J/N/Q/R/W/Z)'

canal['station'].value_counts()

C:\Users\sethk\anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

canal st (6/J/N/Q/R/W/Z)    511483
canal st (1)                 91498
Name: station, dtype: int64

In [72]:
canal.to_csv('../data/canal_st.csv')

In [55]:
df['lines'].loc[df['station']=='canal st (1)'].value_counts()

1    65795
Name: lines, dtype: int64

In [52]:
sorted(list(df['station'].value_counts().index))

['103 st (1)',
 '103 st (6)',
 '103 st-corona plza (7)',
 '110 st (6)',
 '111 st (7)',
 '116 st (2/3)',
 '116 st (6)',
 '116 st-columbia (1)',
 '125 st (1)',
 '125 st (2/3)',
 '125 st (4/5/6)',
 '135 st (2/3)',
 '137 st-city clg (1)',
 '138 st-grand concourse (4/5)',
 '14 st-7 av (1/2/3/F/L/M)',
 '14 st-union sq (4/5/6/L/N/Q/R/W)',
 '145 st (1)',
 '145 st (3)',
 '149 st-grand concourse (2/4/5)',
 '157 st (1)',
 '161 st-yankee stdm (4/B/D)',
 '167 st (4)',
 '168 st-broadway (1/A/C)',
 '170 st (4)',
 '174 st (2/5)',
 '176 st (6)',
 '18 st (1)',
 '181 st (1)',
 '183 st (4)',
 '191 st (1)',
 '207 st (1)',
 '215 st (1)',
 '219 st (2/5)',
 '225 st (2/5)',
 '23 st (1)',
 '23 st (6)',
 '231 st (1)',
 '233 st (2/5)',
 '238 st (1)',
 '28 st (1)',
 '28 st (6)',
 '3 av-138 st (6)',
 '3 av-149 st (2/5)',
 '33 st (6)',
 '33 st-rawson st (7)',
 '34 st-hudson yd (7)',
 '34 st-penn sta (1/2/3/A/C/E)',
 '40 st-lowery st (7)',
 '42 st bryant pk-5 av (B/D/F/M/7)',
 '46 st-bliss st (7)',
 '50 st (1)',
 '52 st-lincoln (7)',
 '59 st-columbus cr (1/A/B/C/D)',
 '61 st-woodside (7)',
 '66 st-lincoln ctr (1)',
 '68 st-hunter clg (6)',
 '69 st-fisk av (7)',
 '72 st (1/2/3)',
 '77 st (6)',
 '79 st (1)',
 '82 st-jackson hts (7)',
 '86 st (1)',
 '86 st (4/5/6)',
 '90 st-elmhurst (7)',
 '96 st (1/2/3)',
 '96 st (6)',
 'allerton av (2/5)',
 'astor pl (6)',
 'atlantic av-barclays ctr (2/3/4/5/B/D/N/Q/R)',
 'baychester av (5)',
 'bedford pk blvd (4)',
 'bergen st (2/3)',
 'beverly rd (2/5)',
 'borough hall-court st (2/3/4/5/R)',
 'bowling green (4/5)',
 'broadway-lafayette/bleecker st (6/B/D/F/Q)',
 'bronx pk east (2/5)',
 'brook av (6)',
 'brooklyn bridge-city hall (4/5/6/J/Z)',
 'buhre av (6)',
 'burke av (2/5)',
 'burnside av (4)',
 'canal st (1)',
 'cathedral pkwy-110 st (1)',
 'catle hill av (6)',
 'chambers st-wtc (1/2/3/A/C/E/R/W)',
 'christopher st (1)',
 'church av (2/5)',
 'clark st (2/3)',
 'court sq (7)',
 'crown hts-utica av (3/4)',
 'ctl park n-110 st (2/3)',
 'cypress av (6)',
 'dyckman st (1)',
 'e 143 st (6)',
 'e 149 st (6)',
 'e 180 st (2/5)',
 'eastchester dyre av (5)',
 'eastern pkwy (2/3)',
 'elder av (6)',
 'flatbush av-bk clg (2/5)',
 'flushing-main st (7)',
 'fordham rd (4)',
 'franklin av (2/3/4/5/S)',
 'franklin st (1)',
 'freeman st (2/5)',
 'fulton st (2/3/4/5/A/C/J/Z)',
 'grand army plza (2/3)',
 'grand ctl-42 st (4/5/6/7)',
 'gun hill rd (2/5)',
 'gun hill rd (5)',
 'harlem-148 st (3)',
 'hosuton st (1)',
 'hoyt st (2/3)',
 'hunters pt (7)',
 'hunts pt av (6)',
 'intervale av (2/5)',
 'jackson av (2/5)',
 'jackson hts-roosevelt av (7/E/F/M/R)',
 'junction blvd (7)',
 'junius st (3)',
 'kingsbridge rd (4)',
 'kingston av (4)',
 'lexington av-53 st (6/E/M)',
 'lexington av-59 st (4/5/6/N/Q/R/W)',
 'longwood av (6)',
 'marble hill-225 st (1)',
 'mets-willets pt (7)',
 'middletown rd (6)',
 'morris pk (5)',
 'morrison av (6)',
 'moshulu pkwy (4)',
 'mt eden av (4)',
 'nereid av (2/5)',
 'nevins st (2/3/4/5)',
 'new lots av (3)',
 'newkirk av (2/5)',
 'nostrand av (3)',
 'park pl (2/3/A/C/E)',
 'parkchester (6)',
 'pelham bay pk (6)',
 'pelham pkwy (2/5)',
 'pelham pkwy (5)',
 'pennsylvania av (3)',
 'president st (2/5)',
 'prospect av (2/5)',
 'queensboro plza (7/N/Q/W)',
 'rector st (1)',
 'rockaway av (3)',
 'saratoga av (3)',
 'simpson st (2/5)',
 'south ferry (1/R/W)',
 'spring st (6)',
 'st lawrence av (6)',
 'sterling st (2/5)',
 'sutter av (3)',
 'times sq-42 st (1/2/3/7/A/C/E/N/Q/R/S/W)',
 'van cortlandt park-242 st (1)',
 'van siclen av (3)',
 'vernon-jackson (7)',
 'wakefield-241 st (2)',
 'wall st (2/3)',
 'wall st (4/5)',
 'west farm sq-e tremont (2/5)',
 'westchester sq (6)',
 'whitlock av (6)',
 'winthrop st (2/5)',
 'woodlawn (4)',
 'zerega av (6)']

In [54]:
sorted(list(df['lines'].value_counts().index))

['1',
 '123',
 '1237ACENQRS',
 '1237ACENQRSW',
 '123ACE',
 '123FLM',
 '1ABCD',
 '1AC',
 '1RW',
 '2',
 '23',
 '2345',
 '2345ACJZ',
 '2345BDNQR',
 '2345R',
 '2345S',
 '23ACE',
 '245',
 '25',
 '3',
 '34',
 '4',
 '45',
 '456',
 '4567S',
 '456JZ',
 '456LNQRW',
 '456NQRW',
 '4BD',
 '5',
 '6',
 '6BDFQ',
 '6EM',
 '7',
 '7BDFM',
 '7EFMR',
 '7NQW']

In [ ]:
# canal st

ind_1 = df.loc[(df['station']=='canal st')&(df['lines']=='1')].index
df.loc[ind_1,'station'] = 'canal st (1)'

ind_6 = df.loc[(df['station']=='canal st')&(df['lines'].str.contains('6'))].index
df.loc[ind_6,'station'] = 'canal st (6/J/N/Q/R/W/Z)'

In [ ]:
# chambers st-wtc

ind = df.loc[(df['station']=='chambers st')|(df['station']=='world trade ctr')
                |(df['station']=='wtc-cortlandt')|(df['station']=='cortlandt st')].index

df.loc[ind,'station'] = 'chambers st-wtc (1/2/3/A/C/E/R/W)'

# castle hill

ind = df.loc[df['station']=='castle hill av'].index
df.loc[ind,'station'] = 'catle hill av (6)'

# christopher st

ind = df.loc[df['station']=='christopher st'].index
df.loc[ind, 'station'] = 'christopher st (1)'

# church av

ind = df.loc[df['station']=='church av'].index
df.loc[ind,'station'] = 'church av (2/5)'

# clark st

ind = df.loc[df['station']=='clark st'].index
df.loc[ind, 'station'] = 'clark st (2/3)'

# court sq

ind = df.loc[df['station']=='court sq'].index
df.loc[ind,'station']='court sq (7)'

# crown hts-utica av

ind = df.loc[df['station']=='crown hts-utica'].index
df.loc[ind,'station']= 'crown hts-utica av (3/4)'

# cypress av

ind = df.loc[df['station']=='cypress av'].index
df.loc[ind, 'station'] = 'cypress av (6)'

# dyckman st

ind = df.loc[df['station']=='dyckman st'].index
df.loc[ind, 'station'] = 'dyckman st (1)'

# eastchester dyre av

ind = df.loc[(df['station']=='dyre av')|(df['station'] == 'eastchster/dyre')].index
df.loc[ind, 'station'] = 'eastchester dyre av (5)'

# e 143 st

ind = df.loc[(df['station']=='e 143 st')|(df['station']=="e 143/st mary's")].index
df.loc[ind,'station'] = 'e 143 st (6)'

# e 177 st-parkchester

ind = df.loc[(df['station']=='e 177 st-parkch')|(df['station']=='parkchester')].index
df.loc[ind,'station'] = 'parkchester (6)'

# e 180 st

ind = df.loc[df['station']=='e 180 st'].index
df.loc[ind, 'station'] = 'e 180 st (2/5)'

# west farms sq-e tremont

ind = df.loc[(df['station'] == 'e tremont av')|(df['station'] == 'west farms sq')].index
df.loc[ind, 'station'] = 'west farm sq-e tremont (2/5)'

# eastern pkwy

ind = df.loc[(df['station']=='eastern pkwy')|(df['station']=='eastn pkwy-musm')].index
df.loc[ind, 'station'] = 'eastern pkwy (2/3)'

# elder av

ind = df.loc[df['station']=='elder av'].index
df.loc[ind, 'station'] = 'elder av (6)'

# flatbush av - bk clg

ind = df.loc[(df['station']=='flatbush av')|(df['station']=='flatbush av-b.c')].index
df.loc[ind, 'station'] = 'flatbush av-bk clg (2/5)'

# flushing-main st

ind = df.loc[(df['station']=='main st')|(df['station']=='flushing-main')].index
df.loc[ind, 'station'] = 'flushing-main st (7)'

# fordham rd

ind = df.loc[(df['station']=='fordham rd')|(df['station']=='fordhamrd')].index
df.loc[ind, 'station'] = 'fordham rd (4)'

# franklin st

ind = df.loc[df['station']=='franklin st'].index
df.loc[ind, 'station'] = 'franklin st (1)'

# freeman st

ind = df.loc[df['station']=='freeman st'].index
df.loc[ind, 'station'] = 'freeman st (2/5)'

# grand army plza

ind = df.loc[df['station']=='grand army plaz'].index
df.loc[ind, 'station'] = 'grand army plza (2/3)'

# gun hill rds

ind_25 = df.loc[((df['station']=='gun hill rd')|(df['station']=='gun hillrd'))&(df['lines']=='25')].index
df.loc[ind_25,'station'] = 'gun hill rd (2/5)'

ind_5 = df.loc[((df['station']=='gun hill rd')|(df['station']=='gun hillrd'))&(df['lines']=='5')].index
df.loc[ind_5,'station'] = 'gun hill rd (5)'

# houston st

ind = df.loc[df['station']=='houston st'].index
df.loc[ind, 'station'] = 'hosuton st (1)'

# hoyt st

ind = df.loc[df['station']=='hoyt st'].index
df.loc[ind, 'station'] = 'hoyt st (2/3)'

# hunters pt

ind = df.loc[df['station'] == 'hunters pt av'].index
df.loc[ind, 'station'] = 'hunters pt (7)'

# hunts pt

ind = df.loc[df['station']=='hunts point av'].index
df.loc[ind,'station'] = 'hunts pt av (6)'

# intervale av

ind = df.loc[(df['station']=='intervale av')|(df['station']=='intervale-163')].index
df.loc[ind, 'station'] = 'intervale av (2/5)'

# jackson av

ind = df.loc[df['station']=='jackson av'].index
df.loc[ind, 'station'] = 'jackson av (2/5)'

# junction blvd

ind = df.loc[df['station']=='junction blvd'].index
df.loc[ind,'station'] = 'junction blvd (7)'

# junius st

ind = df.loc[df['station']=='junius st'].index
df.loc[ind, 'station'] = 'junius st (3)'

# kingsbridge rd

ind = df.loc[df['station'] == 'kingsbridge rd'].index
df.loc[ind, 'station'] = 'kingsbridge rd (4)'

# kingston av

ind = df.loc[df['station'] == 'kingston av'].index
df.loc[ind, 'station'] = 'kingston av (4)'

# lenxington av - 53 st

ind = df.loc[(df['station']=='51 st (6)')|(df['station']=='lexington-53 st')
            |(df['station']=='lexington av/53')].index
df.loc[ind,'station'] = 'lexington av-53 st (6/E/M)'

# lexington av - 59 st

ind = df.loc[(df['station']=='59 st (4/5/6/N/Q/R/W)')|(df['station'] == 'lexington av')].index
df.loc[ind, 'station'] = 'lexington av-59 st (4/5/6/N/Q/R/W)'

# longwood av

ind = df.loc[df['station']=='longwood av'].index
df.loc[ind, 'station'] = 'longwood av (6)'

# marble hill

ind = df.loc[df['station']=='marble hill-225'].index
df.loc[ind, 'station'] = 'marble hill-225 st (1)'

# mets-willets pt

ind = df.loc[df['station']=='mets-willets pt'].index
df.loc[ind, 'station'] = 'mets-willets pt (7)'

# middletown rd

ind = df.loc[(df['station']=='middletown rd')|(df['station']=='middletownrd')].index
df.loc[ind,'station'] = 'middletown rd (6)'

# morrison av

ind = df.loc[(df['station']=='morisn av/sndvw')|(df['station']=='morrison av')].index
df.loc[ind,'station'] = 'morrison av (6)'

# mosholu pkwy

ind = df.loc[(df['station']=='mosholu parkway')|(df['station']=='mosholu pkwy')].index
df.loc[ind,'station'] = 'moshulu pkwy (4)'

# morris pk

ind = df.loc[df['station'] == 'morris park'].index
df.loc[ind,'station'] = 'morris pk (5)'

# mt eden av

ind = df.loc[df['station'] == 'mt eden av'].index
df.loc[ind, 'station'] = 'mt eden av (4)'

# nereid av

ind = df.loc[df['station']=='nereid av'].index
df.loc[ind, 'station'] = 'nereid av (2/5)'

# nevins st

ind = df.loc[df['station']=='nevins st'].index
df.loc[ind, 'station'] = 'nevins st (2/3/4/5)'

# new lots av

ind = df.loc[df['station'] == 'new lots av'].index
df.loc[ind, 'station'] = 'new lots av (3)'

# newkirk av

ind = df.loc[df['station']=='newkirk av'].index
df.loc[ind, 'station'] = 'newkirk av (2/5)'

# nostrand av

ind = df.loc[df['station'] == 'nostrand av'].index
df.loc[ind, 'station'] = 'nostrand av (3)'

# pelham bay park/orchard beach

ind = df.loc[(df['station']=='orchard beach')|(df['station']=='pelham bay park')].index
df.loc[ind, 'station'] = 'pelham bay pk (6)'

# park pl

ind = df.loc[df['station'] == 'park pl'].index
df.loc[ind, 'station'] = 'park pl (2/3/A/C/E)'

# pelham parkways

ind_25 = df.loc[(df['lines']=='25')&((df['station']=='pelham parkway')|(df['station']=='pelham pkwy'))].index
df.loc[ind_25, 'station'] = 'pelham pkwy (2/5)'

ind_5 = df.loc[(df['lines']=='5')&((df['station']=='pelham parkway')|(df['station']=='pelham pkwy'))].index
df.loc[ind_5, 'station'] = 'pelham pkwy (5)'

# pennsylvania av

ind = df.loc[df['station']=='pennsylvania av'].index
df.loc[ind,'station'] = 'pennsylvania av (3)'

# president st

ind = df.loc[df['station']=='president st'].index
df.loc[ind, 'station'] = 'president st (2/5)'

# prospect av

ind = df.loc[df['station']=='prospect av'].index
df.loc[ind, 'station'] = 'prospect av (2/5)'

# qnsboro plaza

ind = df.loc[df['station']=='queensboro plz'].index
df.loc[ind, 'station'] = 'queensboro plza (7/N/Q/W)'

# rector st

ind = df.loc[df['station']=='rector st'].index
df.loc[ind, 'station'] = 'rector st (1)'

# rockaway av

ind = df.loc[df['station']=='rockaway av'].index
df.loc[ind, 'station'] = 'rockaway av (3)'

# roosevelt av - part of 74 st-broadway (7/E/F/M/R)

ind = df.loc[df['station']=='roosevelt av'].index
df.loc[ind, 'station'] = 'jackson hts-roosevelt av (7/E/F/M/R)'

ind_change = df.loc[(df['station']=='74 st-broadway (7/E/F/M/R)')|(df['station']=='74 st-brdway (7/E/F/M/R)')].index
df.loc[ind_change,'station'] = 'jackson hts-roosevelt av (7/E/F/M/R)'

# saratoga av

ind = df.loc[df['station']=='saratoga av'].index
df.loc[ind, 'station'] = 'saratoga av (3)'

# simpson st

ind = df.loc[df['station']=='simpson st'].index
df.loc[ind, 'station'] = 'simpson st (2/5)'

# south ferry

ind = df.loc[(df['station']=='south ferry')|(df['station']=='whitehall s-fry')|(df['station']=='whitehall st')].index
df.loc[ind, 'station'] = 'south ferry (1/R/W)'

# spring st

ind = df.loc[df['station']=='spring st'].index
df.loc[ind, 'station'] = 'spring st (6)'

# st lawrence av

ind = df.loc[df['station']=='st lawrence av'].index
df.loc[ind,'station'] = 'st lawrence av (6)'

# sterling st

ind = df.loc[df['station']=='sterling st'].index
df.loc[ind, 'station'] = 'sterling st (2/5)'

# sutter av

ind = df.loc[(df['station']=='sutter av')|(df['station']=='sutter av-rutld')].index
df.loc[ind, 'station'] = 'sutter av (3)'

# van siclen

ind = df.loc[df['station']=='van siclen av'].index
df.loc[ind, 'station'] = 'van siclen av (3)'

# vernon-jackson

ind = df.loc[(df['station']=='vernon-jackson')|(df['station']=='vernon/jackson')].index
df.loc[ind, 'station'] = 'vernon-jackson (7)'

# wakefield 241

ind = df.loc[(df['station']=='wakefield-241')|(df['station']=='wakefield/241')].index
df.loc[ind, 'station'] = 'wakefield-241 st (2)'

# wall streets

ind_23 = df.loc[(df['station']=='wall st')&(df['lines']=='23')].index
df.loc[ind_23,'station'] = 'wall st (2/3)'

ind_45 = df.loc[(df['station']=='wall st')&(df['lines']=='45')].index
df.loc[ind_45,'station'] = 'wall st (4/5)'

# westchester sq

ind = df.loc[df['station']=='westchester sq'].index
df.loc[ind, 'station'] = 'westchester sq (6)'

# whitlock av

ind = df.loc[df['station']=='whitlock av'].index
df.loc[ind, 'station'] = 'whitlock av (6)'

# winthrop st

ind = df.loc[df['station']=='winthrop st'].index
df.loc[ind, 'station'] = 'winthrop st (2/5)'

# woodlawn

ind = df.loc[(df['station']=='woodlawn')|(df['station']=='woodlawn rd')|(df['station']=='woodlawnrd')].index
df.loc[ind, 'station'] = 'woodlawn (4)'

# zerega av

ind = df.loc[df['station']=='zerega av'].index
df.loc[ind, 'station'] = 'zerega av (6)'

# 3 av - 149 st

ind = df.loc[df['station']=='3 av-149 st'].index
df.loc[ind, 'station'] = '3 av-149 st (2/5)'

sorted(list(df['station'].value_counts().index))

ind = df.loc[(df['lines']=='ACENQRS1237W')|(df['lines']=='ACENQRS1237')|(df['lines']=='ACENGRS1237')
            |(df['lines']=='ACENGRS1237W')].index
df.loc[ind, 'lines'] = '1237ACENQRSW'

ind = df.loc[df['lines'] == '456LNQR'].index
df.loc[ind, 'lines'] = '456LNQRW'

ind = df.loc[(df['lines']=='R1')|(df['lines']=='1R')|(df['lines']=='R1W')].index
df.loc[ind, 'lines'] = '1RW'

ind = df.loc[(df['lines']=='AC1')].index
df.loc[ind, 'lines'] = '1AC'

ind = df.loc[(df['lines']=='BDNQR2345')].index
df.loc[ind, 'lines'] = '2345BDNQR'

ind = df.loc[df['lines']=='ACE23'].index
df.loc[ind, 'lines'] = '23ACE'

ind = df.loc[df['lines']=='LNQR456W'].index
df.loc[ind,'lines'] = '456LNQRW'

ind = df.loc[df['lines']=='NQR456'].index
df.loc[ind,'lines'] = '456NQRW'

ind = df.loc[df['lines']=='7NQ'].index
df.loc[ind, 'lines'] = '7NQW'

ind = df.loc[df['lines']=='ABCD1'].index
df.loc[ind, 'lines'] = '1ABCD'

ind = df.loc[df['lines']=='456NQRW'].index
df.loc[ind, 'lines'] = '456NQRW'

ind = df.loc[df['lines']=='EFMR7'].index
df.loc[ind, 'lines'] = '7EFMR'

ind = df.loc[df['lines']=='JNQRZ6'].index
df.loc[ind, 'lines'] = '6JNQRZW'

ind = df.loc[df['lines']=='S2345'].index
df.loc[ind, 'lines'] = '2345S'

ind = df.loc[df['lines']=='FLM123'].index
df.loc[ind,'lines'] = '123FLM'

ind = df.loc[(df['lines']=='456NQR')|(df['lines']=='NQR456W')].index
df.loc[ind,'lines'] = '456NQRW'

dropper = df.loc[df['lines']=='ACS'].index
df.drop(dropper,inplace=True)

ind = df.loc[df['lines']=='LNQR456'].index
df.loc[ind,'lines'] = '456LNQRW'

df['lines'].loc[df['station']=='lexington av-53 st (6/E/M)'].value_counts()

ind = df.loc[df['lines']=='R2345'].index
df.loc[ind, 'lines'] = '2345R'

ind = df.loc[df['lines']=='JZ456'].index
df.loc[ind, 'lines'] = '456JZ'

ind = df.loc[df['lines']=='JNQRZ6W'].index
df.loc[ind,'lines'] = '6JNQRZW'

ind = df.loc[(df['lines']=='6DF')|(df['lines']=='BDFQ6')].index
df.loc[ind, 'lines'] = '6BDFQ'

ind = df.loc[df['lines']=='ACJZ2345'].index
df.loc[ind, 'lines'] = '2345ACJZ'

ind = df.loc[df['lines']=='BD4'].index
df.loc[ind, 'lines'] = '4BD'

ind = df.loc[(df['lines']=='EM6')|((df['lines']=='6')&(df['station']=='lexington av-53 st (6/E/M)'))].index
df.loc[ind, 'lines'] = '6EM'

ind = df.loc[df['lines']=='BDFM7'].index
df.loc[ind,'lines'] = '7BDFM'

ind = df.loc[(df['station']=='park pl (2/3/A/C/E)')&(df['lines']=='23')].index
df.loc[ind, 'lines'] = '23ACE'

In [3]:
# with open('all_turnstiles.pkl','wb') as f:
#     pkl.dump(df, f)

In [73]:
df

,ca,unit,scp,station,lines,division,date,time,desc,entries,exits
1988135,R101,R001,02-00-00,south ferry (1/R/W),1RW,IRT,2015-01-01,0:00:00,REGULAR,1954174,3770840
1988136,R101,R001,02-00-00,south ferry (1/R/W),1RW,IRT,2015-01-01,4:00:00,REGULAR,1954197,3770914
1988137,R101,R001,02-00-00,south ferry (1/R/W),1RW,IRT,2015-01-01,8:00:00,REGULAR,1954217,3770934
1988138,R101,R001,02-00-00,south ferry (1/R/W),1RW,IRT,2015-01-01,12:00:00,REGULAR,1954258,3770980
1988139,R101,R001,02-00-00,south ferry (1/R/W),1RW,IRT,2015-01-01,16:00:00,REGULAR,1954438,3771080
...,...,...,...,...,...,...,...,...,...,...,...
53606487,R730,R431,00-00-04,eastchester dyre av (5),5,IRT,2019-12-31,4:00:00,REGULAR,1559888301,1728208092
53606488,R730,R431,00-00-04,eastchester dyre av (5),5,IRT,2019-12-31,8:00:00,REGULAR,1559888182,1728208105
53606489,R730,R431,00-00-04,eastchester dyre av (5),5,IRT,2019-12-31,12:00:00,REGULAR,1559888100,1728208118
53606490,R730,R431,00-00-04,eastchester dyre av (5),5,IRT,2019-12-31,16:00:00,REGULAR,1559888030,1728208149
53606491,R730,R431,00-00-04,eastchester dyre av (5),5,IRT,2019-12-31,20:00:00,REGULAR,1559887996,1728208188

In [74]:
zero_entry = df.loc[df['entries']==0].index

In [92]:
see = df.iloc[[1995945,1995946]]

In [93]:
see

,ca,unit,scp,station,lines,division,date,time,desc,entries,exits
7580270,R160,R164,2/3/2000,66 st-lincoln ctr (1),1,IRT,2015-07-23,5:00:00,REGULAR,2050404,896158
7580271,R160,R164,2/3/2000,66 st-lincoln ctr (1),1,IRT,2015-07-23,7:51:35,REGULAR,2050587,896245

In [84]:
whut = df.loc[zero_entry]
whut

,ca,unit,scp,station,lines,division,date,time,desc,entries,exits
1995946,R138,R293,00-05-01,34 st-penn sta (1/2/3/A/C/E),123ACE,IRT,2015-01-01,1:00:00,REGULAR,0,900
1995947,R138,R293,00-05-01,34 st-penn sta (1/2/3/A/C/E),123ACE,IRT,2015-01-01,5:00:00,REGULAR,0,900
1995948,R138,R293,00-05-01,34 st-penn sta (1/2/3/A/C/E),123ACE,IRT,2015-01-01,9:00:00,REGULAR,0,900
1995949,R138,R293,00-05-01,34 st-penn sta (1/2/3/A/C/E),123ACE,IRT,2015-01-01,13:00:00,REGULAR,0,900
1995950,R138,R293,00-05-01,34 st-penn sta (1/2/3/A/C/E),123ACE,IRT,2015-01-01,17:00:00,REGULAR,0,900
...,...,...,...,...,...,...,...,...,...,...,...
53535938,R122,R290,2/5/2001,hosuton st (1),1,IRT,2019-12-31,4:00:00,REGULAR,0,37
53535939,R122,R290,2/5/2001,hosuton st (1),1,IRT,2019-12-31,8:00:00,REGULAR,0,37
53535940,R122,R290,2/5/2001,hosuton st (1),1,IRT,2019-12-31,12:00:00,REGULAR,0,37
53535941,R122,R290,2/5/2001,hosuton st (1),1,IRT,2019-12-31,16:00:00,REGULAR,0,37
53535942,R122,R290,2/5/2001,hosuton st (1),1,IRT,2019-12-31,20:00:00,REGULAR,0,37

In [75]:
zero_entry

Int64Index([ 1995946,  1995947,  1995948,  1995949,  1995950,  1995951,
             1995952,  1995953,  1995954,  1995955,
            ...
            53535933, 53535934, 53535935, 53535936, 53535937, 53535938,
            53535939, 53535940, 53535941, 53535942],
           dtype='int64', length=161637)

In [4]:
ts_2015 = pd.to_datetime('2015-01-01')
ts_2016 = pd.to_datetime('2016-01-01')
ts_2017 = pd.to_datetime('2017-01-01')
ts_2018 = pd.to_datetime('2018-01-01')
ts_2019 = pd.to_datetime('2019-01-01')
ts_2020 = pd.to_datetime('2020-01-01')

In [6]:
df['entries'] = df['entries'].astype(int)
df['exits'] = df['exits'].astype(int)

In [8]:
stations = sorted(list(df['station'].value_counts().index))

In [7]:
df_2015 = df.loc[((df['date'] >= ts_2015)&(df['date'] < ts_2016))&((df['entries']))]
df_2016 = df.loc[((df['date'] >= ts_2016)&(df['date'] < ts_2017))&((df['entries']))]
df_2017 = df.loc[((df['date'] >= ts_2017)&(df['date'] < ts_2018))&((df['entries']))]
df_2018 = df.loc[((df['date'] >= ts_2018)&(df['date'] < ts_2019))&((df['entries']))]
df_2019 = df.loc[((df['date'] >= ts_2019)&(df['date'] < ts_2020))&((df['entries']))]

In [9]:
df_2015['entries'].loc[df['station'] == 'south ferry (1/R/W)'].idxmax()

12015561

In [10]:
df_2015['entries'].loc[df['station'] == 'times sq-42 st (1/2/3/7/A/C/E/N/Q/R/S/W)'].max()

10345673

In [14]:
ind = df.loc[df['station']=='times sq-42 st (1/2/3/7/A/C/E/N/Q/R/S/W)'].index
ind

Int64Index([ 1996798,  1996799,  1996800,  1996801,  1996802,  1996803,
             1996804,  1996805,  1996806,  1996807,
            ...
            53541817, 53541818, 53541819, 53541820, 53541821, 53541822,
            53541823, 53541824, 53541825, 53541826],
           dtype='int64', length=466827)

In [11]:
df_2015.loc[12015561]

ca                         R101
unit                       R001
scp                    02-00-02
station     south ferry (1/R/W)
lines                       1RW
division                    IRT
date        2015-12-31 00:00:00
time                   16:00:00
desc                    REGULAR
entries                10345673
exits                   7827801
Name: 12015561, dtype: object

In [34]:
!pwd

/c/users/sethk/documents/flatiron/phase5_capstone/mta/mta_service_delays/data_cleaning

In [32]:
pd.concat([df_max_entries,df_max_exits])

,ca,unit,scp,station,lines,division,date,time,desc,entries,exits
12030776,R170,R191,00-00-02,103 st (1),1,IRT,2015-12-31,20:00:00,REGULAR,13883675,4008103
22301137,R170,R191,00-00-02,103 st (1),1,IRT,2016-12-31,12:00:00,REGULAR,14629327,4150383
32565156,R170,R191,00-00-02,103 st (1),1,IRT,2017-12-31,20:00:00,REGULAR,15369003,4294925
42872049,R170,R191,00-00-02,103 st (1),1,IRT,2018-12-31,16:00:00,REGULAR,16117843,4436196
53547143,R170,R191,00-00-02,103 st (1),1,IRT,2019-12-31,16:00:00,REGULAR,16826413,4569368
...,...,...,...,...,...,...,...,...,...,...,...
32590568,R294,R052,00-00-00,woodlawn (4),4,IRT,2017-12-31,11:00:00,REGULAR,7327955,6393889
53572765,R294,R052,00-00-00,woodlawn (4),4,IRT,2019-12-31,23:00:00,REGULAR,8573587,6959544
5507083,R419,R326,00-00-00,zerega av (6),6,IRT,2015-05-07,5:00:00,RECOVR AUD,1239563,2377504
32600856,R419,R326,00-00-00,zerega av (6),6,IRT,2017-12-31,20:00:00,REGULAR,53235897,1029643
41900762,R419,R326,00-00-00,zerega av (6),6,IRT,2018-11-29,8:00:00,REGULAR,53334045,1399426

In [26]:
len(ind_max_exits)

641

In [36]:
for ind in ind_max_entries:
    for i in in_both:
        if ind == i:
            ind_max_entries.remove(ind)
            
for ind in ind_max_exits:
    for i in in_both:
        if ind == i:
            ind_max_exits.remove(ind)

In [41]:
len(ind_max_entries)

845

In [38]:
ind_max_entries = []
for station in stations:
    ind_max_entries.append(df_2015['entries'].loc[df['station'] == '{}'.format(station)].idxmax())
    ind_max_entries.append(df_2016['entries'].loc[df['station'] == '{}'.format(station)].idxmax())
    ind_max_entries.append(df_2017['entries'].loc[df['station'] == '{}'.format(station)].idxmax())
    ind_max_entries.append(df_2018['entries'].loc[df['station'] == '{}'.format(station)].idxmax())
    ind_max_entries.append(df_2019['entries'].loc[df['station'] == '{}'.format(station)].idxmax())

In [39]:
ind_max_exits = []
for station in stations:
    ind_max_exits.append(df_2015['exits'].loc[df['station'] == '{}'.format(station)].idxmax())
    ind_max_exits.append(df_2016['exits'].loc[df['station'] == '{}'.format(station)].idxmax())
    ind_max_exits.append(df_2017['exits'].loc[df['station'] == '{}'.format(station)].idxmax())
    ind_max_exits.append(df_2018['exits'].loc[df['station'] == '{}'.format(station)].idxmax())
    ind_max_exits.append(df_2019['exits'].loc[df['station'] == '{}'.format(station)].idxmax())

In [40]:
df_max_entries = df.loc[ind_max_entries]
df_max_exits = df.loc[ind_max_exits]

In [42]:
df_max_entries.to_csv('../data/turnstile/max_entries.csv')
df_max_exits.to_csv('../data/turnstile/max_exits.csv')

In [5]:
print(df['station'].loc[df['lines']=='7BDFM'].value_counts())
print("""

""")
print(df['station'].loc[df['lines']=='7EFMR'].value_counts())

42 st bryant pk-5 av (B/D/F/M/7)    110767
Name: station, dtype: int64



jackson hts-roosevelt av (7/E/F/M/R)    54995
Name: station, dtype: int64

In [220]:
sorted(list(df['lines'].value_counts().index))

['1',
 '123',
 '1237ACENQRS',
 '1237ACENQRSW',
 '123ACE',
 '123FLM',
 '1ABCD',
 '1AC',
 '1RW',
 '2',
 '23',
 '2345',
 '2345ACJZ',
 '2345BDNQR',
 '2345R',
 '2345S',
 '23ACE',
 '245',
 '25',
 '3',
 '34',
 '4',
 '45',
 '456',
 '4567S',
 '456JZ',
 '456LNQRW',
 '456NQRW',
 '4BD',
 '5',
 '6',
 '6BDFQ',
 '6EM',
 '7',
 '7BDFM',
 '7EFMR',
 '7NQW']

In [25]:
# with open('../data/turnstile_irt_cleaned.pkl','wb') as f:
#     pkl.dump(df, f)

In [32]:
trainz = list(df['lines'].value_counts().index)

In [33]:
big_trainz = trainz[:4]

In [34]:
big_trainz

['6', '1', '7', '25']

In [35]:
trainz = trainz[4:]

In [38]:
for line in trainz:
    df1 = df.loc[df['lines']==line]
    df1.to_csv('../data/turnstile/{}.csv'.format(line))

In [28]:
df['lines'].value_counts()[:9]

6        2785984
1        2649035
7        2346439
25       1716830
23        986115
123       889113
4567S     713663
45        662962
4         595450
Name: lines, dtype: int64

In [38]:
for line in big_trainz:
    df1 = df.loc[df['lines']==line]
    if len(df1) < 1600000:
        df_first = df1[:800000]
        df_second = df1[800000:]
        df_first.to_csv('data/turnstile/{}_first.csv'.format(line))
        df_second.to_csv('data/turnstile/{}_second.csv'.format(line))
    elif len(df1) > 1600000 and len(df1) < 2400000:
        df_first = df1[:800000]
        df_second = df1[800000:1600000]
        df_third = df1[1600000:]
        df_first.to_csv('data/turnstile/{}_first.csv'.format(line))
        df_second.to_csv('data/turnstile/{}_second.csv'.format(line))
        df_third.to_csv('data/turnstile/{}_third.csv'.format(line))
    elif len(df1) > 2400000 and len(df1) < 3800000:
        df_first = df1[:800000]
        df_second = df1[800000:1600000]
        df_third = df1[1600000:2400000]
        df_fourth = df1[2400000:3200000]
        df_fifth = df1[3200000:]
        df_first.to_csv('data/turnstile/{}_first.csv'.format(line))
        df_second.to_csv('data/turnstile/{}_second.csv'.format(line))
        df_third.to_csv('data/turnstile/{}_third.csv'.format(line))
        df_fourth.to_csv('data/turnstile/{}_fourth.csv'.format(line))
        df_fifth.to_csv('data/turnstile/{}_fifth.csv'.format(line))
    else:
        df_first = df1[:800000]
        df_second = df1[800000:1600000]
        df_third = df1[1600000:2400000]
        df_fourth = df1[2400000:3200000]
        df_fifth = df1[3200000:3800000]
        df_sixth = df1[3800000:]
        df_first.to_csv('data/turnstile/{}_first.csv'.format(line))
        df_second.to_csv('data/turnstile/{}_second.csv'.format(line))
        df_third.to_csv('data/turnstile/{}_third.csv'.format(line))
        df_fourth.to_csv('data/turnstile/{}_fourth.csv'.format(line))
        df_fifth.to_csv('data/turnstile/{}_fifth.csv'.format(line))
        df_sixth.to_csv('data/turnstile/{}_sixth.csv'.format(line))

In [34]:
big_trainz

['6', '1', '7', '25', '1237ACENQRSW', '23', '2345ACJZ', '123', '4567S']

In [ ]:
df1 = df.loc[df['train_lines']=='4567s']
df_first = df1[:800000]
df_second = df1[800000:]
# df_third = df1[1600000:]
# df_fourth = df1[2400000:]
# df_fifth = df1[3200000:3800000]
# df_sixth = df1[3800000:]
df_first.to_csv('data/turnstile/{}_first.csv'.format(line))
df_second.to_csv('data/turnstile/{}_second.csv'.format(line))
# df_third.to_csv('data/turnstile/{}_third.csv')
# df_fourth.to_csv('data/turnstile/{}_fourth.csv')
# df_fifth.to_csv('data/turnstile/{}_fifth.csv')
# df_sixth.to_csv('data/turnstile/{}_sixth.csv')