In [1]:
import pandas as pd
import pickle as pkl

In [5]:
!pwd

/c/users/sethk/documents/flatiron/phase5_capstone/mta/mta_service_delays/data_cleaning

In [6]:
delays = pd.read_csv('../../get_data/alerts_clean.csv')

In [14]:
with open('../../get_data/alerts.pkl', 'rb') as f:
    delays = pkl.load(f)

In [15]:
delays

,ID,DateTime,Subject,Alert
0,1122933,2021-09-30 23:57:00,Elevator at 8 Av - 14 St is back in service (E...,Elevator EL224 is located Mezzanine to Platfor...
1,1122932,2021-09-30 23:54:00,"Update: BKLYN, Franklin Av S Train, Some Delays",Franklin Av Shuttle trains are delayed in both...
2,1122931,2021-09-30 23:54:00,Elevator outage at 34 St - Hudson Yards (EL600),"Elevator EL600, which runs from Mezzanine to P..."
3,1122930,2021-09-30 23:54:00,"BKLYN, Franklin Av S Train, Some Delays",Franklin Av Shuttle trains are delayed in both...
4,1122929,2021-09-30 23:50:00,Elevator outage at 179 St - Jamaica (EL431),"Elevator EL431, which runs from 179 Pl & Hills..."
...,...,...,...,...
567630,18740,2010-01-01 01:15:00,"Bklyn, J Train, Police Investigation",Both directions. J train susp Myrtle Av to Cre...
567631,18739,2010-01-01 00:56:00,"UPDATED: BX, 4 Train, Police Investigation",4 train service has resumed with residual delays.
567632,18738,2010-01-01 00:49:00,"UPDATED: BX, 4 Train, Police Investigation",Bklyn-bound. 4 train express Burnside Av to 12...
567633,18737,2010-01-01 00:35:00,"UPDATED: BX, 4 Train, Police Investigation",Both directions. 4 train susp btwn Burnside Av...
567634,18736,2010-01-01 00:26:00,"BX, 4 Train, Police Investigation",BKLYN-bound. 4 train via express track Burnsid...

In [3]:
stopwords = stopwords

In [4]:
delays

,id,datetime,agency,subject,message
0,1122932,9/30/2021 23:54,NYC,"Update: BKLYN, Franklin Av S Train, Some Delays",Franklin Av Shuttle trains are delayed in both...
1,1122930,9/30/2021 23:54,NYC,"BKLYN, Franklin Av S Train, Some Delays",Franklin Av Shuttle trains are delayed in both...
2,1122928,9/30/2021 23:49,NYC,"Update: BKLYN, Q Train, Delays",Q trains are delayed in both directions while ...
3,1122926,9/30/2021 23:43,NYC,"Update: BKLYN, Q Train, Delays",Q trains are proceeding in both directions wit...
4,1122924,9/30/2021 23:38,NYC,"BKLYN, Q Train, Delays",Q trains are delayed in both directions while ...
...,...,...,...,...,...
215955,18740,1/1/2010 1:15,NYC,"Bklyn, J Train, Police Investigation",Both directions. J train susp Myrtle Av to Cre...
215956,18739,1/1/2010 0:56,NYC,"UPDATED: BX, 4 Train, Police Investigation",4 train service has resumed with residual delays.
215957,18738,1/1/2010 0:49,NYC,"UPDATED: BX, 4 Train, Police Investigation",Bklyn-bound. 4 train express Burnside Av to 12...
215958,18737,1/1/2010 0:35,NYC,"UPDATED: BX, 4 Train, Police Investigation",Both directions. 4 train susp btwn Burnside Av...
215959,18736,1/1/2010 0:26,NYC,"BX, 4 Train, Police Investigation",BKLYN-bound. 4 train via express track Burnsid...

In [5]:
A_C_train = delays.loc[delays['subject'].str.contains(' A | B | C | D | E | F', case=True)]

In [10]:
A_C_train.drop(['id','agency'], axis=1, inplace=True)

C:\Users\sethk\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
A_C_train['datetime'] = pd.to_datetime(A_C_train['datetime'])

<ipython-input-12-8a06d3271c88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A_C_train['datetime'] = pd.to_datetime(A_C_train['datetime'])

In [14]:
A_C_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23067 entries, 48 to 215951
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  23067 non-null  datetime64[ns]
 1   subject   23067 non-null  object
 2   message   23067 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 1.3+ MB

In [15]:
with open('data/ac_delays.pkl', 'wb') as f:
    pkl.dump(A_C_train, f)