In [7]:
import pandas as pd
import pickle as pkl

In [2]:
alerts_data = pd.read_csv('data/alerts/alerts_8.csv', encoding='utf_8')

In [4]:
df = pd.read_csv('data/alerts_clean.csv')

In [5]:
df = pd.DataFrame(df)

In [13]:
with open('alerts.pkl', 'wb') as f:
    pkl.dump(df, f)

In [15]:
with open('alerts.pkl', 'rb') as f:
    df = pkl.load(f)

In [11]:
df['DateTime'] = pd.to_datetime(df['DateTime'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567635 entries, 0 to 567634
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ID        567635 non-null  int64
 1   DateTime  567635 non-null  datetime64[ns]
 2   Subject   567635 non-null  object
 3   Alert     567635 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 17.3+ MB

In [5]:
alerts_df = pd.DataFrame(alerts_data)

In [6]:
alerts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573597 entries, 0 to 573596
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Index     573597 non-null  int64
 1   ID        573597 non-null  int64
 2   DateTime  573597 non-null  object
 3   Agency    573597 non-null  object
 4   Subject   573597 non-null  object
 5   Alert     573597 non-null  object
dtypes: int64(2), object(4)
memory usage: 26.3+ MB

In [7]:
alerts_df.drop(['Index', 'Agency'], axis=1, inplace=True)
alerts_df.head()

,ID,DateTime,Subject,Alert
0,1123289,10/1/2021 14:32,Elevator at Atlantic Av-Barclays Ctr is back i...,Elevator EL307 is located Mezzanine to B/Q Pla...
1,1123284,10/1/2021 14:17,Escalator outage at 34 St - Hudson Yards (ES626),"Escalator ES626, which runs from Upper Mezzani..."
2,1123283,10/1/2021 14:15,Details about current outage Elevator at 149 S...,"The outage is now scheduled to end by Monday, ..."
3,1123279,10/1/2021 14:01,Elevator at 8 Av - 14 St is back in service (E...,Elevator EL224 is located Mezzanine to Platfor...
4,1123276,10/1/2021 13:54,Details about current outage Escalator at Cour...,"The outage is now scheduled to end by Monday, ..."

In [8]:
alerts_df.duplicated(subset=['ID']).value_counts()

False    567958
True       5639
dtype: int64

In [9]:
alerts_df.drop_duplicates(subset='ID', inplace=True)

In [10]:
alerts_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567958 entries, 0 to 573596
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ID        567958 non-null  int64
 1   DateTime  567958 non-null  object
 2   Subject   567958 non-null  object
 3   Alert     567958 non-null  object
dtypes: int64(1), object(3)
memory usage: 21.7+ MB

In [11]:
alerts_df['DateTime'] = pd.to_datetime(alerts_df['DateTime'])

In [1]:
alerts_df.head()

NameError: name 'alerts_df' is not defined

In [15]:
alerts_df.to_csv('alerts_clean.csv')