In [1]:
import pandas as pd
import pickle as pkl

In [45]:
df2 = pd.read_csv('df2.csv')
irt = pd.read_csv('df_irt.csv')

In [27]:
df2

,Unnamed: 0,date,subject,message
0,2,9/30/2021 21:34,Update : BX 2 Train Delays,2 trains are proceeding with delays after our ...
1,3,9/30/2021 21:28,BX 2 Train Delays,2 trains are delayed in both directions while ...
2,4,9/30/2021 19:14,Update : BX 2 Train Delays,Southbound 2 trains are proceeding after we mo...
3,5,9/30/2021 19:10,BX 2 Train Delays,Southbound 2 trains are delayed while we inves...
4,7,9/30/2021 18:48,Update : BX 2 Train Trains Rerouted,Wakefield-bound 2 trains have resumed stopping...
...,...,...,...,...
22463,67467,1/6/2010 8:45,UPDATED : BX 2 & 5 Trains Police Investig...,2 & 5 train service has resumed with residual ...
22464,67468,1/6/2010 7:41,BX 2 & 5 Trains Police Investigation,Both directions 2 & 5 trains bypassing 3rd Av-...
22465,67471,1/5/2010 18:08,1 and 2 Lines - Late Night Service Change,Downtown 1 and 2 trains run express from 34 St...
22466,67477,1/1/2010 10:56,UPDATED : MANH 2 & 3 trains Police Investi...,2 & 3 train service has resumed with residual ...
22467,67478,1/1/2010 9:55,MANH 2 & 3 trains Police Investigation,Selected BK-bound 2 & 3 trains terminate at va...

In [46]:
planned_service = df2.loc[df2['subject'].str.contains('planned|Planned')]

In [47]:
planned_service.drop('Unnamed: 0', axis=1, inplace=True)

C:\Users\sethk\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [48]:
planned_service

,date,subject,message
2464,11/22/2020 18:04,Update : BX 2 Train Planned Work,The 2 train shuttle bus stop at 219 St is rest...
2468,11/22/2020 7:43,BX 2 Train Planned Work,The 2 train shuttle bus stop at 219 St has bee...
2475,11/21/2020 12:20,BX 2 Train Planned Work,The 2 train shuttle bus stop at 219 St has bee...
3185,8/14/2020 8:35,BX 2 Train Planned Work,Midday planned work on the 2 line has been can...
3435,7/19/2020 8:29,Update : MANH 2 Train Planned Work,The 2 shuttle bus stop for 219 St station on W...
3436,7/19/2020 8:20,MANH 2 Train Planned Work,The 2 shuttle bus stop for 215 St station on W...
3625,6/21/2020 9:56,BX 2 Train Planned Work,Morning planned work on the 2 line has finishe...
3782,5/24/2020 10:02,BX 2 and 5 Trains Planned Work,Planned work at Freeman St has concluded early...
4509,2/21/2020 9:09,BX 2 Train Planned Work Canceled,Planned work has been canceled on the 2 line t...
4562,2/14/2020 8:32,Planned Work Cancellation 2 and 5 lines,Planned Work on the 2 line has been canceled f...
4566,2/13/2020 8:36,Planned Work Suspension 2 and 5 lines,Planned Work along the 2 and 5 line is suspend...
4579,2/11/2020 9:03,Planned Work Suspension 2 line,Planned Work on the 2 line has been suspended ...
4604,2/7/2020 9:39,Planned Work Suspension 2 line,Planned Work on the 2 line has been suspended ...
4649,2/4/2020 9:25,BX 2 Trains Planned Work Cancellation,Planned Work on the 2 line is canceled for tod...
5303,11/16/2019 14:25,UPDATED : MANH 1 2 and 3 Trains Planned ...,Expect longer wait times for northbound 1 2 an...
5409,10/30/2019 22:52,MANH 2 Trains Storage of Trains for planne...,Harlem-bound 2 trains are running on the local...
5428,10/29/2019 23:46,MANH 2 Trains Storage of Trains for planne...,Harlem-bound 2 trains are running on the local...
6128,7/17/2019 3:01,UPDATED : BX 2 Trains Prepare for Planned ...,Northbound 2 trains are proceeding with delays...
6130,7/17/2019 2:38,BX 2 Trains Prepare for Planned Work,Northbound 2 trains are holding in stations wh...
7031,3/27/2019 2:59,MANH 2 Trains Planned Work,2 trains have service changes and delays becau...
8912,8/24/2018 15:00,Planned Work BX 2 and 5 Shuttle buses rero...,The following shuttle bus detour is CANCELLED ...
8917,8/23/2018 13:30,Planned Work BX 2 and 5 Shuttle buses rero...,Planned work : 2 and 5 Shuttle buses rerouted ...
9098,7/31/2018 8:42,Bx 2 and 5 Trains Planned Work,You may experience longer wait times and delay...
9893,4/8/2018 4:06,UPDATED : MANH 1 and 2 Trains Unplanned Tr...,1 and 2 train service has resumed following un...
9896,4/8/2018 3:28,MANH 1 and 2 Trains Unplanned Track Mainte...,Northbound 1 and 2 trains are running express ...
12066,7/2/2017 8:00,UPDATED : BX 2 Trains Planned Work,All 2 trains board at the Manhattan bound plat...
12067,7/2/2017 6:47,BX 2 Trains Planned Work,All 2 trains board at the Manhattan bound plat...
15668,11/13/2015 18:18,UPDATED : 2 Line - Weekday Planned Service C...,10 :15 AM to 3 PM Mon to Fri Nov 16 - 20 241 S...
18697,2/13/2014 16:47,UPDATE - 2 Line - Weeknight Planned Servic...,Due to inclement weather The following Weeknig...
18702,2/12/2014 17:25,UPDATE - 2 Line - Weeknight Planned Servic...,Due to inclement weather The following Weeknig...
18792,2/4/2014 16:45,UPDATE - 2 Line - Cancellation of Weeknigh...,The Weeknight Planned Service change scheduled...
18874,1/23/2014 16:13,UPDATE - 2 Line - Cancellation of Weekday ...,Due to inclement weather The following Weekday...
18891,1/22/2014 16:29,UPDATE - 2 Line - Cancellation of Weekday ...,Due to inclement weather The following Weekday...
18903,1/21/2014 15:45,UPDATE - 2 Line - Cancellation of Weekday ...,Due to inclement weather The following Weekda...
19980,4/4/2013 15:24,UPDATE - 2 Line - Cancellation of Weekday ...,The following Weekday Planned Service Change i...
19983,4/1/2013 15:31,UPDATE - 2 Line - Cancellation of Weekday ...,The following Weekday Planned Service Change i...
20050,2/27/2013 15:04,UPDATE 2 Line - Cancellation of Weeknight Plan...,The following Weeknight Planned Service Change...
20051,2/27/2013 15:00,UPDATE 2 Line - Cancellation of Weeknight Plan...,The following Weeknight Planned Service Change...
20176,1/18/2013 12:45,UPDATE 2 Line - Weekend Planned Service Change,3 :45 AM Sat to 10 PM Sun Jan 19 - 20 2 servic...
20177,1/18/2013 12:24,UPDATE 2 Line - Cancellation of Weekend Planne...,The following Weekday Planned Service Change i...
20881,4/9/2012 13:00,FASTRACK 1 2 and 3 Lines - Weeknight Pla...,10 PM to 5 AM Mon to Fri Apr 9-13 No 1 service...
20949,2/13/2012 11:37,FASTRACK 1 2 3 Lines - Weeknight Planned S...,NIGHTS 10 PM to 5 AM Mon to Fri Feb 13-17 No 1...
21813,12/19/2010 20:02,Bx 2 train planned work,Due to completion of planned work uptown 2 tra...
21938,10/12/2010 5:15,UPDATED : BK 2 4 trains cancellation of ...,2 & 4 trains have resumed regular service.
21941,10/11/2010 18:11,UPDATED : BK 2 4 trains cancellation of ...,Cancelation of planned work Oct 12th 2 train r...
21942,10/11/2010 17:49,BK 2 4 trains cancellation of planned work,Due to cancelation of planned work on Oct 12th...
22355,3/14/2010 8:20,UPDATED : MANH 2 & 3 trains Planned Work C...,2 & 3 trains planned work complete.
22356,3/13/2010 22:47,MANH 2 & 3 trains Planned Work Cancellation,Both directions 2 & 3 trains run regular route...

In [49]:
df2 = df2.loc[~df2['subject'].str.contains('planned|Planned')]

In [57]:
df2['date'][0][-5:]

'21:34'

In [70]:
def rush_hour(time):
    if ((time[-5:] >= '07:00' and time[-5:] <= '09:00') or (time[-5:] >= '15:00' and time[-5:] <= '18:30')):
        return 1
    else:
        return 0
def rush_hour_day(day):
    if (day >= 0 and day <= 4):
        return 1
    else:
        return 0

def weekend(day):
    if (day == 5 or day == 6):
        return 1
    else:
        return 0

In [33]:
df2['date'] = pd.to_datetime(df2['date'])

<ipython-input-33-9b72c52e37b5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['date'] = pd.to_datetime(df2['date'])

In [34]:
planned_service['date'] = pd.to_datetime(planned_service['date'])

<ipython-input-34-dd44aa30a917>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planned_service['date'] = pd.to_datetime(planned_service['date'])

In [40]:
s = pd.Series(df2['date'])

In [51]:
df2['day_of_week'] = s.dt.dayofweek

In [65]:
df2['rush_hour'] = (df2['date'].apply(rush_hour) & df2['day_of_week'].apply(rush_hour_day))

In [71]:
df2['weekend'] = (df2['day_of_week'].apply(weekend))

In [73]:
df2.drop(['Unnamed: 0', 'day_of_week'], axis=1, inplace=True)

In [288]:
irt['date']

0       2021-09-30 22:30:00
1       2021-09-30 22:00:00
2       2021-09-30 19:00:00
3       2021-09-30 18:30:00
4       2021-09-30 17:30:00
                ...
44915   2010-01-02 08:30:00
44916   2010-01-01 01:00:00
44917   2010-01-01 01:00:00
44918   2010-01-01 00:30:00
44919   2010-01-01 00:30:00
Name: date, Length: 44767, dtype: datetime64[ns]

In [78]:
s = pd.Series(irt['date'])

In [99]:
s = pd.to_datetime(s)

In [149]:
s[5]

Timestamp('2021-09-30 17:22:00')

In [102]:
from datetime import timedelta

In [152]:
while len(series1) > 45000:
    i = 0
    for date in s:
        series1 = pd.Series(date[i])
        series2 = pd.Series(date[i]+timedelta(hours=2))
        i += 1

In [153]:
series1

0   2010-01-01 00:26:00
dtype: datetime64[ns]

In [154]:
series2

0   2010-01-01 02:26:00
dtype: datetime64[ns]

In [175]:
dates = irt['date']

In [176]:
test_df = pd.DataFrame(dates)

In [111]:
daterange = sorted(daterange)

In [133]:
daterange1 = sorted(daterange1)
daterange2 = sorted(daterange2)

In [162]:
test_range = pd.date_range(start=daterange1[0], end=daterange2[0])

In [163]:
test_range

DatetimeIndex(['2010-01-01 00:26:00'], dtype='datetime64[ns]', freq='D')

In [128]:
ranges = []
while len(ranges) < 45000:
    i = 0
    for date in daterange1, daterange2:
        ranges.append(pd.date_range(start=daterange1[i],end=daterange2[i]))
        i += 1
        continue

In [130]:
ranges[0]

DatetimeIndex(['2021-09-30 22:26:00'], dtype='datetime64[ns]', freq='D')

In [177]:
test_df['date'] = pd.to_datetime(test_df['date'])

In [178]:
test_df['delta'] = (test_df['date'] + timedelta(hours=2))

In [179]:
test_df

                     date               delta
0     2021-09-30 22:26:00 2021-10-01 00:26:00
1     2021-09-30 22:13:00 2021-10-01 00:13:00
2     2021-09-30 18:50:00 2021-09-30 20:50:00
3     2021-09-30 18:40:00 2021-09-30 20:40:00
4     2021-09-30 17:42:00 2021-09-30 19:42:00
...                   ...                 ...
44915 2010-01-02 08:28:00 2010-01-02 10:28:00
44916 2010-01-01 00:56:00 2010-01-01 02:56:00
44917 2010-01-01 00:49:00 2010-01-01 02:49:00
44918 2010-01-01 00:35:00 2010-01-01 02:35:00
44919 2010-01-01 00:26:00 2010-01-01 02:26:00

[44920 rows x 2 columns]

In [180]:
test_df['range'] = pd.date_range(start=test_df['date'], end=test_df['delta'])

TypeError: Cannot convert input [0       2021-09-30 22:26:00
1       2021-09-30 22:13:00
2       2021-09-30 18:50:00
3       2021-09-30 18:40:00
4       2021-09-30 17:42:00
                ...
44915   2010-01-02 08:28:00
44916   2010-01-01 00:56:00
44917   2010-01-01 00:49:00
44918   2010-01-01 00:35:00
44919   2010-01-01 00:26:00
Name: date, Length: 44920, dtype: datetime64[ns]] of type <class 'pandas.core.series.Series'> to Timestamp

In [184]:
model_df = pd.read_csv('model.csv')

In [189]:
irt['date'] = pd.to_datetime(irt['date'])

In [191]:
irt.date = irt.date.dt.round('30min')

In [199]:
irt = irt.loc[~irt['subject'].str.contains('planned|Planned')]

In [201]:
irt.drop('Unnamed: 0', axis=1, inplace=True)

C:\Users\sethk\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [221]:
trying = pd.concat([irt, df2],join='outer')

In [222]:
trying

,date,subject,message,rush_hour,weekend
0,2021-09-30 22:30:00,Update : BX 4 Train Delays,4 trains are proceeding in both directions wit...,NaN,NaN
1,2021-09-30 22:00:00,BX 4 Train Delays,4 trains are delayed entering / leaving Woodla...,NaN,NaN
2,2021-09-30 19:00:00,Update : QNS 7 Train Delays,34 St-bound 7 trains are proceeding with delay...,NaN,NaN
3,2021-09-30 18:30:00,QNS 7 Train Delays,34 St-bound 7 trains are holding in stations i...,NaN,NaN
4,2021-09-30 17:30:00,MANH 4 5 and 6 Trains Delays,4 5 6 trains are running with extensive delays...,NaN,NaN
...,...,...,...,...,...
22463,1/6/2010 8:45,UPDATED : BX 2 & 5 Trains Police Investig...,2 & 5 train service has resumed with residual ...,0.0,0.0
22464,1/6/2010 7:41,BX 2 & 5 Trains Police Investigation,Both directions 2 & 5 trains bypassing 3rd Av-...,0.0,0.0
22465,1/5/2010 18:08,1 and 2 Lines - Late Night Service Change,Downtown 1 and 2 trains run express from 34 St...,1.0,0.0
22466,1/1/2010 10:56,UPDATED : MANH 2 & 3 trains Police Investi...,2 & 3 train service has resumed with residual ...,0.0,0.0
22467,1/1/2010 9:55,MANH 2 & 3 trains Police Investigation,Selected BK-bound 2 & 3 trains terminate at va...,0.0,0.0

In [225]:
df2['date'] = pd.to_datetime(df2['date'])

In [227]:
irt['delta'] = (irt['date']+timedelta(hours=2))

<ipython-input-227-845c2b280ca8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  irt['delta'] = (irt['date']+timedelta(hours=2))

In [229]:
pd.timedelta_range(irt['date'],irt['delta'])

ValueError: Value must be Timedelta, string, integer, float, timedelta or convertible, not Series

In [244]:
irt['date']

0       2021-09-30 22:30:00
1       2021-09-30 22:00:00
2       2021-09-30 19:00:00
3       2021-09-30 18:30:00
4       2021-09-30 17:30:00
                ...
44915   2010-01-02 08:30:00
44916   2010-01-01 01:00:00
44917   2010-01-01 01:00:00
44918   2010-01-01 00:30:00
44919   2010-01-01 00:30:00
Name: date, Length: 44767, dtype: datetime64[ns]

In [243]:
pd.Timestamp(irt['date'][5])

Timestamp('2021-09-30 17:30:00')

In [278]:
i = 0
dateranges = []
while i > 25:
    dateranges.append(pd.date_range(start=pd.Timestamp(irt['date'][i]), end=pd.Timestamp(irt['delta'][i]),freq='2h'))
    i += 1
    continue

In [280]:
dateranges

[]

In [265]:
irt['delta']

0       2021-10-01 00:30:00
1       2021-10-01 00:00:00
2       2021-09-30 21:00:00
3       2021-09-30 20:30:00
4       2021-09-30 19:30:00
                ...
44915   2010-01-02 10:30:00
44916   2010-01-01 03:00:00
44917   2010-01-01 03:00:00
44918   2010-01-01 02:30:00
44919   2010-01-01 02:30:00
Name: delta, Length: 44767, dtype: datetime64[ns]

In [281]:
i = 0
dateranges = pd.date_range(start=pd.Timestamp(irt['date'][i]), end=pd.Timestamp(irt['delta'][i]),freq='2h')
dateranges.strftime('%B %d, %Y, %r')

Index(['September 30, 2021, 10:30:00 PM', 'October 01, 2021, 12:30:00 AM'], dtype='object')

In [284]:
def brooklyn(subj):
    if df2['subject'].str.contains('bk'):
        return 1
    else:
        return 0

In [285]:
df2['brooklyn'] = df2['brooklyn'].apply(brooklyn)

KeyError: 'brooklyn'

In [289]:
irt

,date,subject,message,delta
0,2021-09-30 22:30:00,Update : BX 4 Train Delays,4 trains are proceeding in both directions wit...,2021-10-01 00:30:00
1,2021-09-30 22:00:00,BX 4 Train Delays,4 trains are delayed entering / leaving Woodla...,2021-10-01 00:00:00
2,2021-09-30 19:00:00,Update : QNS 7 Train Delays,34 St-bound 7 trains are proceeding with delay...,2021-09-30 21:00:00
3,2021-09-30 18:30:00,QNS 7 Train Delays,34 St-bound 7 trains are holding in stations i...,2021-09-30 20:30:00
4,2021-09-30 17:30:00,MANH 4 5 and 6 Trains Delays,4 5 6 trains are running with extensive delays...,2021-09-30 19:30:00
...,...,...,...,...
44915,2010-01-02 08:30:00,QNS 7 train Track Maintenance,Times Sq-bound 7 trains operating on normal ro...,2010-01-02 10:30:00
44916,2010-01-01 01:00:00,UPDATED : BX 4 Train Police Investigation,4 train service has resumed with residual delays.,2010-01-01 03:00:00
44917,2010-01-01 01:00:00,UPDATED : BX 4 Train Police Investigation,BK-bound. 4 train express Burnside Av to 125 S...,2010-01-01 03:00:00
44918,2010-01-01 00:30:00,UPDATED : BX 4 Train Police Investigation,Both directions. 4 train susp btwn Burnside Av...,2010-01-01 02:30:00
44919,2010-01-01 00:30:00,BX 4 Train Police Investigation,BK-bound. 4 train via express track Burnside A...,2010-01-01 02:30:00

In [290]:
df2.set_index('date', inplace=True)

KeyError: "None of ['date'] are in the columns"

In [292]:
df2['irt_delays'] = irt.lookup(df2.index, pd.date_range(irt['date'][0], irt['delta'][0], freq='2h'))

ValueError: Row labels must have same size as column labels