In [1]:
import pandas as pd
import pickle as pkl

In [3]:
df = pd.read_csv('../../get_data/turnstile/all_df_cleaned.csv')

In [5]:
df.drop(['control_area', 'unit', 'scp', 'desc', 'division'], axis=1, inplace=True)

In [19]:
df = df.loc[df['train_lines'].str.contains('2')]

In [9]:
df.datetime = pd.to_datetime(df.datetime)

C:\Users\sethk\anaconda3\envs\learn-env\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [13]:
df.set_index('datetime', inplace=True)

In [22]:
stamp = '2017-12-31'

In [30]:
df

,Unnamed: 0,station,train_lines,date,time,entries,exits
datetime,,,,,,,
2014-10-11 02:00:00,2547,42 ST-PA BUS TE,ACENQRS1237,10/11/2014,2:00:00,1482531,340879
2014-10-11 06:00:00,2548,42 ST-PA BUS TE,ACENQRS1237,10/11/2014,6:00:00,1482920,340945
2014-10-11 10:00:00,2549,42 ST-PA BUS TE,ACENQRS1237,10/11/2014,10:00:00,1483213,341067
2014-10-11 14:00:00,2550,42 ST-PA BUS TE,ACENQRS1237,10/11/2014,14:00:00,1484077,341252
2014-10-11 18:00:00,2551,42 ST-PA BUS TE,ACENQRS1237,10/11/2014,18:00:00,1485114,341449
...,...,...,...,...,...,...,...
2021-10-08 05:00:00,72804148,FLATBUSH AV-B.C,25,10/8/2021,5:00:00,4601162,5777837
2021-10-08 09:00:00,72804149,FLATBUSH AV-B.C,25,10/8/2021,9:00:00,4601212,5777852
2021-10-08 13:00:00,72804150,FLATBUSH AV-B.C,25,10/8/2021,13:00:00,4601229,5777869
2021-10-08 17:00:00,72804151,FLATBUSH AV-B.C,25,10/8/2021,17:00:00,4601242,5777916
2021-10-08 21:00:00,72804152,FLATBUSH AV-B.C,25,10/8/2021,21:00:00,4601251,5777948

In [32]:
df.drop(['Unnamed: 0', 'train_lines', 'date','time'], axis=1, inplace=True)

C:\Users\sethk\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [62]:
df.reset_index(inplace=True)

In [64]:
first_df = df[:1000000]

In [65]:
first_df

                  datetime          station   entries     exits
0      2014-10-11 02:00:00  42 ST-PA BUS TE   1482531    340879
1      2014-10-11 06:00:00  42 ST-PA BUS TE   1482920    340945
2      2014-10-11 10:00:00  42 ST-PA BUS TE   1483213    341067
3      2014-10-11 14:00:00  42 ST-PA BUS TE   1484077    341252
4      2014-10-11 18:00:00  42 ST-PA BUS TE   1485114    341449
...                    ...              ...       ...       ...
999995 2015-06-06 06:00:00  42 ST-PA BUS TE  50332620  16777216
999996 2015-06-06 10:00:00  42 ST-PA BUS TE  50332620  16777216
999997 2015-06-06 14:00:00  42 ST-PA BUS TE  50332620  16777216
999998 2015-06-06 18:00:00  42 ST-PA BUS TE  50332620  16777216
999999 2015-06-06 22:00:00  42 ST-PA BUS TE  50332620  16777216

[1000000 rows x 4 columns]

In [66]:
second_df = df[1000000:2000000]

In [68]:
df

                    datetime          station  entries    exits
0        2014-10-11 02:00:00  42 ST-PA BUS TE  1482531   340879
1        2014-10-11 06:00:00  42 ST-PA BUS TE  1482920   340945
2        2014-10-11 10:00:00  42 ST-PA BUS TE  1483213   341067
3        2014-10-11 14:00:00  42 ST-PA BUS TE  1484077   341252
4        2014-10-11 18:00:00  42 ST-PA BUS TE  1485114   341449
...                      ...              ...      ...      ...
11222918 2021-10-08 05:00:00  FLATBUSH AV-B.C  4601162  5777837
11222919 2021-10-08 09:00:00  FLATBUSH AV-B.C  4601212  5777852
11222920 2021-10-08 13:00:00  FLATBUSH AV-B.C  4601229  5777869
11222921 2021-10-08 17:00:00  FLATBUSH AV-B.C  4601242  5777916
11222922 2021-10-08 21:00:00  FLATBUSH AV-B.C  4601251  5777948

[11222923 rows x 4 columns]

In [70]:
third_df = df[2000000:3000000]

In [71]:
fourth_df = df[3000000:4000000]
fifth_df = df[4000000:5000000]
sixth_df = df[5000000:6000000]
seventh_df = df[6000000:7000000]
eighth_df = df[7000000:8000000]
ninth_df = df[8000000:9000000]
tenth_df = df[9000000:10000000]
eleventh_df = df[10000000:11000000]
rest = df[11000000:]

In [72]:
first_df.to_csv('2_line/first_2_line.csv')
second_df.to_csv('2_line/second_2_line.csv')
third_df.to_csv('2_line/third_2_line.csv')
fourth_df.to_csv('2_line/fourth_2_line.csv')
fifth_df.to_csv('2_line/fifth_2_line.csv')
sixth_df.to_csv('2_line/sixth_2_line.csv')
seventh_df.to_csv('2_line/seventh_2_line.csv')
eighth_df.to_csv('2_line/eighth_2_line.csv')
ninth_df.to_csv('2_line/ninth_2_line.csv')
tenth_df.to_csv('2_line/tenth_2_line.csv')
eleventh_df.to_csv('2_line/eleventh_2_line.csv')
rest.to_csv('2_line/rest_2_line.csv')

In [69]:
!pwd

/c/users/sethk/documents/flatiron/phase5_capstone/mta/mta_service_delays/data_cleaning