In [1]:
import pandas as pd
import pickle as pkl

In [2]:
df = pd.read_csv('model.csv')

In [3]:
df

,datetime,2_delayed,irt_delayed,cause(s),station(s),cross-station,rush_hour,planned_service,weather,n/b_delay,s/b_delay,borough
0,1/1/2010 0:00,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2010 1:00,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/1/2010 2:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/1/2010 3:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/1/2010 4:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
102980,9/30/2021 20:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102981,9/30/2021 21:00,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102982,9/30/2021 22:00,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102983,9/30/2021 23:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102984,10/1/2021 0:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
with open('../data/jfk.pkl', 'rb') as f:
    jfk = pkl.load(f)

In [5]:
with open('../data/ctl_pk.pkl', 'rb') as f:
    park = pkl.load(f)

In [6]:
jfk

,min_temp,avg_temp,max_temp,major_conditions,minor_conditions,neutral_conditions,normal/unknown_conditions,precipitation,avg_wind_spd,fastest_wind_time,peak_gust_time,snowfall_(in),snow_depth_(in),fastest_5_sec_wind,direction_fastest_wind
date,,,,,,,,,,,,,,,
2010-01-01,32,NaN,41,1,0,0,0,0.04,5.37,11:59 PM,11:55 PM,0.0,0.0,23.0,nw
2010-01-02,17,NaN,33,1,0,0,0,0.00,23.71,11:30 PM,8:39 PM,0.1,0.0,45.0,nw
2010-01-03,18,NaN,24,1,0,0,0,0.00,25.50,11:18 AM,12:14 PM,0.0,0.0,47.0,nw
2010-01-04,20,NaN,32,0,0,0,1,0.00,17.67,4:49 AM,4:12 AM,0.0,0.0,31.1,nw
2010-01-05,21,NaN,32,0,0,0,1,0.00,15.88,3:58 PM,3:57 PM,0.0,0.0,30.0,nw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-27,61,69.0,80,0,0,0,1,0.00,14.09,NaN,NaN,0.0,0.0,27.1,s
2021-09-28,62,69.0,76,0,0,1,0,0.09,10.96,NaN,NaN,0.0,0.0,23.9,w
2021-09-29,54,64.0,72,0,0,0,1,0.00,10.51,NaN,NaN,0.0,0.0,25.9,n
2021-09-30,54,62.0,67,0,0,0,1,0.00,9.17,NaN,7:13 AM,NaN,NaN,25.1,nw
2021-10-01,50,60.0,70,0,0,0,1,0.00,8.28,NaN,NaN,0.0,0.0,18.1,w

In [7]:
df

,datetime,2_delayed,irt_delayed,cause(s),station(s),cross-station,rush_hour,planned_service,weather,n/b_delay,s/b_delay,borough
0,1/1/2010 0:00,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2010 1:00,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/1/2010 2:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/1/2010 3:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/1/2010 4:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
102980,9/30/2021 20:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102981,9/30/2021 21:00,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102982,9/30/2021 22:00,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102983,9/30/2021 23:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102984,10/1/2021 0:00,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [9]:
df['datetime']

0        2010-01-01 00:00:00
1        2010-01-01 01:00:00
2        2010-01-01 02:00:00
3        2010-01-01 03:00:00
4        2010-01-01 04:00:00
                 ...
102980   2021-09-30 20:00:00
102981   2021-09-30 21:00:00
102982   2021-09-30 22:00:00
102983   2021-09-30 23:00:00
102984   2021-10-01 00:00:00
Name: datetime, Length: 102985, dtype: datetime64[ns]

In [10]:
df.set_index('datetime',inplace=True)

In [11]:
park

,min_temp,max_temp,major_conditions,minor_conditions,neutral_conditions,normal/unknown_conditions,precipitation,avg_wind_spd,fastest_wind_time,peak_gust_time,snowfall_(in),snow_depth_(in),fastest_5_sec_wind,direction_fastest_wind
date,,,,,,,,,,,,,,
2010-01-01,33,40,1,0,0,0,0.03,3.36,11:55 PM,11:59 PM,0.0,0.0,21.9,w
2010-01-02,17,34,1,0,0,0,0.02,12.53,11:49 PM,11:49 PM,0.2,0.0,34.9,w
2010-01-03,17,22,1,0,0,0,0.00,14.32,12:54 PM,10:55 AM,0.0,0.0,38.9,nw
2010-01-04,19,30,0,0,0,1,0.00,10.74,2:49 AM,5:22 PM,0.0,0.0,23.9,w
2010-01-05,20,30,1,0,0,0,0.00,9.84,10:06 PM,10:47 AM,0.0,0.0,23.9,w
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-27,62,78,0,0,0,1,0.00,NaN,NaN,NaN,0.0,0.0,NaN,n
2021-09-28,61,71,0,1,0,0,0.27,NaN,NaN,NaN,0.0,0.0,NaN,n
2021-09-29,54,68,0,0,0,1,0.00,NaN,NaN,NaN,0.0,0.0,NaN,n
2021-09-30,55,65,0,0,0,1,0.00,NaN,NaN,NaN,0.0,NaN,NaN,n
2021-10-01,51,67,0,0,0,1,0.00,NaN,NaN,NaN,0.0,0.0,NaN,n

In [12]:
nyc = jfk.merge(park,how='inner',on='date')

In [13]:
nyc['min_temp'] = ((nyc['min_temp_x'] + nyc['min_temp_y'])/2)

In [14]:
nyc['max_temp'] = ((nyc['max_temp_x'] + nyc['max_temp_y'])/2)

In [15]:
nyc['snowfall'] = ((nyc['snowfall_(in)_x'] + nyc['snowfall_(in)_y'])/2)

In [16]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4292 entries, 2010-01-01 to 2021-10-01
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   min_temp_x                   4292 non-null   int64
 1   avg_temp                     3106 non-null   float64
 2   max_temp_x                   4292 non-null   int64
 3   major_conditions_x           4292 non-null   int64
 4   minor_conditions_x           4292 non-null   int64
 5   neutral_conditions_x         4292 non-null   int64
 6   normal/unknown_conditions_x  4292 non-null   int64
 7   precipitation_x              4292 non-null   float64
 8   avg_wind_spd_x               4292 non-null   float64
 9   fastest_wind_time_x          638 non-null    object
 10  peak_gust_time_x             628 non-null    object
 11  snowfall_(in)_x              4291 non-null   float64
 12  snow_depth_(in)_x            4289 non-null   float64
 13  fastest_5_sec_wind_x         4218 non-null   float64
 14  direction_fastest_wind_x     4292 non-null   object
 15  min_temp_y                   4292 non-null   int64
 16  max_temp_y                   4292 non-null   int64
 17  major_conditions_y           4292 non-null   int64
 18  minor_conditions_y           4292 non-null   int64
 19  neutral_conditions_y         4292 non-null   int64
 20  normal/unknown_conditions_y  4292 non-null   int64
 21  precipitation_y              4292 non-null   float64
 22  avg_wind_spd_y               4062 non-null   float64
 23  fastest_wind_time_y          638 non-null    object
 24  peak_gust_time_y             628 non-null    object
 25  snowfall_(in)_y              4292 non-null   float64
 26  snow_depth_(in)_y            4291 non-null   float64
 27  fastest_5_sec_wind_y         4033 non-null   float64
 28  direction_fastest_wind_y     4292 non-null   object
 29  min_temp                     4292 non-null   float64
 30  max_temp                     4292 non-null   float64
 31  snowfall                     4291 non-null   float64
dtypes: float64(14), int64(12), object(6)
memory usage: 1.1+ MB

In [17]:
nyc['snowfall_depth'] = ((nyc['snow_depth_(in)_x'] + nyc['snow_depth_(in)_y'])/2)

In [18]:
nyc['prcp'] = ((nyc['precipitation_x'] + nyc['precipitation_y'])/2)

In [19]:
nyc['avg_wind_spd'] = ((nyc['avg_wind_spd_x'] + nyc['avg_wind_spd_y'])/2)

In [20]:
nyc['fastest_wind_directions'] = ((nyc['direction_fastest_wind_x'] + ', ' + nyc['direction_fastest_wind_y']))

In [21]:
nyc['fastest_wind_spd'] = ((nyc['fastest_5_sec_wind_x'] + nyc['fastest_5_sec_wind_y'])/2)

In [22]:
nyc.drop(['min_temp_x', 'min_temp_y', 'max_temp_x', 'max_temp_y','snowfall_(in)_x', 'snowfall_(in)_y',
         'snow_depth_(in)_x','snow_depth_(in)_y','precipitation_y','precipitation_x','avg_wind_spd_y',
         'avg_wind_spd_x','direction_fastest_wind_x','direction_fastest_wind_y','fastest_wind_time_x',
         'fastest_wind_time_y','peak_gust_time_x','peak_gust_time_y','fastest_5_sec_wind_x',
          'fastest_5_sec_wind_y'],axis=1,inplace=True)

In [23]:
pd.set_option('display.max_columns',None)

In [24]:
nyc['avg_temp']

date
2010-01-01     NaN
2010-01-02     NaN
2010-01-03     NaN
2010-01-04     NaN
2010-01-05     NaN
              ...
2021-09-27    69.0
2021-09-28    69.0
2021-09-29    64.0
2021-09-30    62.0
2021-10-01    60.0
Name: avg_temp, Length: 4292, dtype: float64

In [25]:
nyc['avg_temp'].fillna(value=(round((nyc['max_temp'] + nyc['min_temp'])/2)),inplace=True)

In [26]:
def fix_num(num):
    if num >= .5:
        return 1
    else:
        return 0

In [27]:
nyc['major_conditions'] = nyc['major_conditions_x']
nyc['minor_conditions'] = nyc['minor_conditions_x']
nyc['neutral_conditions'] = nyc['neutral_conditions_x']
nyc['clear_conditions'] = nyc['normal/unknown_conditions_x']

In [28]:
print(nyc.clear_conditions.value_counts(), '\n\n',
     nyc.minor_conditions.value_counts(), '\n\n',
     nyc.neutral_conditions.value_counts(), '\n\n',
     nyc.major_conditions.value_counts())

1    2513
0    1779
Name: clear_conditions, dtype: int64

 0    2805
1    1487
Name: minor_conditions, dtype: int64

 0    4192
1     100
Name: neutral_conditions, dtype: int64

 0    4100
1     192
Name: major_conditions, dtype: int64

In [29]:
# nyc['major_conditions'] = ((nyc['major_conditions_x'] + nyc['major_conditions_y'])/2)
# nyc['minor_conditions'] = ((nyc['minor_conditions_x'] + nyc['minor_conditions_y'])/2)
# nyc['neutral_conditions'] = ((nyc['neutral_conditions_x'] + nyc['neutral_conditions_x'])/2)
# nyc['clear_conditions'] = ((nyc['normal/unknown_conditions_x'] + nyc['normal/unknown_conditions_y'])/2)

In [30]:
nyc.drop(['major_conditions_x', 'major_conditions_y', 'minor_conditions_x',
          'minor_conditions_y','neutral_conditions_x', 'neutral_conditions_y',
          'normal/unknown_conditions_x','normal/unknown_conditions_y'],axis=1,inplace=True)

In [31]:
# nyc['major_conditions'] = nyc['major_conditions'].apply(fix_num)
# nyc['minor_conditions'] = nyc['minor_conditions'].apply(fix_num)
# nyc['neutral_conditions'] = nyc['neutral_conditions'].apply(fix_num)
# nyc['clear_conditions'] = nyc['clear_conditions'].apply(fix_num)

In [32]:
# nyc['clear_conditions'] = (nyc['clear_conditions'] - nyc['major_conditions'] -
#                           nyc['minor_conditions'] - nyc['neutral_conditions'])
# nyc['clear_conditions'].apply(fix_num)

In [33]:
# nyc['neutral_conditions'] = (nyc['neutral_conditions'] - nyc['major_conditions'] -
#                             nyc['minor_conditions'])
# nyc['neutral_conditions'].apply(fix_num)

In [34]:
# nyc['minor_conditions'] = (nyc['minor_conditions'] - nyc['major_conditions'])
# nyc['minor_conditions'].apply(fix_num)

In [35]:
# print(nyc.clear_conditions.value_counts(), '\n\n',
#      nyc.minor_conditions.value_counts(), '\n\n',
#      nyc.neutral_conditions.value_counts(), '\n\n',
#      nyc.major_conditions.value_counts())

In [36]:
pd.set_option('display.max_rows',90)

In [37]:
# Only 1 null in this and 3 in snowfall depth, all occured when there was no snow
nyc['snowfall'].fillna(0, inplace=True)

In [38]:
nyc['snowfall_depth'].fillna(0, inplace=True)

In [39]:
# very few nulls in both, ffill since weather will be similar day-to-day
nyc['avg_wind_spd'].ffill(inplace=True)

In [40]:
nyc['fastest_wind_spd'].ffill(inplace=True)

In [41]:
nyc.to_csv('nyc_weather.csv')

In [42]:
df.drop('weather',axis=1, inplace=True)

In [43]:
df.reset_index(inplace=True)
nyc.reset_index(inplace=True)

In [44]:
df = df.merge(nyc, how='left', left_on='datetime', right_on='date')

In [45]:
df.drop(['date', 'borough','station(s)','cause(s)'], axis=1,inplace=True)

In [46]:
df['major_conditions'].value_counts()

0.0    4100
1.0     192
Name: major_conditions, dtype: int64

In [47]:
pd.set_option('display.max_rows', 200)

In [48]:
df['major_conditions'].ffill(limit=23,inplace=True)

In [49]:
df['major_conditions'].ffill(limit=23,inplace=True)
df['minor_conditions'].ffill(limit=23,inplace=True)
df['neutral_conditions'].ffill(limit=23,inplace=True)
df['clear_conditions'].ffill(limit=23,inplace=True)
df['avg_temp'].ffill(limit=23,inplace=True)
df['min_temp'].ffill(limit=23,inplace=True)
df['max_temp'].ffill(limit=23,inplace=True)
df['fastest_wind_spd'].ffill(limit=23,inplace=True)
df['prcp'].ffill(limit=23,inplace=True)
df['snowfall'].ffill(limit=23,inplace=True)
df['snowfall_depth'].ffill(limit=23,inplace=True)
df['fastest_wind_directions'].ffill(limit=23,inplace=True)
df['avg_wind_spd'].ffill(limit=23,inplace=True)

In [50]:
df

,datetime,2_delayed,irt_delayed,cross-station,rush_hour,planned_service,n/b_delay,s/b_delay,avg_temp,min_temp,max_temp,snowfall,snowfall_depth,prcp,avg_wind_spd,fastest_wind_directions,fastest_wind_spd,major_conditions,minor_conditions,neutral_conditions,clear_conditions
0,2010-01-01 00:00:00,0,1,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0
1,2010-01-01 01:00:00,0,1,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0
2,2010-01-01 02:00:00,0,0,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0
3,2010-01-01 03:00:00,0,0,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0
4,2010-01-01 04:00:00,0,0,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102980,2021-09-30 20:00:00,0,0,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0
102981,2021-09-30 21:00:00,1,0,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0
102982,2021-09-30 22:00:00,1,1,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0
102983,2021-09-30 23:00:00,0,0,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0
102984,2021-10-01 00:00:00,0,0,NaN,NaN,NaN,NaN,NaN,60.0,50.5,68.5,0.0,0.0,0.000,9.955,"w, n",26.95,0.0,0.0,0.0,1.0

In [51]:
s = pd.date_range(start=df['datetime'].min(), end=df['datetime'].max(), freq='1H').to_series()

In [52]:
days_df = pd.DataFrame(s.dt.dayofweek)

In [53]:
days_df.reset_index(inplace=True)

In [54]:
days_df.rename(columns={0: 'day_of_week'}, inplace=True)

In [55]:
days_df

                     index  day_of_week
0      2010-01-01 00:00:00            4
1      2010-01-01 01:00:00            4
2      2010-01-01 02:00:00            4
3      2010-01-01 03:00:00            4
4      2010-01-01 04:00:00            4
...                    ...          ...
102980 2021-09-30 20:00:00            3
102981 2021-09-30 21:00:00            3
102982 2021-09-30 22:00:00            3
102983 2021-09-30 23:00:00            3
102984 2021-10-01 00:00:00            4

[102985 rows x 2 columns]

In [56]:
df

,datetime,2_delayed,irt_delayed,cross-station,rush_hour,planned_service,n/b_delay,s/b_delay,avg_temp,min_temp,max_temp,snowfall,snowfall_depth,prcp,avg_wind_spd,fastest_wind_directions,fastest_wind_spd,major_conditions,minor_conditions,neutral_conditions,clear_conditions
0,2010-01-01 00:00:00,0,1,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0
1,2010-01-01 01:00:00,0,1,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0
2,2010-01-01 02:00:00,0,0,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0
3,2010-01-01 03:00:00,0,0,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0
4,2010-01-01 04:00:00,0,0,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102980,2021-09-30 20:00:00,0,0,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0
102981,2021-09-30 21:00:00,1,0,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0
102982,2021-09-30 22:00:00,1,1,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0
102983,2021-09-30 23:00:00,0,0,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0
102984,2021-10-01 00:00:00,0,0,NaN,NaN,NaN,NaN,NaN,60.0,50.5,68.5,0.0,0.0,0.000,9.955,"w, n",26.95,0.0,0.0,0.0,1.0

In [57]:
df = df.merge(days_df, how='left',left_on='datetime',right_on='index')

In [58]:
df.drop('index', axis=1, inplace=True)

In [59]:
df

,datetime,2_delayed,irt_delayed,cross-station,rush_hour,planned_service,n/b_delay,s/b_delay,avg_temp,min_temp,max_temp,snowfall,snowfall_depth,prcp,avg_wind_spd,fastest_wind_directions,fastest_wind_spd,major_conditions,minor_conditions,neutral_conditions,clear_conditions,day_of_week
0,2010-01-01 00:00:00,0,1,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0,4
1,2010-01-01 01:00:00,0,1,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0,4
2,2010-01-01 02:00:00,0,0,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0,4
3,2010-01-01 03:00:00,0,0,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0,4
4,2010-01-01 04:00:00,0,0,NaN,NaN,NaN,NaN,NaN,36.0,32.5,40.5,0.0,0.0,0.035,4.365,"nw, w",22.45,1.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102980,2021-09-30 20:00:00,0,0,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0,3
102981,2021-09-30 21:00:00,1,0,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0,3
102982,2021-09-30 22:00:00,1,1,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0,3
102983,2021-09-30 23:00:00,0,0,NaN,NaN,NaN,NaN,NaN,62.0,54.5,66.0,0.0,0.0,0.000,9.955,"nw, n",26.95,0.0,0.0,0.0,1.0,3
102984,2021-10-01 00:00:00,0,0,NaN,NaN,NaN,NaN,NaN,60.0,50.5,68.5,0.0,0.0,0.000,9.955,"w, n",26.95,0.0,0.0,0.0,1.0,4

In [60]:
df.to_csv('../data/model.csv')

In [61]:
df.datetime[0].weekday

In [62]:
def rush_hour(time):
    if ((time >= 7 and time <= 9) or (time >= 15 and time <= 18)):
        return 1
    else:
        return 0
def rush_hour_day(day):
    if (day >= 0 and day <= 4):
        return 1
    else:
        return 0

df['rush_hour'] = (df['datetime'].apply(rush_hour) & df['day_of_week'].apply(rush_hour_day))
df['rush_hour'].value_counts()

TypeError: '>=' not supported between instances of 'Timestamp' and 'int'

In [ ]:
df['day_of_week'] = df['datetime'].strftime('%A')

In [ ]:
df['datetime']

In [ ]:
nyc['date'][0].dayofweek