In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
driver = webdriver.Chrome()
driver.get("https://www.mymtaalerts.com/archive")

In [3]:
start_date = driver.find_element_by_xpath("//*[@id='ctl00_ContentPlaceHolder1_dtpStartDate_dateInput']")
start_date.send_keys('01/01/2018')

In [4]:
end_date = driver.find_element_by_xpath("//*[@id='ctl00_ContentPlaceHolder1_dtpStopDate_dateInput']")
end_date.send_keys('09/30/21')

In [5]:
agency = driver.find_element_by_xpath("//*[@id='ctl00_ContentPlaceHolder1_ddlAgency']")
agency.send_keys('NYCT Subway')

In [6]:
no_esc = driver.find_element_by_xpath("//*[@id='ctl00_ContentPlaceHolder1_chkHideElevatorEscalator']")
no_esc.click()

In [7]:
update_button = driver.find_element_by_xpath("//*[@id='ctl00_ContentPlaceHolder1_btnGetData']")
update_button.click()

In [8]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [9]:
messages = soup.findAll(class_=['rgRow', 'rgAltRow'])

In [9]:
i = 0
msg_list = []
while len(msg_list) <= 100500:
    messages = soup.findAll(class_=['rgRow', 'rgAltRow'])
    for message in messages:
        msg_list.append(message)
        i += 1
        if i % 50 == 0:
            next_page = driver.find_element_by_xpath("//*[@id='ctl00_ContentPlaceHolder1_gridMessages_ctl00']/tfoot/tr[2]/td/div/div[3]/button[1]")
            next_page.click()
            time.sleep(1)
            soup = BeautifulSoup(driver.page_source, 'html.parser')
            messages = soup.findAll(class_=['rgRow', 'rgAltRow'])

In [10]:
msg_df = pd.DataFrame(msg_list, dtype='object')
msg_df

C:\Users\sethk\anaconda3\envs\mta_env\lib\site-packages\pandas\core\internals\construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

,0,1,2,3,4,5,6
0,\n,[1122932],"[9/30/21, [], 11:54 PM]",[NYC],"[Update: BKLYN, Franklin Av S Train, Some Delays]",[Franklin Av Shuttle trains are delayed in bot...,\n
1,\n,[1122930],"[9/30/21, [], 11:54 PM]",[NYC],"[BKLYN, Franklin Av S Train, Some Delays]",[Franklin Av Shuttle trains are delayed in bot...,\n
2,\n,[1122928],"[9/30/21, [], 11:49 PM]",[NYC],"[Update: BKLYN, Q Train, Delays]",[Q trains are delayed in both directions while...,\n
3,\n,[1122926],"[9/30/21, [], 11:43 PM]",[NYC],"[Update: BKLYN, Q Train, Delays]",[Q trains are proceeding in both directions wi...,\n
4,\n,[1122924],"[9/30/21, [], 11:38 PM]",[NYC],"[BKLYN, Q Train, Delays]",[Q trains are delayed in both directions while...,\n
...,...,...,...,...,...,...,...
100505,\n,[485574],"[1/1/18, [], 2:50 AM]",[NYC],"[MANH, N and Q Trains, Signal Problems]",[Southbound N and Q trains are running express...,\n
100506,\n,[485569],"[1/1/18, [], 1:13 AM]",[NYC],"[UPDATED: MANH, A, C, D, E and F Trains, New Y...","[A, C, D, E and F train service has resumed fo...",\n
100507,\n,[485565],"[1/1/18, [], 12:24 AM]",[NYC],"[UPDATED: BX, 4 Trains, Switch Problems]",[4 train service has resumed following earlier...,\n
100508,\n,[485564],"[1/1/18, [], 12:20 AM]",[NYC],"[UPDATED: MANH, A, C, D, E and F Trains, New Y...","[A, C, D, E and F trains are running with dela...",\n
100509,\n,[485563],"[1/1/18, [], 12:20 AM]",[NYC],"[UPDATED: MANH, N and R Trains, Signal Problems]",[Southbound N and R trains are running with de...,\n

In [11]:
msg_df.to_csv('second_data.csv')